[2019-12-29 21:42] torerobo opened #489 "Add search "oracle""
[code]

[2019-12-29 21:53] torerobo opened #490 "Add "search "whonix""
[code]

[2019-12-29 22:15] torerobo opened #491 "Add search "velomania""
[code]

[2019-12-29 22:36] torerobo opened #492 "Add search "hunting""
[code]

[2019-12-29 23:03] torerobo opened #493 "Add search "forumhouse""
[code]

[2019-12-30 09:38] torerobo opened #494 "Add search "radioskot & elwo""
[code]

[2019-12-30 09:39] torerobo opened #495 "Add search "Antichat""
[code]

[2019-12-30 11:22] smfreak opened #496 "issues with installing requirements.txt"
I keep getting this issue when downloading the requirements

![Screen Shot 2019-12-30 at 6 20 29 AM](https://user-images.githubusercontent.com/37509422/71579952-b402d180-2acc-11ea-8134-310f9830dbde.png)

I do have python3 and pip installed

[2019-12-31 03:12] JIGEQIU commented on #496
I also encountered the same problem

[2019-12-31 07:17] JIGEQIU commented on #496
I also encountered the same problem,Try using "pip3 install torrequest"

[2019-12-31 08:36] smfreak commented on #496
still having the same problem

[2019-12-31 09:36] sdushantha commented on #496
@paulodiovani

[2019-12-31 10:50] torerobo opened #497 "Add search "forum_guns; pvpru; igromania; 3dnews; phpRU; 4pda""
[code]

[2019-12-31 12:43] hoadlck commented on #487
"Gitee" does seem to work.  I found a username.

[2019-12-31 12:46] hoadlck commented on #487
I am able to access "Viadeo" from USA.  The tests do work for that site.

[2019-12-31 13:39] #482 closed

[2019-12-31 13:39] #483 closed

[2019-12-31 13:39] #484 closed

[2019-12-31 13:39] #488 closed

[2019-12-31 13:39] #489 closed

[2019-12-31 13:39] #490 closed

[2019-12-31 13:39] #491 closed

[2019-12-31 13:39] #492 closed

[2019-12-31 13:39] #493 closed

[2019-12-31 13:39] #494 closed

[2019-12-31 13:39] #495 closed

[2019-12-31 13:39] #497 closed

[2019-12-31 14:06] hoadlck commented on #487
Included changes in #499.  Except for "Gitee" and "Viadeo" as mentioned above.

[2019-12-31 14:06] #487 closed

[2019-12-31 14:52] Alexandros-Kordatzakis commented on #301
Works great for me! Same speed as always, but with correct results and no errors!! [Maybe +2,3 seconds ,but thats nothing
Thank you!

[2019-12-31 15:28] torerobo commented on #479
Sorry

ON
[code]
Test
![1](https://user-images.githubusercontent.com/35532898/71625902-60db6c80-2bfb-11ea-9033-a115ca88241a.png)

[2019-12-31 15:35] torerobo commented on #480
Sorry!

On
![2](https://user-images.githubusercontent.com/35532898/71626047-376f1080-2bfc-11ea-8674-420bf439b066.png)

[code]

[2019-12-31 16:51] hoadlck commented on #479
Merged in #500

[2019-12-31 16:51] #479 closed

[2019-12-31 16:51] hoadlck commented on #480
Merged in #500.

[2019-12-31 16:51] #480 closed

[2020-01-01 08:39] torerobo opened #501 "Add option "--update" to Sherlock"
Those users who installed Sherlock in the past may not be aware of new changes / features in the updated program, including updating the data.json database, and this in turn reduces Sherlocka’s competition with other similar OSINT tools.

I suggest adding the option "**--update**".

Example.
`python3 sherlock.py --update # calls regular update.sh, which says the following.`

update.sh
[code]
This

[2020-01-01 09:00] LameLemon commented on #496
Looks like git.torproject might have been down for a while, have you tried again since then?

[2020-01-01 09:01] LameLemon commented on #445
Can I have some examples of the false negatives please.

[2020-01-01 09:15] sdushantha commented on #501
After the restructuring has been done, Sherlock will be added to PyPi. So people will be able to update Sherlock using ```pip``` after that. I think I would be nice to add Sherlock to the AUR as well.

[2020-01-01 12:42] hoadlck commented on #501
Don't forget that Sherlock already has the ability to use the latest JSON file: one can point the Sherlock installed locally at the latest version on GitHub.  For example:
[code]
Even if you don't want to do that, you can just type
[code]
on the command line, and you will update to the latest version.

[2020-01-01 14:42] sdushantha commented on #501
Closing this because a solution has found 👍

[2020-01-01 14:42] #501 closed

[2020-01-01 14:43] #475 closed

[2020-01-03 08:07] torerobo opened #502 "Add search "recruiting; lolchess; realmeye; euw; steamid""
[code]

[2020-01-03 09:36] torerobo opened #503 "Add search "kali community""
[code]

[2020-01-04 13:09] on1yyou commented on #462
python3 -m pip install -r requirements.txt  worked fine. thank you :)

[2020-01-05 09:22] torerobo opened #504 "Add search "professionali; rapforce; rusarmy; prizyvnik; forum.tks""
[code]

[2020-01-05 14:50] liubin12345 commented on #496
I also encountered the same problem, is there anyone who can solve the problem ?

[2020-01-07 06:21] und3fined404 commented on #462
# python3 -m pip install -r requirements.txt
/usr/bin/python3: No module named pip

[2020-01-07 06:32] und3fined404 opened #505 "No module named 'requests_futures' tried everything"
when using `python3 sherlock.py user123`

whenusing `python sherlock.py user123`

Tried `sudo python3 -m pip install -r requirements.txt`

Then Tried `sudo python -m pip install -r requirements.txt`

And still same issue

[2020-01-07 06:48] und3fined404 commented on #246
# python3 -m pip install -r requirements.txt
/usr/bin/python3: No module named pip

[2020-01-07 16:38] gaaaaaaavin commented on #496
I'm having the same issue too

[2020-01-07 19:57] TCsTheMechanic commented on #503
Working on it :smile:

[2020-01-09 11:17] Doty43 opened #507 "Issues with Sherlock"
Sorry for my English.

I'm trying to follow this steps

https://null-byte.wonderhowto.com/how-to/hunt-down-social-media-accounts-by-usernames-with-sherlock-0196138/

I've installed python 3.8, python 3.8.1 shell, git Bash, Gui..

When I used Git Bash to run the commands, there is a moment where it says "permissions denied", exactly after i run this: python3 -m pip install -r requirements.txt

What

[2020-01-09 14:03] sdushantha commented on #507
@Doty43 Could you please send a screenshot or a screen recording of what is happening?

[2020-01-09 14:10] sdushantha commented on #505
@und3fined404 Please do not run with `sudo`.
So run it like this:
[code]

[2020-01-09 14:26] sdushantha commented on #505
@und3fined404 I just relised that you do not have `pip`.
You first have to install `pip`. I assume you are using Ubuntu, Debian or Kali Linux, so run this command to install `pip`:
[code]

[2020-01-09 14:29] sdushantha commented on #445
Closing this issue as it is inactive. Also the account that was used to submit this issue seems like a throw away account because it was created only a month ago and it was only used to submit this issue, so I don think we will be hearing from them again. But if we do, feel free to reopen this issue :)

[2020-01-09 14:29] #445 closed

[2020-01-09 14:30] #496 closed

[2020-01-09 14:37] sdushantha commented on #69
The Chinese sites have been added

[2020-01-09 14:37] #69 closed

[2020-01-09 14:39] sdushantha commented on #5
Closing this issue as it has been fixed. There is also an option **not** not have colors which was introduced in #463

[2020-01-09 14:39] #5 closed

[2020-01-09 14:43] sdushantha commented on #13
Closing this because this is being done now. It is very difficult to come up with a regex for some sites because they do no provide us any information about what they username criteria is. We currently have 16 sites which has a regex check.

[2020-01-09 14:43] #13 closed

[2020-01-09 14:46] sdushantha commented on #21
@conilas Check out https://github.com/iojw/socialscan which claims it performs with 100% accuracy. It looks like a really nice tool and it might be something we could look into adding to Sherlock once we are done with the refractoring.

[2020-01-09 14:46] #21 closed

[2020-01-09 14:47] sdushantha commented on #360
Closing this because it has nothing do with Sherlock

[2020-01-09 14:47] #360 closed

[2020-01-09 15:23] Doty43 commented on #507
![SharedScreenshot](https://user-images.githubusercontent.com/59690547/72080069-007fb580-32f4-11ea-8ad3-a14fca6a4f81.jpg)

[2020-01-09 15:25] Doty43 commented on #507
I could run it in Cloud shell, but i have to setup a virtual env to install the package colorama every time.

[2020-01-09 20:37] sdushantha commented on #507
@Doty43 Take a look at this: https://superuser.com/a/1486383
This seems to be a known problem on Windows: https://stackoverflow.com/a/57168165

[2020-01-09 20:50] LameLemon commented on #477
I tried Thingiverse with the JSON entry above on the usernames listed below and got the correct results almost immediately on two different days.

Usernames:
* blue
* whowouldusethis
* jenny
* afakeaccount7

[2020-01-10 15:13] torerobo opened #509 "Add search "pokerstrategy""
[code]

[2020-01-10 15:18] torerobo opened #510 "Add search "social.librem""
[code]

[2020-01-10 15:24] torerobo opened #511 "Add search "xss""
[code]

[2020-01-10 15:24] torerobo opened #512 "Add search "swimming_forum""
[code]

[2020-01-10 15:29] torerobo commented on #456
@sdushantha @hoadlck  suggest adding this site. I watched him for a long time. The site is accessible and normal. I checked through different vps.

Check, please

[2020-01-10 16:15] sdushantha commented on #456
![Screenshot_20200110-171512_Firefox Preview](https://user-images.githubusercontent.com/27065646/72168103-c9c99e00-33cc-11ea-8cab-56d8241adfeb.png)
@torerobo

[2020-01-13 09:50] torerobo opened #520 "Add search "raidforums""
[code]

[2020-01-14 08:17] aslmx opened #522 "Feature Request: site groups to query sites that have similar purpose/are similar"
Hi,

i opened a pull request to add some Mastodon instances. In case you are not aware how mastodon works: it is federated like email.
That means, there can be multiple persons having the same username on different instances. Hence this tool is even more useful to find available names across instances. Of course there are thousands of mastodon instances, i just added the most popular that turn up

[2020-01-14 08:45] torerobo opened #523 "Add search "soylentnews""
[code]

[2020-01-14 12:31] hoadlck commented on #522
Yes, I think that Sherlock needs this type of support.  But, what I envision is tag support (GitHub calls them Topics).

The idea is that each site would have a list of tags that provide some context for what each site was about.  For example, "news", "video", "social", "picture" would be example tags.  A site like YouTube would have tags for "social" and "video", while a site like Instagram would

[2020-01-14 13:53] aslmx commented on #522
Great! Sounds to me like you want to implement exactly what i was thinking about :)

[2020-01-15 09:43] ndtreviv commented on #392
Add imgur to this. It returns a blank profile page if the name doesn't actually return a positive result, and that blank page is picked up as a false positive by the checker.

[2020-01-19 08:30] torerobo opened #524 "Fix "379""
https://github.com/sherlock-project/sherlock/pull/379/commits/f2eb4d22691cefc3f60202aeaeeec1a26188a09f

 ̶"̶G̶P̶S̶i̶e̶s̶"̶:̶ ̶{̶
̶ ̶ ̶ ̶ ̶"̶e̶r̶r̶o̶r̶T̶y̶p̶e̶"̶:̶ ̶"̶m̶e̶s̶s̶a̶g̶e̶"̶,̶
̶ ̶ ̶ ̶ ̶"̶e̶r̶r̶o̶r̶M̶s̶g̶"̶:̶ ̶"̶<̶t̶i̶t̶l̶e̶>̶G̶P̶S̶i̶e̶s̶"̶,̶
̶ ̶ ̶ ̶ ̶"̶r̶a̶n̶k̶"̶:̶ ̶7̶5̶4̶8̶6̶,̶
̶ ̶ ̶ ̶ ̶"̶u̶r̶l̶"̶:̶ ̶"̶h̶t̶t̶p̶s̶:̶/̶/̶w̶w̶w̶.̶g̶p̶s̶i̶e̶s̶.̶c̶o̶m̶/̶m̶a̶p̶U̶s̶e̶r̶.̶d̶o̶?̶u̶s̶e̶r̶n̶a̶m̶e̶=̶

[2020-01-19 08:35] torerobo commented on #503
The site has changed the answer.
[code]

[2020-01-19 08:51] torerobo opened #525 "Expand "errorMsg""
? Is it possible to expand:
  "errorMsg": "The User ID you entered was not found",
  "errorType": "message",

For example, due to the fact that my "user agent" sends the Cyrillic alphabet, I constantly get a false positive on the site "Ebay"
![2](https://user-images.githubusercontent.com/35532898/72677886-ef803280-3ab1-11ea-9fb8-a2cf0fe193cf.png)

![1](https://user-images.githubusercontent.com/355

[2020-01-19 14:04] sdushantha commented on #524
Fixed :)

[2020-01-19 14:04] #524 closed

[2020-01-20 04:40] bentton opened #526 "Add Discord support"
[code]

[2020-01-20 16:12] sdushantha commented on #526
@bentton That is an interesting site, I like it. I think it would be more correct to change the site name to `dis.cool` instead of `Discord` because that is not really Discord.

[2020-01-20 17:51] un1que00 commented on #507
I had a similar problem, so I updated/installed a couple missing libraries and that seemed to fix some problems but I still get an error message 'failed to build wheel for lxml' and things go bad after this.
libxml2 is installed and another error asks if it is installed and that there is no xmlcheckversion function in libxml2.

[2020-01-20 18:04] bentton commented on #526
@sdushantha Alright I edited it.

[2020-01-20 18:05] sdushantha commented on #507
@un1que00 I dont use Windows, so I cant be much help, but check this out: https://stackoverflow.com/a/33785756

[2020-01-20 18:08] #526 closed

[2020-01-20 18:08] sdushantha commented on #526
added it :)

[2020-01-21 12:25] LameLemon commented on #525
That's a good idea, I can work on supporting that. If the contributors are fine with adding it.

This issue should be marked as a feature request.

[2020-01-21 16:32] Zin-Thu-Htet opened #527 "I am interesting to add new 3 features in this application"

[2020-01-21 19:08] LameLemon opened #528 "Pexels and Pixabay use Cloudflare"
Both Pexels and Pixabay now use Cloudflare and I am unable to find a way around it. Tried making a request through curl with all the headers and cookie that my browser uses but still could not bypass Cloudflare.

Both these sites currently give false negatives with Sherlock.

[2020-01-23 08:00] avik1991 opened #530 "Error message"
[code]

[2020-01-23 08:39] LameLemon commented on #530
Hello,

Have you cloned Sherlock straight from the master branch? Can you make sure there were no changes made locally to the code. I just fetched the latest commit and it worked for me on two different machines.

: )

[2020-01-23 11:31] hoadlck commented on #530
Looks like you are trying to run Sherlock with a version of Python before 3.6.  If you type, `python3 --version`, what do you get?

[2020-01-25 21:42] RiFellz opened #531 "requirements error!"
[code]

[2020-01-26 10:51] torerobo opened #532 "Add search "pcgamer""
[code]

[2020-01-26 15:29] JMS53 commented on #531
apt-get install python3-pip

[2020-01-29 19:44] PurpleViolentLocust commented on #530
I am getting the same error, my python version is 3.73.

[2020-02-02 00:57] Petraconsulting commented on #462
I had a similar issue I did the following and it worked:
pip install --upgrade pip
python3.8 sherlock.py --help

for some I was receiving an error that my pip was 8.0.1 even though I had pip 20.0, but upgrade seemed to fix the problem.  Also, instead of merely using 'python3' I used 'python3.8' which is the latest version I have installed in addition to python2.7.  Hope that helps!!

[2020-02-02 03:10] fixitfeelex commented on #462
I have tried that and gotten this /usr/local/bin/python3: No module named pip
and I am using Kali Linux.

[2020-02-02 07:02] sdushantha commented on #462
@fixitfeelex Looks like you need to install `pip`. You can easily do that by running this command:
[code]

[2020-02-02 14:12] fixitfeelex commented on #462
I have tried that but, I get this

[code]
I am now trying to use Ubuntu because Kali Linux wouldn't work. Sorry if this causes misunderstanding or any trouble.

[2020-02-02 15:13] sdushantha commented on #462
@fixitfeelex This might help you, https://askubuntu.com/a/1061488/782646
Also check the comment of that answer ^^

[2020-02-02 16:01] fixitfeelex commented on #462
I have figured it out, thank you very much. I have a question, did you develop this? I went to Null Byte for help but that didn't work at that time but I think I saw you in the comments?

[2020-02-02 16:04] sdushantha commented on #462
@fixitfeelex Yup, I did indeed create Sherlock, but with the help of @hoadlck and many other developers, we were able to improve it with many features :)

[2020-02-02 16:05] fixitfeelex commented on #462
This software is very amazing, you did very well. Thank you.

[2020-02-02 16:11] fixitfeelex commented on #462
Null Byte used whois, I need to install that I'm guessing?

[2020-02-02 16:13] sdushantha commented on #462
@fixitfeelex Hmmm...thats strange. `whois` is not needed for Sherlock to work

[2020-02-02 16:14] fixitfeelex commented on #462
He did not use it in the sherlock directory, he used it to search information on something. Can I use sherlock to do that without whois installed?

[2020-02-02 19:01] sdushantha commented on #462
@fixitfeelex The `whois` command that he uses is used to get info about the site which the user uses. Sherlock does not do this. So this means who you have to install the command `whois` do get this information.

[2020-02-03 15:13] dhruv-ks opened #535 "Could not find a version that satisfies the requirement requests-futures (from versions: )"
i tried all method but nothing is working and same error is showing again and again

[2020-02-03 16:48] sdushantha commented on #535
Try doing this:
[code]

[2020-02-04 15:27] #509 closed

[2020-02-04 22:34] fixitfeelex commented on #462
Since I can look up accounts with sherlock, what can I do with the found accounts?

[2020-02-05 05:08] sdushantha commented on #462
@fixitfeelex You can learn about the user's interests, style of writing, where they are from, info about family, etc.

You can do many things with type of information. If you are trying to find a missing person, then this can lead you up to clues. Or if you trying to so social engineer someone, then you can use this info to trick them multiple ways.

In the end of the day, be careful and make sure

[2020-02-05 08:23] torerobo commented on #511
Closed the forum from guests

[2020-02-05 08:23] #511 closed

[2020-02-05 08:25] torerobo opened #536 "Add search "svidbook""
[code]

[2020-02-05 13:48] #536 closed

[2020-02-05 15:41] Deepako0 opened #537 "Error while doing a phishing attack in linux using social engineering tool kit"
I am cloning a website using social engineering toolkit.I am using ngrok to cover my ipaddress.When i did port forwarding and entering the ngrok link it is saying that ""connection from client to server is failed and make sure that website service is running on that host"".Please help me with this issue!!!!

[2020-02-05 18:29] hoadlck commented on #537
You are doing a phishing attack? You are misusing Sherlock to do something illegal, are having problems doing your illegal action, and are asking for help?

Is this why Sherlock is so popular? Script Kiddies are using it to phish? How do you even use Sherlock to phish?

[2020-02-06 05:00] sdushantha commented on #537
@Deepako0 Buddy...
1. I think you made an issue in the wrong GitHub repo.
2. Dont do anything illegal and don't ask for help to do something illegal because you wont be getting help.

[2020-02-06 23:12] fixitfeelex commented on #462
It won't load past "HackerRank" any reason why?

[2020-02-07 03:22] skluthe opened #540 "Web Interface?"
I'm currently putting together a scanning server that I can hit from a few different places and wanted to suggest putting together a web interface for this similar to SpiderFoot.

It would be pretty beneficial to some users and could make adding sites easier depending on how you do things.

[2020-02-07 05:12] sdushantha commented on #537
Closing this as it is irrelevant

[2020-02-07 05:12] #537 closed

[2020-02-09 17:12] hoadlck commented on #540
The restructure of Sherlock (#350) would enable one to include it like a normal Python module.  So, it can be downloaded on PyPi.

While I have made some progress, it is stalled right now.  Not enough free time after my day job...  But that development will make it easier to do what you are talking about.

[2020-02-10 20:07] dd-pardal opened #541 "False positives"
## False positives for any username

Here's an example output for a "random" username:

[code]

GPSies moved its website. CapFriendly is especially weird. It seems to generate random details for nonexistent users. The other ones say that the user doesn't exist.

## False positives for usernames with `.`

[code]

## False positives for usernames with `_`

[code]

Hostnames can't contain underscores

[2020-02-11 14:41] ndtreviv opened #543 "False Positives when searching with email address"
When searching with an email address the following sites return false positives:

* twitter
* codechef
* coderwall
* IFTTT
* telegram

[2020-02-12 13:30] DASnoeken commented on #541
I've just written a webcrawler using BeautifulSoup that can (right now) only check Twitter. That seems to fix the problem (only for twitter of course, i.e. 'realdonaldtrump' comes back positive and 'amffdsfjvidsvck' comes back negative).
I think this is more like a (inefficient) dirty quick fix though, especially since I'm only a beginner Python programmer. It could be extended to other websites,

[2020-02-13 16:02] Hulumulu0451 opened #544 "Error"
time_entry = Entry(textvariable = time, width = "30", height = "60")

says something's wrong with this line.
(time is a  variable)
Huge thanks for your help

[2020-02-14 01:20] jigsaw678 opened #545 "error when searching"
[code]

[2020-02-14 12:42] hoadlck commented on #544
I don't see any line like this in Sherlock.  How is this error related to this project?

[2020-02-14 12:45] hoadlck commented on #545
You need to install the required dependencies.  Look in the [README](https://github.com/sherlock-project/sherlock/blob/master/README.md) under installation.
[code]

[2020-02-18 05:38] sdushantha commented on #543
@ndtreviv Sherlock does not support searching with email address and it is stated in the description of the program:

So, unfortunately we wont be fixing this as searching by email is not a functionality of Sherlock.

--

I am closing this issue as it is not really relevant to Sherlock

[2020-02-18 05:38] #543 closed

[2020-02-18 05:39] #544 closed

[2020-02-18 05:43] #347 closed

[2020-02-18 05:43] #349 closed

[2020-02-18 05:43] #352 closed

[2020-02-18 05:44] #355 closed

[2020-02-18 05:44] #507 closed

[2020-02-18 08:51] #357 closed

[2020-02-18 08:52] #450 closed

[2020-02-18 08:53] #462 closed

[2020-02-18 09:00] #461 closed

[2020-02-18 09:01] #531 closed

[2020-02-18 09:02] #545 closed

[2020-02-18 09:03] #505 closed

[2020-02-18 11:05] #359 closed

[2020-02-20 05:04] powderedsalt opened #549 "git clone does not work"
whenever i try to clone it using the link, it doesn't work, it gives an error for he letter c in clone

[2020-02-20 08:35] sdushantha commented on #549
@powderedsalt Could you please send a screenshot of what is happening?

[2020-02-20 14:46] 9Leunam commented on #535
Install "clang" by typing
apt install clang

[2020-02-21 04:19] powderedsalt commented on #549
![Capture](https://user-images.githubusercontent.com/61220993/75003894-3f8a4600-541e-11ea-9748-5b8b3f979495.JPG)

[2020-02-21 10:25] sdushantha commented on #549
1. Download the ZIP file, (Click [here](https://github.com/sherlock-project/sherlock/archive/master.zip))
2. Unzip the file by right clicking the file and clicking on **Extract all...**
3. Open CMD and the type `cd /path/to/folder/`, where **/path/to/folder/** is the path to where unzipped folder is located
4. Then install the dependencies for Sherlock by typing `python3 -m pip install --user -r r

[2020-02-21 10:25] #549 closed

[2020-02-23 13:54] MHohenberg commented on #527
About 1: Remember the Unix paradigm: Do one thing and do it well. It is trivially easy to create an HTML file outside of sherlock with the information sherlock provides.

... and 3: This again could be a basic bash wrapper script.

Not wanting to steal your thunder, but let's not make this bloatware.

[2020-02-23 17:35] #527 closed

[2020-02-23 18:18] sdushantha commented on #541
@DASnoeken I have fixed these sites, which are some of the ones you mentioned above:
https://trashbox.ru
https://ask.fm
https://www.house-mixes.com
http://insanejournal.com
https://www.ifttt.com
https://flightradar24.com

[2020-02-24 04:01] hoadlck commented on #528
These sites have been removed with #556.  Thanks for reporting the problem.

[2020-02-24 04:01] #528 closed

[2020-02-28 14:23] SirEnvious opened #558 "Can’t install dependencies"
![2DE68EAF-85D6-4141-B24B-FABE6D419B2B](https://user-images.githubusercontent.com/61590409/75555678-956d7800-5a34-11ea-8362-289ff6249018.jpeg)

I’m trying to install the requirements on my jailbroken iPhone using a terminal, trying to $ pip install gives back a “this command does not exist” I manually installed all the requirements but it didn’t make a difference.

[2020-02-28 14:51] SirEnvious commented on #558
Okay I fixed the pip issue but now I’m getting this
![58B58869-C9B8-4981-94ED-7E444ADD4D8A](https://user-images.githubusercontent.com/61590409/75558490-ce5c1b80-5a39-11ea-9054-cbe3e54f74c1.jpeg)

[2020-02-29 04:11] nathanieloffer opened #559 "Results files saved to specific folder"
Having just installed Sherlock I was surprised to see the results files are just jumbled in with everything else instead of being in their own Results folder.

Having a separate folder would keep things cleaner especially as you use it more and the number of files increases.

[2020-02-29 05:23] hoadlck commented on #559
There is an option to save the results to a directory.  Below is an excerpt from the readme and the help for the tool:
[code]

[2020-02-29 05:29] hoadlck commented on #558
The problem you are having has nothing to do with Sherlock: it has to do with the dependencies on the computer you are trying to get setup.

The error message appears to be from a compile.  It is trying to compile something from libxml, and either the include search path is incorrect, or you do not have that dependency on your computer.

[2020-02-29 05:47] nathanieloffer commented on #559
Thank you for highlighting that however as it states in the README "If using multiple usernames" I can use that option but if I search for single usernames multiple times I can't. I was just surprised that an option like this wasn't the default for any searches performed with the script

[2020-02-29 12:27] hoadlck commented on #559
The option works regardless of the number of usernames that you use.  The help text is trying to convey that this option is useful if you have results from multiple usernames: be it one invocation of Sherlock with multiple usernames, or successive invocations of Sherlock each with one username.

[2020-02-29 12:40] #559 closed

[2020-03-08 15:51] relative opened #561 "change dis.cool to tracr.co"
Nothing has changed in the backend, but dis.cool was forced to change domains.
dis.cool is now located at tracr.co, it should just require changing dis.cool to tracr.co

[2020-03-09 16:02] #532 closed

[2020-03-11 10:30] jeroen7s commented on #541
i'm getting different false positives.
[code]

[2020-03-11 10:42] jeroen7s commented on #541
TamTam and RubyGem seem to return false positives for strings starting with a Number.
For RubyGem:
using 58any8random7string4here returns user with profile "58", so the site silently drops everything after the first non-numerical character.
If the first character is NOT a numerical character, it does a search on profile name.

[2020-03-11 19:10] #561 closed

[2020-03-11 19:28] sdushantha commented on #541
I think it is best to remove these sites as I cant find any username rules for these sites:
https://trashbox.ru/users/fghfgn.tiojydf
https://easyen.ru/index/8-0-fghfgn.tiojydf
https://elwo.ru/index/8-0-fghfgn.tiojydf
http://ingvarr.net.ru/index/8-0-fghfgn.tiojydf
https://www.metacritic.com/user/fghfgn.tiojydf
http://pedsovet.su/index/8-0-fghfgn.tiojydf
https://radioskot.ru/index/8-0-fghfgn.tiojydf

[2020-03-13 12:42] PythonB opened #564 "Mac OS X Catalina abort on launch"
On Mac OS X 10.15.3 when launching getting error
`[1]    3662 abort      python3 sherlock.py`

Python 3.7.6
All requirements installed from requirements.txt

[2020-03-14 12:23] sdushantha commented on #564
Hi @PythonB,

Thank you for letting us know about this. It seems like a strange problem.
I am also on Catalina, version 10.15.2, and havent seen any issues.
![Screenshot 2020-03-14 at 13 22 16](https://user-images.githubusercontent.com/27065646/76681768-dfd72300-65f6-11ea-9554-f6d54542e120.png)

I'll try updating to 10.15.3 and see if that changes anything.

[2020-03-15 17:35] PythonB commented on #564
Updated. Nothing changed. Here's output
`$ python3 sherlock.py
[1]    3702 abort      python3 sherlock.py`
`$ python3 sherlock.py --help
[1]    3670 abort      python3 sherlock.py --help`
`$ python3 sherlock.py username
[1]    3732 abort      python3 sherlock.py username`

[2020-03-15 17:41] PythonB commented on #564
Important to mentions that in Google Cloudshell all works perfectly fine.

[2020-03-16 07:57] sdushantha commented on #564
@PythonB Which shell are you using? (zsh, bash, fish, etc)
The reason why I am asking this is because I have never seen that abort error before.

[2020-03-16 09:24] PythonB commented on #564
zsh

[2020-03-16 11:26] hoadlck commented on #564
The problem you are having seems similar in flavour with one opened against [pip3](https://github.com/Homebrew/homebrew-core/issues/44996).

Are you able to run any Python script?

[2020-03-16 12:46] PythonB commented on #564
Thank you @hoadlck .

It worked for me.

[2020-03-16 12:46] #564 closed

[2020-03-18 13:20] ac3mcl0ud commented on #243
I was able to fix this with help of this video tutorial....
https://www.youtube.com/watch?v=DI_M6PhIXLM&feature=youtu.be

[2020-03-18 13:23] ac3mcl0ud commented on #246
I was able to fix this with this video tutorial
http://bit.ly/2UfCYHE

[2020-03-18 13:23] ac3mcl0ud commented on #462
I was able to fix this with this video tutorial
http://bit.ly/2UfCYHE

[2020-03-20 08:09] killerpanda101 commented on #520
working on it

[2020-03-20 14:21] #502 closed

[2020-03-20 14:22] #503 closed

[2020-03-20 14:22] #520 closed

[2020-03-21 18:03] luchiago opened #568 "Randomly Generates a username for unclaimed username"
Related to: #165
Using a little script and/or Faker package to do this. My idea is when a person wants to contribute with the new website, it has to run the generator first, which will test if it exists, and if not the person can put in the JSON. If you guys let me I can send a pull request

[2020-03-21 18:48] luchiago opened #570 "Add a CI verification"
Such as Github Actions. If you guys let me, I can send a PR

[2020-03-27 23:13] darjaallora commented on #530
I also got this error; replicates when calling "python" instead of "python3" on my home machine where "python" defaults to 2.6 even though python 3.7 is installed, for some ungodly reason.  Invoking "python3" works as expected.

[2020-03-28 02:05] Milestheotherone opened #573 "No color shown in output"
I know when i put the usernames in the websites have a yellow-ish color and a "+" and "-" but after
I installed gitbash and sherlock again there is no color in output

![77812283-9da2ec80-70a0-11ea-8e4f-1889c4bd87d9](https://user-images.githubusercontent.com/57683610/77812318-d216a880-70a0-11ea-99a4-7a018b008bc7.png)

[2020-03-28 22:12] Nano-AI commented on #558
Try running `pip install -r requirements.txt` instead of `python3 -m pip install -r requirements.txt`.

[2020-03-30 06:58] sdushantha commented on #573
@Milestheotherone  https://github.com/sherlock-project/sherlock/pull/71#issuecomment-451659107

[2020-03-31 14:49] Scar26 opened #574 "Option to check for slight modifications of a username"
It might be useful to add an optional parameter that automatically checks for slight modifications of the username passed in

For example, given a username scar, it would automatically check for stuff like scar[1-100], sc4r, _5c4r e.t.c

Possible additions:

-  Another option to specify the levenshtein distance within which alternatives are to be generated
-  Option to only search a specific list

[2020-04-02 05:58] MrFreez-jpg opened #575 "Im not sure"
![Screenshot from 2020-04-02 00-49-23](https://user-images.githubusercontent.com/62614034/78215351-f269ad00-747c-11ea-9a75-32397ba679a6.png)

I got this message and I don't know what is means please help.

thank you.

[2020-04-03 06:48] PoorPocketsMcNewHold commented on #575
Seems to be an issue when trying to import and download the modules in the requirements.txt on a certain [setuptools](https://pypi.org/project/setuptools/).
The issue being, that the specified [requests-futures](https://github.com/ross/requests-futures/blob/master/requirements-python-3.txt) module, has [requests](https://pypi.org/project/requests/) as a dependency, BUT that [requests module, have

[2020-04-03 10:02] sdushantha commented on #574
@Scar26 I like your idea, but I dont think this is something we would like to add to Sherlock yet, but you are more than welcome to create a fork and add your idea, so that it can be used for your OSINT challenge :)

[2020-04-03 10:45] Scar26 commented on #574
Ok, Thanks!

Actually, I thought of proposing this feature so that people who stumble upon the challenge could automate the recon process. It's quite unlikely that a potential user would have my fork installed instead of the original repo.

Regardless, I'll create a fork and add the feature just in case. I'll let you know when it's done so it can be merged sometime in the future if it feels approp

[2020-04-07 18:52] Sasha06865 opened #577 "Дидал"

[2020-04-08 11:56] #577 closed

[2020-04-08 12:02] sdushantha commented on #575
Closing this as a solution had been found.

[2020-04-08 12:02] #575 closed

[2020-04-08 12:04] #573 closed

[2020-04-08 12:05] #97 closed

[2020-04-08 12:06] sdushantha commented on #100
closing this as it has been fixed in #178

[2020-04-08 12:06] #100 closed

[2020-04-08 12:08] sdushantha commented on #122
Its been over a year since this issue was made, I am closing this now.
Also, Spotify and blip.fm does not have an issue now.

[2020-04-08 12:08] #122 closed

[2020-04-08 21:17] fntkg opened #578 "Instagram do not works"
# Sherlock doesnt find any username for instagram.

I am looking for a user who has an instagram account but sherlock cannot find the account with the same username.

[2020-04-09 14:10] sdushantha commented on #578
@fntkg This is a strange issue. Someone did email me about this but I haven't been able to figure out why this is happening. I am able to check if a username exists on Instagram on a seperate script, but it fails when using Sherlock.

[2020-04-11 11:31] bofr77 opened #579 "Wow"

[2020-04-11 14:31] itisgood2be opened #580 "Torrequest error"
Traceback (most recent call last):
  File "sherlock.py", line 26, in <module>
    from torrequest import TorRequest
ModuleNotFoundError: No module named 'torrequest'

[2020-04-11 19:05] itisgood2be commented on #580
When I try "python3 -m pip install -r requirements.txt" I get an this: Requirement already satisfied: beautifulsoup4>=4.8.0 in /usr/lib/python3/dist-packages (from -r requirements.txt (line 1)) (4.8.2)
Requirement already satisfied: bs4>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 2)) (0.0.1)
Requirement already satisfied: certifi>=2019.6.16 in /usr/lib/python3/

[2020-04-11 22:33] kraycee21 opened #581 "sherlock"

[2020-04-11 23:06] hoadlck commented on #581
I assume that this is spam issue.

[2020-04-11 23:06] #581 closed

[2020-04-11 23:08] hoadlck commented on #579
More spam?

[2020-04-11 23:08] #579 closed

[2020-04-12 07:58] Surohitt opened #582 "PyPi support?"
Wondering if anyone here was planning on creating a pip package for this project? Not sure if there are any issues with doing this?

[2020-04-12 10:44] muftiyudha05 opened #583 "Serlok"

[2020-04-12 11:12] hoadlck commented on #583
Spammer trying to make their id look legit.

[2020-04-12 11:12] #583 closed

[2020-04-12 11:16] hoadlck commented on #582
Yes, there is an issue for this on #353.  I have not made much progress on it this year, but it is in the queue.

Much of the restructuring has been done, but not quite enough.  We have actually talked about this the other day: I am going to merge my development branch to the main line to make t his all easier to track.

[2020-04-12 11:16] #582 closed

[2020-04-14 19:22] LuisMayo commented on #354
Just to add some more info. It is actually the opposite, when the first letter is uppercase it finds the name.

[code]

[2020-04-15 17:10] ExDonald opened #584 "i cant get to download it"
if you can please help me downloading it my discord is ExDonald#7433 thanks a lot

[2020-04-18 18:40] skluthe commented on #540
I've actually gotten a bit more familiar with python since I commented. Is there any way I could help?

[2020-04-19 02:12] NeptuneP opened #585 "Need help installing."
I can't seem to install the Sherlock Project. When I try to run the install commands, it responds with

'git' is not recognized as an internal or external command,
operable program or batch file.

I'm pretty new to coding in general, so all help is appreciated!

Cheers.

[2020-04-19 02:36] #585 closed

[2020-04-19 02:42] NeptuneP opened #586 "Can someone run me through the setup?"
After using the "cd sherlock" command, I can't seem to run the rest of the commands. It just doesn't respond with anything anymore? Thoughts?

[2020-04-19 03:00] #586 closed

[2020-04-19 12:03] sh1va73 opened #587 "stuck at Coroflot"
My sherlock search does not get passed Coroflot. It hangs there. I tried different usernames with same result.

I disabled VPN and had same result: it hangs at coroflot.

[2020-04-19 12:23] sh1va73 commented on #587
Restarting Kali and VPN and it works fine. Still no clue why it was hanging.

[2020-04-19 12:23] #587 closed

[2020-04-20 15:28] Marksmans opened #588 "Missing request"
Im getting this error

sherlock.py", line 22, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'

[2020-04-21 03:43] glossed commented on #588
When you download sherlock make sure to do `python3 -m pip install -r requirements.txt` in the directory. It should install all the modules needed.

[2020-04-22 17:34] NotiLinked opened #589 "Please add AniList"
Hello, could AniList please be added to the list of sites? Url pattern is https://anilist.co/user/usernamehere

[2020-04-24 21:47] th3c0d3br34ker commented on #584
Try using git command, also providing more information about your problem would be helpful, 😄

[2020-04-26 18:56] tech2blog commented on #578
Yes, Instagram is not visible in the output.

[2020-04-26 23:32] #588 closed

[2020-04-27 11:42] #584 closed

[2020-04-28 19:33] Lawbott opened #591 "Error using sherlock Ubuntu on 16.4 ls"
So Sherlock does not work at this point and i get this error message. "sherlock.py", line 67
    Fore.GREEN + f"] {title}" +

$ cd sherlock
PC:~/sherlock# python3 sherlock.py --help

any ideas would be great?

[2020-04-28 20:19] hoadlck commented on #591
You must be using an earlier version of python.  Try running the following:
```python3 --version```
You need to be running 3.6 or later.

[2020-04-28 22:20] Lawbott commented on #591
how would i update it. im running Python 3.5.2

[2020-04-29 02:00] hoadlck commented on #591
There are multiple ways.  I am not sure which would work best for you.

I searched for some examples, and found [this](https://askubuntu.com/questions/865554/how-do-i-install-python-3-6-using-apt-get) answer in the Ubuntu forums.

You could also download the source, and compile it and install it manually.

I would search around and see which method you are the most comfortable with.

[2020-04-29 02:00] #591 closed

[2020-04-29 14:03] Lawbott opened #592 "well now any ideas on this?"
sherlock$ python3 sherlock.py
Traceback (most recent call last):
  File "sherlock.py", line 23, in <module>
    from colorama import Fore, Style, init
ModuleNotFoundError: No module named 'colorama'

I'm running the current version.

[2020-04-30 03:04] tdh8316 commented on #592
Please read the [readme file](https://github.com/sherlock-project/sherlock#installation).

You just have to install requirements:
[code]

[2020-05-01 08:21] sdushantha commented on #580
@itisgood2be https://github.com/pypa/pip/issues/5247#issuecomment-381550610

[2020-05-01 16:04] Lawbott commented on #592
Thank You, so much that helped fix it.

[2020-05-01 16:04] #592 closed

[2020-05-02 12:58] hoadlck commented on #292
This has been incorporated into #590.

[2020-05-02 12:58] #292 closed

[2020-05-02 13:01] hoadlck commented on #230
Suspect that this was an environment issue.

[2020-05-02 13:01] #230 closed

[2020-05-05 15:37] #580 closed

[2020-05-06 19:05] richardgetz commented on #578
Okay I figured it out. Instagram has an extra measure in place that doesn't allow HEAD requests. I'll fork and make a pull request.

[2020-05-06 20:06] richardgetz opened #594 "TikTok False Positive"
TikTok is triggering a false positive. This can be fixed by changing TikTok's errorType value to status_code in data.json.

[2020-05-06 21:34] gguljea opened #596 "syntax error"
i keep running into the same error while trying to download sherlock

  File "<stdin>", line 1
    $ git clone https://github.com/sherlock-project/sherlock.git
    ^
SyntaxError: invalid syntax

[2020-05-07 14:01] sdushantha commented on #596
Hi @gguljea,

Looks like you made a minor copy&paste error. The command that you have to run is this:
[code]

Make sure you run the command above, in command prompt if your are using Windows or the Terminal if you are using macOS or Linux

[2020-05-07 16:35] shubhamrangadal opened #597 "add lastName in usrename"
How do I add Lastname to a username. ex: python3 sherlock Joe Goldberg. now it just considers joe as first username and Goldberg as the second username, but they are single username

[2020-05-07 16:47] hoadlck commented on #597
I am not sure how many sites allow spaces in the username.  But, you need to quote the argument in the shell.  Like the following:
[code]

[2020-05-08 09:59] #597 closed

[2020-05-09 02:58] someoneouttheretrying opened #598 "sherlock coding"
after i type in all the codes to find a username using github sherlock, it says "(null): can't open file 'sherlock.py': [Errno 2] No such file or directory" this is after i typed in the name to find all social media platforms of someone. How do i resolve this issue?

[2020-05-09 04:12] hoadlck commented on #598
As part of the restructure, the command to invoke Sherlock from the root of the Git repo has changed.  Now, you type `python sherlock` instead of `python sherlock.py`.

The commands have been updated in the readme.

[2020-05-09 04:21] someoneouttheretrying commented on #598
i just tried it and it says "SyntaxError: invalid syntax"

[2020-05-09 12:38] hoadlck commented on #598
I assume that this new error message is coming from Python?  Have you performed the installation instructions in the readme?  Are you running python 3.6 or later?

[2020-05-09 16:35] hoadlck commented on #570
We had this turned on at one time, but somehow it  got shut off.

@TheYahya or @sdushantha do you have the ability to turn Travis CI back on?  Or, do we want to go with GitHub Actions?

I noticed that GitHub Actions has automation for deploying Python packages to PyPi.  Once when the packaging activity is done, this would be handy to simply deploy.  So, maybe it would be good to investigate GitHub

[2020-05-09 16:40] hoadlck commented on #594
This got fixed in some of the cleanup activity for the restructure development.  The fix was added in this [commit](https://github.com/sherlock-project/sherlock/commit/f2179ca7c91ee3b60ae1a3c993667467fe53694f), even though it looks like #595 was never merged.

[2020-05-09 16:40] #594 closed

[2020-05-09 16:42] hoadlck commented on #578
This has been included in #599 as there was a non-trivial merge in including #593.

[2020-05-09 16:42] #578 closed

[2020-05-09 16:44] hoadlck commented on #523
This was added some time ago...

[2020-05-09 16:44] #523 closed

[2020-05-09 16:46] hoadlck commented on #558
Closing this out as it appears to be an install issue instead of something wrong with Sherlock.

[2020-05-09 16:46] #558 closed

[2020-05-09 16:47] hoadlck commented on #530
Closing this out as it appears to be an install issue instead of something wrong with Sherlock.

[2020-05-09 16:47] #530 closed

[2020-05-09 16:47] hoadlck commented on #535
Closing this out as it appears to be an install issue instead of something wrong with Sherlock.

[2020-05-09 16:47] #535 closed

[2020-05-09 16:51] hoadlck commented on #308
Closing this issue out, as I believe it was involved in the earlier versions of Sherlock that did not place any limit on the number of workers when doing requests.  As more sites were added, it would bring any computer to its (virtual) knees.

[2020-05-09 16:51] #308 closed

[2020-05-09 17:52] sdushantha commented on #570
@hoadlck I am pretty sure @TheYahya  has the ability to turn Travis CI on because I never enabled it myself. GitHub Actions seems to very nice, many projects use it. I have limited knowledge of it, but I have used in the past and it worked well.

[2020-05-09 18:17] TheYahya commented on #570
I got Insufficient permission error

[2020-05-09 18:47] sdushantha commented on #570
If that is the case, then I guess we can move to GitHub Actions 🤷‍♂️

[2020-05-09 19:53] hoadlck commented on #570
OK, GitHub actions it is.  It is probably a better long term direction anyway, as it will integrate better with GitHub.

@luchiago if you have the time, a PR would be welcome.  I am going to look at it a bit myself, but I am not confident I will be able to get very far.

One thing that would really be nice is a nightly run against *all* of the sites (with an easy to scan report about errors).  Too

[2020-05-09 20:46] hoadlck commented on #570
I created [this](https://github.com/sherlock-project/sherlock/blob/master/.github/workflows/sherlock_test.yml) file that does the same types of things that the Travis file did.

[2020-05-09 21:54] luchiago commented on #570
Okay, @hoadlck. Thanks for allowing me to work on this issue. I'll do my search and soon I will open a PR.

[2020-05-10 02:51] hoadlck commented on #570
I updated the file I added earlier so that it does execute the basic detect tests.  But, I am unsure if this will run the tests on pull requests automatically.  And, I did not create a nightly test that does the coverage tests.

Pull requests should probably run the full check of all of the sites.  The command for that is
```cd sherlock && python -m unittest tests.all --verbose```.

But, does it r

[2020-05-10 12:52] luchiago commented on #570
@hoadlck My idea was just verified if the project can make a build in the Github actions. I think that should run all the tests when the change is on the master branch.

[2020-05-10 13:01] hoadlck commented on #570
But what about running the tests on a pull request **before** it is merged?

[2020-05-10 13:01] DavidVu96 commented on #474
created PR https://github.com/sherlock-project/sherlock/pull/601 to fix this issue

[2020-05-10 13:02] luchiago commented on #570
I couldn't find (yet) a way to run all the tests without taking too much time, bc there are many, right?

[2020-05-10 13:12] hoadlck commented on #570
Running the full tests on my PC takes 428.825s.  The basic tests only takes 3.270s.  But, that is just for one version on Python.

Could we have a tests on PRs that only ran under one version of Python?

[2020-05-10 13:16] luchiago commented on #570
Which version?

[2020-05-10 14:40] DavidVu96 commented on #474
@AL3INO can you please check out the PR and test to see if you get better efficiency?

[2020-05-10 14:48] hoadlck commented on #570
I am just wondering what the options are.  I am not familiar with GitHub Actions, so I wonder what kind of flexibility exists.

If the tests for all 3 Python versions take 21 minutes, and doing just one takes 7 minutes, is it worth it to always run all 3?

If someone just adds a new site (i.e. just changes the data.json file), there is no value in running the tests against all of the Python versio

[2020-05-10 20:14] akhil220 opened #602 "Permission denied"
$ python3 sherlock.py NeilBreen
bash: /c/Users/hp/AppData/Local/Microsoft/WindowsApps/python3: Permission denied
This is the output I received. What is the solution to this problem?

[2020-05-10 20:19] hoadlck commented on #602
`python3` is the normal name on Linux.  You appear to be on Windows, so use `python`.

Do you have Python 3.6 or later installed?  And, have you used pip to install the requirements?

[2020-05-10 20:25] akhil220 commented on #602
while using python instead of python3
$ python sherlock.py NeilBreen
C:\Users\hp\AppData\Local\Programs\Python\Python38-32\python.exe: can't open file 'sherlock.py': [Errno 2] No such file or directory
this is the result.

I have Python 3.8 Installed and have used pip to install the requirements.

[2020-05-10 20:29] hoadlck commented on #602
Unless you are in the `sherlock` module area, the command is as follows:
[code]
You are not in the directory that has `sherlock.py`.  The above command allows you do execute the module directly.

[2020-05-10 20:37] akhil220 commented on #602
how can I make it right?

[2020-05-10 20:44] hoadlck commented on #602
Didn't it work when you ran `python sherlock NeilBreen`?

[2020-05-10 20:51] akhil220 commented on #602
No, it didn't work.

[2020-05-10 20:52] hoadlck commented on #602
What error message did you get?

[2020-05-10 21:14] hoadlck commented on #602
If you were doing this from scratch on Windows, then these would be the commands.
[code]

[2020-05-10 23:57] luchiago commented on #570
Hmm now I did understand what you're looking for. I don't know exactly if this can be done, but I'll do my research.

[2020-05-11 10:42] akhil220 commented on #602
thank you

[2020-05-11 10:42] #602 closed

[2020-05-12 00:47] luchiago commented on #570
Hey, @hoadlck I think I found the solution, could you check my PR?

[2020-05-12 04:13] chromechris opened #604 "Permission denied"
I was getting the "permission denied" prompt on windows 10 with Git Bash when trying to install the requirements after cloning the repo. I bypassed this by installing mitproxy. Now however, I get permission denied when trying to run a "python3 sherlock.py username" command. Not sure how I can even fix this on my end?

[2020-05-12 09:33] satechi opened #605 "Hackertool.Nirsoft"
Malwarebytes registering "notabug.org" as a trojan horse, I made multiple queries on Sherlock with the same results. After reviewing the list of websites that Sherlock searches against I noticed that this site is listed. Malwarebytes automatically removes the Trojan horse which subsequently removes the "requirements.txt" file from the Sherlock folder thereby rendering the tool useless. I have cont

[2020-05-12 09:34] sdushantha commented on #604
To install the requirements, run this command:
[code]

If you are using the latest version of Sherlock all you have to do is run this:
[code]
You dont need the ".py" extension.

[2020-05-12 10:48] hoadlck commented on #604
If you are on Windows, you should use `python` not `python3`.

[2020-05-12 10:56] hoadlck commented on #605
I gave the notabug.org site to [Virustotal](https://www.virustotal.com/gui/url/6b5322ae10243b9df2c720182490a76afe508b591fabc5b16e136bfe9fddb12b/detection), and it was listed as clean.

I would tend to believe Virustotal, as many of the anti-virus vendors use them.  I do see Malwarebytes listed as one of the scans at Virustotal, and it did not flag notabug.org.

Let us know what you hear from Malwa

[2020-05-13 10:44] LewisTheKali opened #606 ""Error: Command errored out with exit status 1:""
here is the full error message when installing  ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-r8m7514n/bs4/setup.py'"'"'; __file__='"'"'/tmp/pip-install-r8m7514n/bs4/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();

[2020-05-14 07:22] jthomas2234 commented on #246
@p0wnage tried that but still getting this

- Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/Library/Python/3.7'
Consider using the `--user` option or check the permissions.
### When trying to upgrade
- You are using pip version 19.0.3, however version 20.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

- DEPRECATIO

[2020-05-14 07:35] sdushantha commented on #606
@LewisTheKali Could you please provide which provide what command you ran whcih caused this error? Also, can you tell us what the output of this command?
[code]

[2020-05-14 14:58] grahulprouhit commented on #462
python3 -m pip install -r requirements.txt when i use this cmmd thet show me
ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'
wat to do ? how to fix this

[2020-05-14 16:22] sdushantha commented on #462
@grahulprouhit Make sure that you change your directory to the sherlock folder first.
[code]
Then run the command you previously ran:
[code]

[2020-05-14 17:23] zprytka opened #608 "File "sherlock.py", line 381"
After doing #python3 sherlock.py --help i get this:

**File "sherlock.py", line 381
    raise ValueError(f"Unknown Error Type '{error_type}' for "
                                                             ^
SyntaxError: invalid syntax**

Installed all requiments.
Python 3.5.2

[2020-05-14 18:21] #608 closed

[2020-05-14 23:44] hoadlck commented on #608
You need to have Python 3.6 or later.

[2020-05-15 02:14] luchiago commented on #570
Now it's ready for review @hoadlck :smile:

[2020-05-17 06:06] TheOrangeJackal opened #609 "Add search"
#609
Add Psn and Xbox usernames

[2020-05-17 06:21] sdushantha opened #610 "Ranking using site_list.py only works from certain countries"
Hi,

For some strange reason `site_list.py` seems to be working for some people and not for others. When I run `python3 site_list.py -r`, to update the ranking, all the ranks get set to 0 and I get errors about the XML data that is returned by data.alexa.com. This is because all I am getting is this:
![Screenshot 2020-05-17 at 07 53 41](https://user-images.githubusercontent.com/27065646/82136986-d

[2020-05-17 11:08] bossauh opened #611 "Getting Stucked in Letterboxd"

[2020-05-17 11:19] hoadlck commented on #610
If we remove this script's access to the Alexa API, then we will have to remove the aspects of Sherlock that use the site ranking.  Is that OK?

I am thinking that if we automate the invocation of this script using GitHub actions, then no one will have to run it on their own computer any more.  Since the GitHub Actions for Sherlock appear to be running in the US, then it will work reliably.

While

[2020-05-17 11:49] sdushantha commented on #610
Yeah I personally think that doing so would be fine because like you mentioned, its flakes out on some sites and that might be because its exceeding the API limits.

So, removing the site ranking would be the best thing to do as it is not stable.

[2020-05-17 16:17] ZteamDL opened #612 "Syntax Error"
root@kali:~/sherlock# python sherlock JustinBieber
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/root/sherlock/sherlock/__main__.py", line 10, in <module>
    import sherlock
  File "sherlock/sherlock.

[2020-05-17 17:07] sdushantha commented on #612
Hi @ZteamDL !

Looks like you are running Python2.7, but Sherlock only supports Python3.6 or above.
Try running Sherlock with `python3` instead of `python` and that should fix the problem you are having :)

[2020-05-17 19:30] hoadlck commented on #570
After I merged #607 to master, the test ran and I got a failure.

It looks like the problem is when the tests run on master, the following line fails:
[code]
I guess it makes sense: there is no pull request when the feature is on master.

I am leaving the development included for now, as it does work well for pull requests.  But, I am reopening this issue to track the need to fix the test when it

[2020-05-19 00:01] luchiago commented on #570
I will search about it @hoadlck sorry I didn't pay attention to this case.

[2020-05-19 05:00] hoadlck commented on #570
As I look at this more, I am wondering if we should just have a separate actions for pull requests and for the master branch?

As it is, the badge that shows the state of the tests will have run a different process depending on what the last change was.  Which does not seem quite right.

If instead we had a unique action for the pull requests, then it would be simpler to manage.

[2020-05-20 02:14] luchiago commented on #570
I think it's a good idea, create two separate github actions config files, one for master another for pull requests. The badge will be from the github action for the master and will run all the python versions.

[2020-05-20 03:32] maskonbenji commented on #570
Yo man much appreciated with the extra ...  I just started so I’m still tryna find out how to get python and how to even make the code run smoothly I’m learning everything on my own smh if you have any advice for a new Comer let me know l

Sent from my iPhone

[2020-05-20 03:52] gorwhh commented on #570
https://github.com/thepracticaldev/dev.to

[2020-05-20 16:29] enodr opened #616 "Investing.com always returns 403"
Investing.com should be removed. Always returns 403. Url for profiles seems to have changed and are now only with a numerical id like https://www.investing.com/members/contributors/204378458

[2020-05-20 16:33] enodr opened #617 "Tiktok.com false positive"
TikTok is configured to use status_code but now returns 200 even on non existing profiles. Method of detection should be changed.

[2020-05-20 16:35] enodr opened #618 "Colourlovers.com false positive"
This site reports false positive. Non existing user page returns a 410 status_code but sherlock reports the user as existing.

Edit: seems the status code is different when using curl or the browser. When the cookie is not correctly set the status is different and content is an obfuscated javascript. Maybe site should be just dropped or method should be changed.

[2020-05-21 02:52] beamop commented on #618
They have an public API available that support xml and json response, here the endpoint for user "blue": https://www.colourlovers.com/api/lover/blue but the status code is 200 for non existing user too 😄

[2020-05-21 05:28] realprogrammer5000 commented on #618
This could still be done with Error Message detection.

[2020-05-21 05:55] 4bic opened #619 "ERROR: Problem parsing json contents at 'file.json': Missing attribute 'urlMain'."
I get this error when running:
`python3 sherlock -j data/file.json`

The JSON file has the following structure:

`{
   "Evariste Ndayishimiye": {
      "username": "EvaristeNdayishimiye"
   },
   "Agathon Rwasa": {
      "username": "AgathonRwasa"
   },
   "Dieudonné Nahimana": {
      "username": "DieudonnéNahimana"
   },
   "Francis Rohero": {
      "username": "FrancisRohero"
   },
   "Léonce N

[2020-05-21 05:58] realprogrammer5000 commented on #609
I've added https://xboxgamertag.com/ in #620

[2020-05-21 06:03] realprogrammer5000 commented on #619
The `-j` parameter is for loading a site JSON file like [`sherlock/resources/data.json`](https://github.com/sherlock-project/sherlock/blob/master/sherlock/resources/data.json), not a list of usernames.

[2020-05-21 06:49] 4bic commented on #619
From the documentation, [here](https://github.com/sherlock-project/sherlock#usage),
I see the `j`, and `--json` are used to load the JSON file.

![Screenshot 2020-05-21 at 09 20 34](https://user-images.githubusercontent.com/5486449/82531541-45d8ad00-9b48-11ea-990e-c7733aec5941.png)

[2020-05-21 11:26] hoadlck commented on #619
@realprogrammer5000 is correct:  the `--json` option is for loading information on how a set of sites may be searched, not to describe a list of user's queries.

The [WIki](https://github.com/sherlock-project/sherlock/wiki/Adding-Sites-To-Sherlock) has a description of the format of the JSON file.

[2020-05-21 15:28] richardgetz commented on #618
My solution was to change the message search to a regex search to enable exacting if needed. I changed my local version around quite a bit so I don't want to initiate a pull request but that should fix your issue.

`  "ColourLovers": {
    "errorMsg": "^\\<\\?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"\\?\\>\n$",
    "errorType": "message",
    "use_cfscrape": true,
    "headers": {

[2020-05-21 16:51] 4bic commented on #619
👏🏽  thank you @hoadlck  and @realprogrammer5000,  went through the wiki and saw how of that was. I suppose I can close this up.
How would then go about checking multiple usernames if need be?

[2020-05-21 16:52] #619 closed

[2020-05-21 16:53] realprogrammer5000 commented on #619
Just add multiple command-line arguments for each username.

[2020-05-21 17:02] realprogrammer5000 commented on #413
The string `By signing up for Strava, you agree to the <a href='/legal/terms'>Terms of Service</a>.` seems to work as an error message.

[code]

[2020-05-21 17:29] richardgetz commented on #616
Tried to find a workaround and I was unable to find a non-js way to do this. Concur it should probably just be removed.

[2020-05-21 17:31] richardgetz commented on #541
Just to clarify, some of these "false positives" may occur because your IP is being flagged as suspicious. If this is happening, capturing the error/captcha page would be helpful to note a fail/error.

[2020-05-22 06:49] Musixx opened #621 "No such file or directory: requirements.txt"
This is what the full issue looks like.

Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

I'm so lost, please help!

[2020-05-22 11:12] hoadlck commented on #621
It looks like you are not in the right directory.

The commands from the readme are as follows:
[code]
Did you enter the `cd sherlock` command?

[2020-05-22 15:26] richardgetz commented on #617
The only way to get this working is to implement js. I have it working but it isn't clean and doesn't fit well into the current code base.

[2020-05-22 17:37] Musixx commented on #621
Yes, afterward I had put in the previous line as shown, not sure why it isn't working.

[2020-05-22 23:53] hoadlck commented on #621
What are you running? Linux?  Windows?

List the files in the directory that you are in.  You should be able to `cat` the requirements.txt file.

[2020-05-23 04:56] Musixx commented on #621
Windows.

Sorry, I only have very limited knowledge of my computer software, I was running it on Cloud Shell. I tried copying the code on the installation section after downloading Python but it didn't seem to work as I kept getting an error if I recall correctly being labeled as a Syntax Error. So I simply went on google shell.

[2020-05-23 04:57] Musixx commented on #621
Are we allowed to post videos here? I may be enabled to record the process.

[2020-05-24 01:59] #570 closed

[2020-05-24 11:24] hoadlck commented on #235
We have converted over to GitHub actions.  We now have a unique test for Pull Requests and for updates to master.  I just added a nightly test for all of the sites as well.

I think it would be good to have the nightly build automatically add an issue to fix the sites that fail.  As it is, we get a scattering of notifications from users when they are focused on a certain site.

But, this issue has

[2020-05-24 11:24] #235 closed

[2020-05-24 11:41] hoadlck commented on #596
I assume that everything is working fine.

[2020-05-24 11:41] #596 closed

[2020-05-24 11:51] sdushantha commented on #621
@Musixx Yes, feel free to post a screen recording of what is happening

[2020-05-25 04:42] hoadlck commented on #618
For now, I am removing the site.  It is not doing any good to anyone.  Perhaps in a future update, the detection methods may be expanded to detect this site.

[2020-05-25 15:57] #618 closed

[2020-05-25 16:04] hoadlck commented on #617
I will remove the site as it is not working.

[2020-05-25 16:04] #617 closed

[2020-05-25 16:34] hoadlck commented on #616
It has been removed.

[2020-05-25 16:34] #616 closed

[2020-05-25 23:18] Dominatez commented on #612
user@cloudshell:~/cloudshell_open/sherlock$ python3 --version
Python 3.7.3
user@cloudshell:~/cloudshell_open/sherlock$ python3 sherlock --help
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/local/lib/python3.7/runpy.py", line 85, in _run_code
  File "sherlock/__main__.py", line 10, in <module>

[2020-05-28 04:01] nohupt opened #626 "hangs at the very end, Zhihu"
seems to grab all instances of username, but hangs at the very end on the Zhihu site, and nothing has been written to the file yet, program halted with no error messages. any ideas?

[2020-05-31 02:01] Kovadon opened #627 "null"

[2020-06-01 12:02] paulbinojoseph7 opened #630 "1"

[2020-06-01 12:02] #630 closed

[2020-06-01 22:19] 65rayfos commented on #626
Have you found a fix yet?

[2020-06-02 04:05] Vanceagher opened #633 "Names with spaces not working on SoundCloud"
Usernes with a space are not found on SoundCloud.com

[2020-06-02 13:21] maximousblk opened #634 "[FEAT] Output JSON format"
It would be nice if sherlock could output the results in json format. This would help integrating sherlock with other tools.

example:

[code]

this would make importing data much easier. this feature then can be paired with other tools and APIs for specific sites which would help create a clear profile of the target which would help eliminate other users using the same username.

[2020-06-04 03:13] AC1370 opened #636 "Couldn't access data file data.json"
Im having problems where know when i try to use Sherlock, the prompt problem while attempting to access data file, data.json, o im not sure whats wrong?

[2020-06-04 10:56] hoadlck commented on #636
I am not clear what problem you are having.  Did you run the procedure in the readme file?  If so, what error message did you get?

[2020-06-04 11:02] hoadlck commented on #634
Ultimately, Sherlock can be integrated into a Python script like any other Python module.  When you run a query, you get a Python class back that has the information you are mentioning in this issue.  If you look at the [QueryResult()](https://github.com/sherlock-project/sherlock/blob/master/sherlock/result.py#L29) class, this is how results are passed back to the person doing the query.

There is

[2020-06-04 11:13] maximousblk commented on #634
I understand that sherlock can be integrated in any python script but when working with tools that are not made in python, we need a more widely used format. And a json output can easily be converted into many other formats.

[2020-06-04 12:18] vidheeshnacode commented on #626
Yet the txt file seems to be generated after waiting for a while.

[2020-06-07 02:51] ViperNetwork opened #638 "Customization"
I want to make a permanent output folder for my results despite it being more than one
and
I also want to customize/shorten/add in the list of websites...I did some changes in sites.md file but didn't affect.
Please help

Overall I am Extremely satisfied with your work...I love it.

[2020-06-09 18:18] LameLemon commented on #638
Hello,
For the first part of your issue, I believe the following two parameters are what you're looking for. The output will be saved to the specified directory. Hope this helps.
[code]
I'm not sure what you mean in the second half.

[2020-06-10 16:17] GandelXIV opened #641 "BUG:https://www.twitter.com/ search site broken"
twitter will always be shown as containing the searched username.

[2020-06-10 18:21] #641 closed, assigned to nobody

[2020-06-11 09:01] GandelXIV commented on #627
Thanks! I used it in #640

[2020-06-11 20:01] realprogrammer5000 commented on #638
[code]
Is that what you're looking for?

[2020-06-12 07:56] edgetrader opened #643 "Missing WORKDIR line in Dockerfile"
I think you are missing a line in your Dockerfile.

**WORKDIR /opt/sherlock/sherlock**

[code]

[2020-06-12 21:32] ViperNetwork commented on #638
Thank you very much
Just one last thing,
If I want to add a new website, should I just follow your coding format with previously entered websites?

[2020-06-12 21:32] hissssst commented on #641
Why is it closed?

[2020-06-12 22:24] hoadlck commented on #641
I am not sure:  the user who entered the issue closed it.  But, I have been looking at the problem to see if there is a fix.

[2020-06-13 23:15] Fabruk opened #644 "Getting stuck at Coroflot"
Hey guys,
I haven't been able to use this as it get stuck at Coroflot. Does anyone getting the same issue?
Any workaround? I tried to delete and reinstall but issue persists. Running on Kali Linux.
Cheers

[2020-06-14 07:29] yeetyeot opened #645 "I need help installing Sherlock to Python on Windows"
Hi, I'm very new to the world of coding and programming stuff, so recently I've been using Python because I want to give a test drive to Sherlock. It's a shame to say I don't know how to install it. I already have pip. But the problem is when I did the code to download sherlock it says '_Syntax Invalid'___. I'm new to this please help.

[2020-06-14 10:51] hoadlck commented on #645
Sherlock is not available via pip yet.

Did you do the install process described in the [readme](https://github.com/sherlock-project/sherlock/blob/master/README.md)?  If so, when did you get that error message?

[2020-06-15 08:09] sdushantha commented on #638
@ViperNetwork

Yup!

[2020-06-15 08:09] #638 closed

[2020-06-15 08:14] sdushantha commented on #643
@edgetrader I dont use Docker, but if this fixes any issue you are having, would you like to create a PR for this change?

[2020-06-15 14:12] Devil-vx commented on #636
Im having problems where know when i try to use Sherlock, the prompt problem while attempting to access data file, data.json, o im not sure whats wrong. I am using in android termux .

[2020-06-15 14:17] Devil-vx opened #646 "Couldn't access data file data.json"
![Screenshot_20200615-194605](https://user-images.githubusercontent.com/64526625/84668223-fd42c280-af40-11ea-9a05-9cc5e02f61af.png)
Can u plzz help me with this

[2020-06-15 15:42] realprogrammer5000 commented on #646
Can you send a picture of the command that generated the error message?

[2020-06-16 04:06] Devil-vx commented on #646
Next which command. I have read your readme but I tried, it doest install requirements.txt and there is no Sherlock.py
![Screenshot_20200616-093441](https://user-images.githubusercontent.com/64526625/84730747-b4c4ec80-afb4-11ea-8730-85df959b5b21.png)

[2020-06-16 04:10] Devil-vx commented on #646
Next which command. I have read your readme but I tried, it doest install requirements.txt and there is no Sherlock.py
![Screenshot_20200616-093945](https://user-images.githubusercontent.com/64526625/84731078-6106d300-afb5-11ea-888f-180ee91f6a75.png)

[2020-06-16 11:53] hoadlck commented on #646
Per the readme, the command is `python sherlock` if you are running it in this directory.

Of course, it looks like you had errors when running pip, so I am not sure if it will work even after you run the right command.

[2020-06-17 07:30] GandelXIV commented on #541
There is also a problem with https://forum.redsun.tf/.

[2020-06-18 08:06] GandelXIV opened #647 "Bug: False positive for 3 websites"
3 False positive websites:
https://www.liveleak.com/
https://forum.redsun.tf/
https://www.twitter.com/

[2020-06-18 08:15] Piskuliki0723 opened #648 "Retry the HTTP request again if the connection was rejected."
Sometimes an error may occur while searching on the same site: "connection error", and sometimes not. You may need to send a second http request to the same site, and if it fails, then continue the search..

[2020-06-19 13:15] furher023 opened #649 "shoudn't the program close once it has finished all the searches?"
It just stays open, and on pressing ctrl+c gives callback error

[2020-06-20 13:46] sdushantha commented on #649
Hey @furher023!

It seems to working fine on my end:
![image](https://user-images.githubusercontent.com/27065646/85203255-ba9c3400-b30c-11ea-8e4c-4a999cedf6ff.png)

Are you sure that Sherlock finished its searches? Or is it just taking a long time to find a site? Because I feel like it could be that Sherlock might be taking a long time on a certain site due to your location.

[2020-06-20 13:49] sdushantha commented on #644
Hi @Fabruk :)

The reason for Sherlock getting stuck at Coroflot could be because of your internet connection because I just ran a fresh install of Sherlock and everything seems to be working smoothly.

[2020-06-20 13:52] sdushantha commented on #633
Hi @Vanceagher,

Usernames tend to not have spaces. They are usually a single string of alphanumeric characters and sometimes including underscores and certain special characters.
So usernames with spaces not working on SoundCloud is normal behavior. I doubt it works on any other site as well.

[2020-06-20 14:08] sdushantha commented on #647
Upon taking a look at liveleak, I think it no longer has the ability for us to look at it's users because I cant find any username on the website. Is it the same for you or am I missing something?

[2020-06-20 14:12] sdushantha commented on #647
I will be removing https://forum.redsun.tf/ from `data.json` because from looking at many of the usernames, it seems like random digits are added to the end of the usernames. This means that it pretty much impossible to check if a username exists on that website.

[2020-06-20 14:29] sdushantha commented on #611
Hey @bossauh,

Im really sorry for the late reply. Are you still having this issue? I just tested everything it seems like everything it fine on my end. I think the reason why Letterboxd is getting stuck is because of your internet connection.

[2020-06-20 23:48] furher023 commented on #649
How much time, do you suggest? I had a very strong internet connection, ans waited for about 10 mins, should i share the error which I got after pressing Ctrl+C? @sdushantha

[2020-06-21 04:33] sdushantha commented on #649
@sdushantha Yes, sharing the error might be helpful

[2020-06-21 06:40] sdushantha commented on #647
For Twitter, we have to find another method of detecting the existance of the usernames because whenever I try to send a request to twitter.com/username I get this message:

I will have to do further research into this to find a fix for this.

[2020-06-21 06:52] sdushantha opened #654 "Should we add adult websites?"
Hey guys!

Recently I found out that Sherlock has been used by [TraceLabs CTF](https://www.tracelabs.org/getinvolved/ctf/) participators. This means that Sherlock is being used to find missing people, which is awesome!!

This got me thinking, should we add support for adult websites? Because thinking from an investigator's point of view, I would want to know if my subject who committed an offense,

[2020-06-21 07:36] Niroshan23 commented on #654
The idea is Good sir

Sir If you don't mind

What about idea of searching for a
person/account using email-id instead of name, So that it may be precise.

On Sun, Jun 21, 2020, 12:23 PM Siddharth Dushantha <notifications@github.com>
wrote:

[2020-06-21 09:31] GandelXIV commented on #647
Indeed

[2020-06-21 09:32] GandelXIV commented on #647
The twitter issue could is being resolved in https://github.com/sherlock-project/sherlock/issues/541

[2020-06-21 19:16] #627 closed

[2020-06-22 01:59] Luidiblu commented on #654
Very good idea!

We can add more features later, but, if u agree with me... more info is better then less info....

[2020-06-22 02:10] Luidiblu commented on #654
Why not just a query param? `--adult`?

[2020-06-22 09:18] sdushantha commented on #654
@Luidiblu That's a great idea!! In the data.json file we could have a value called "NSFW" and it can have a Boolean value. The command line flag could be `--nsfw`

[2020-06-22 12:37] Luidiblu commented on #654
Sure!
If the key "nsfw" is in the data.json file, you only can see it if insert the flag `--nsfw`

[2020-06-22 12:57] hoadlck commented on #654
@sdushantha Remember that we talked about the general technique of grouping sites of a similar theme in #522.  I don't think that we can add a command line option for every grouping of website:  the command line list would explode.

Implementing tags would provide just one command line option to filter the search.  For example, if the user wanted to search for a certain name on video sites, then t

[2020-06-22 13:18] Luidiblu commented on #654
@hoadlck Do you agree with me that instead of passing a json file, the person can change the local json??
We are complicating something that should be simple, many parameters, make things confusing, I agree with you, we can review and make the parameters more comprehensive

[2020-06-22 17:19] asura30 opened #656 "I tried to install python3 -m pip install -r requirements.txt"
root@kali:~/sherlock# python3 -m pip install -r requirements.txt
Requirement already satisfied: beautifulsoup4>=4.8.0 in /usr/lib/python3/dist-packages (from -r requirements.txt (line 1)) (4.9.0)
Requirement already satisfied: bs4>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements.txt (line 2)) (0.0.1)
Requirement already satisfied: certifi>=2019.6.16 in /usr/lib/python3/dist-p

[2020-06-22 17:20] asura30 commented on #656
Please help me in closing the issue

[2020-06-22 17:34] sdushantha commented on #654
@hoadlck Very true, I agree with you.

This seems like a great idea

Should I go ahead and create the adult site repo? @Luidiblu, would like you maintain it?

[2020-06-22 17:41] Luidiblu commented on #654
Sure @sdushantha !

[2020-06-22 21:08] Luidiblu commented on #654
@satznova can we close this issue now?

[2020-06-23 04:38] sdushantha commented on #654
@Luidiblu I'm guessing you were trying to mention me, but yes, I'll lose this now

[2020-06-23 04:38] #654 closed

[2020-06-25 02:40] Soy-5auce opened #657 "Permission Denied"
"$ python sherlock sp0rm" results in "bash: /c/Users/camer/AppData/Local/Microsoft/WindowsApps/python: Permission denied" and i havent been able to find a helpful explanation as to why. I'm new to programming, especially in py so sorry for any rookie mistakes!

[2020-06-25 14:19] furher023 commented on #649
I think there was some problem connecting, working fine now.

[2020-06-25 14:19] #649 closed

[2020-06-25 23:09] DnDRogue opened #658 "ERROR: Cannot uninstall 'stem'."
When I run the:

`$ python3 -m pip install -r requirements.txt`

command to finish setting up Sherlock, I get the following error while trying to uninstall stem:

[code]

I've tried locating packages named stem but I can't find any. What am I supposed to do here?

[2020-06-28 12:03] #611 closed

[2020-06-30 01:14] Itzkashi opened #660 "Error please help"
![Screenshot_20200630-020941_Termux](https://user-images.githubusercontent.com/67024848/86071476-40d81900-ba77-11ea-8bc0-d4025ea6fb3b.jpg)
![Screenshot_20200630-020915_Termux](https://user-images.githubusercontent.com/67024848/86071508-54837f80-ba77-11ea-978c-eb9584998f66.jpg)

[2020-07-02 03:16] jepunband commented on #647
Yes, false positives still there after doing git pull to the latest.
1. liveleak
2. redsun
3. twitter
4. ko-fi

[2020-07-02 09:53] sdushantha commented on #647
@Luidiblu Since you added ko-fi, could you take a look at this?

[2020-07-02 11:18] moran04 opened #661 "python: can't open file 'sherlock.py': [Errno 2] No such file or directory"
i have tried luanching and downloading this code dozens of times and i even tried renaming the compressed folder

[2020-07-02 13:38] YMA198 commented on #661
I had the same problem but when you look you will see there is _another_ subfolder called sherlock inside the sherlock folder. Good Luck!

[2020-07-02 16:03] sdushantha commented on #661
Hey @moran04,

Try following these steps:
1. Download the ZIP file from here: https://github.com/sherlock-project/sherlock/archive/master.zip
2. Unzip it using whatever method that suits you
3. Open your terminal and run `cd /path/to/sherlock/
4. Then install the needed dependencies by running `python3 -m pip install -r requirements.txt`
5. Then run you are good to go! `python3 sherlock username`

[2020-07-02 16:09] sdushantha commented on #660
Hey @Itzkashi :)

Try following these steps:
1. Download the repo: `git clone https://github.com/sherlock-project/sherlock`
2. Go into the sherlock directory: `cd sherlock`
3. Install the needed dependencies: `python3 -m pip install -r requirements.txt`
4. Run sherlock: `python3 sherlock username`

[2020-07-02 16:18] sdushantha commented on #658
Hey there @DnDRogue, I have never seen that type error before.
You could try uninstalling `stem` first, `python3 -m pip uninstall stem`, and then run `python3 -m pip install -r requirements.txt`?

Let me know what happens, I'm curious to know.

[2020-07-02 16:32] sdushantha commented on #657
Hey @Soy-5auce, are you using the command prompt or [Git for Windows](https://gitforwindows.org/)?

[2020-07-03 01:20] Itzkashi commented on #660
![Screenshot_20200703-020824_Gallery](https://user-images.githubusercontent.com/67024848/86422003-be986080-bcd3-11ea-8504-9c2e6d6d8953.jpg)

[2020-07-03 01:20] Itzkashi commented on #660
I got this working thanks

[2020-07-03 01:21] #660 closed

[2020-07-03 14:02] TheErik009 opened #662 "Unknown Error Type/Invalid Syntax"
ejb@myssol:~/sherlock$ python3 sherlock
Traceback (most recent call last):
  File "/usr/lib/python3.5/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "sherlock/__main__.py", line 10, in <module>
    import sherlock
  File "sherlock/sherlock.py", line 376
    raise ValueError(f"Unkno

[2020-07-03 14:15] Luidiblu commented on #647
Sure! I can take a look! And fix the ko-fi false positive

[2020-07-03 18:33] sdushantha commented on #662
Hey!

Could you please send me the output of this command:
[code]

[2020-07-03 18:49] TheErik009 commented on #662
ejb@myssol:~$ python3 --version
Python 3.5.3

[2020-07-03 18:56] sdushantha commented on #662
In the [Installation](https://github.com/sherlock-project/sherlock#installation) section, it states that you have to have Python 3.6 or above. This is so that f-strings are onlhy compatible with Python3.6 or above.

So to fix the issue you are having, you must install Python3.6 or a later version.

[2020-07-03 18:56] #662 closed

[2020-07-05 09:19] 10ke5h commented on #661
"Python3 sherlock username" worked for me on Termux

[2020-07-05 09:34] #661 closed

[2020-07-06 13:59] SDR0512 commented on #264
![57183679-e018-4657-8e9a-fc0862320bc4_200x200](https://user-images.githubusercontent.com/58349712/86601443-f3036980-bfbe-11ea-95f2-fe0034594fc4.png)

[2020-07-08 17:40] sdushantha commented on #647
@Luidiblu @jepunband I have fixed the false positive for ko-fi in 2a26f0b

[2020-07-09 11:48] sdushantha commented on #647
Okay, I'm just gonna put this list here so that we can keep track of the sites that have been listed in this thread:

- [x] LiveLeak
- [x] redsun
- [ ] Twitter
- [x] Ko-fi

---

- [x] = has been fixed or removed

[2020-07-09 11:50] sdushantha commented on #541
I'm just gonna put this list here so that we can keep track of the sites that have been listed in this thread:
- [ ] capfriendly
- [ ]
- [ ]

[2020-07-10 06:42] jepunband commented on #647
@sdushantha ok, now it works! no more false positives.

[2020-07-10 19:27] Akshay-2000 opened #667 "Sherlock"

[2020-07-10 19:47] sdushantha commented on #667
Closing this because there is no description and the title explains nothing. The account was also made 5 days ago, so could be a spam account.

[2020-07-10 19:47] #667 closed

[2020-07-10 22:00] veryniceusername opened #668 "-bash: python3: command not found"
When i try to install the requirements i get the error -bash: python3: command not found

Im using kali linux terminal on windows and i have the newest version of python

[2020-07-11 01:58] richardgetz commented on #541
Some of these are likely occurring due to username format. If you added regex checks not disallow periods in usernames the large majority of these will disappear.

[2020-07-11 06:13] sdushantha commented on #668
Thats strange. What is the output of `python --version` ?
If the version is something like `3.x.x`, then try installing the requirements like this: `python -m pip install -r requirements.txt`

[2020-07-12 19:08] veryniceusername commented on #668
Yeah if i do that i get the error -bash: python: command not found

[2020-07-12 19:41] sdushantha commented on #668
Looks like you did a mistake when installing Python. Could be that Python is not in your `$PATH`. I unfortunately can't help you with installing python, but there are many YouTube videos which explains very well on how you can properly install it.

Closing this as it has nothing to do with Sherlock.

[2020-07-12 19:41] #668 closed

[2020-07-12 19:43] sdushantha commented on #657
I hope you find a solution to your the issue you are having. I am sure there are many tutorials on YouTube which will guide on how to fix this issue. If YouTube doesnt help, try posting your issue onto [r/python](https://www.reddit.com/r/python)

I am closing this issue as it has nothing to do with Sherlock.

[2020-07-12 19:43] #657 closed

[2020-07-12 19:51] sdushantha commented on #646
Closing this as it is not an issue related to Sherlock. If you still are facing this issue, try asking on StackOverflow or [r/learnpython](https://www.reddit.com/r/learnpython/)

[2020-07-12 19:56] sdushantha commented on #604
This issue is 2 months old and there doesn't seem to be any updates from @chromechris. I will assume that they have successfully fixed the issue that they were having. I am closing this so that the list of issues can be kept nice and tidy.

[2020-07-12 19:56] #604 closed

[2020-07-13 10:38] sdushantha commented on #373
@hoadlck Has this issue been fixed?

[2020-07-13 11:13] hoadlck commented on #373
No, I have not done anything more with it.

[2020-07-17 09:02] morgulbrut commented on #647
1. Wikipedia
2. Tinder

seem somehow fishy too.

www.gotinder.com/@randomuser just shows a "this user may have changed his name" site
and wikipedia.org, as it should, shows a "wanna add this user?" site

[2020-07-17 09:35] sdushantha commented on #647
@morgulbrut I think it would be wise to add regex support for the error messages so that we can use multiple error messages.
Example: `(Error1|Error2)`

[2020-07-17 14:02] ClackHack opened #670 "Javascript websites"
Notably tinder and twitter always display due to their websites displaying a warning about javascript being off

[2020-07-17 23:07] realprogrammer5000 commented on #670
Twitter could be checked with m.twitter.com, which does not require JavaScript

[2020-07-19 06:47] weber401 commented on #656
https://www.bswen.com/2019/09/others-pip-install-conan-errors-and-exceptions.html  try this if you haven't

[2020-07-19 14:35] MicrowaveMaster opened #671 "Issue with downloading Shrelock on Python with Windows 10"
I installed have Python 3.8 (Including pip3) and everytime i try to download sherlock I get a Syntax Error ? I'm new to the coding and really don't know what to do...

[2020-07-20 18:54] sdushantha commented on #671
Did make sure to install the needed dependencies? If you haven't, just run the command below:
[code]

If this doesnt fix the problem, could you send a screenshot or copy and paste the error message you are getting?

[2020-07-20 18:58] MicrowaveMaster commented on #671
I finally got it to work using the google cloud shell, thanks for the reply

[2020-07-20 18:58] #671 closed

[2020-07-22 10:54] sdushantha commented on #643
This has been fixed in #672

[2020-07-22 10:54] #643 closed

[2020-07-24 02:31] Column01 opened #673 "Program locks up randomly on Zomato accounts"
For some reason, my search locks up on some Zomato accounts.
Using the username `testing123`, it locks up after `Zhihu` (which in the config is `Zomato`).
I have no idea why this happens as sometimes it works for other usernames and sometimes it doesn't work for those same usernames.

![img](https://i.imgur.com/jNLdsju.png)
Space below the last item just has a blinking cursor like it's stuck.

[2020-07-24 02:32] Column01 commented on #673
For now, I just removed it from my sites list

[2020-07-24 08:06] sdushantha commented on #673
@Column01 I also noticed that yesterday. It took around 20 seconds for Zomato to load. I thought it must have just been something to do with my wifi.

I will remove Zomato because it causes of this strange problem.

[2020-07-24 08:51] sdushantha commented on #673
Closing because this issue has been fixed in the latest commit: db878ab

[2020-07-24 08:51] #673 closed

[2020-07-25 18:33] QairexStudio opened #675 "pip3 problem"
hi bros. i got this problem. how can i solve it. i was research solved it but i wasnt found anything.
problem:
`AttributeError: module 'OpenSSL.SSL' has no attribute 'SSLv23_METHOD'`
when i wrote i get that error: `pip3 install -r requirements.txt`

[2020-07-25 21:23] Acidic-x opened #676 "Stuck on the requirements"
Hello, im currently trying to download sherlock and one of the errors ive encountered so far is being stuck on
 Running setup.py bdist_wheel for lxml ... /

Any tips on how to fix this?

[2020-07-26 06:59] sdushantha commented on #675
Try out this answer:
**https://stackoverflow.com/a/43267158/9215267**

![image](https://user-images.githubusercontent.com/27065646/88473472-28480b00-cf1e-11ea-8e7c-ff20099bcd10.png)

---

Also make sure to run `pip` like this:
[code]

[2020-07-26 07:01] sdushantha commented on #676
Could you please send a screenshot of the command you ran and the error you are getting? This will allow use to further help you out.

[2020-07-26 07:28] elazzzzyy opened #677 "hangs"
hangs on zhihu and doesn't move.

[2020-07-26 08:10] sdushantha commented on #677
@elazzzzyy Are you using the latest commit of Sherlock? Zomato was the site which was creating the hang, and I removed in this commit: db878ab5f993c4bb062a7ac847ab7c56682a0293

I just tested out Sherlock with a clean download, and it works perfectly.

[2020-07-26 08:52] elazzzzyy commented on #677
Not sure if anything correlates but same happened to my url fuzzer. reinstalled and it works but this is a pain

[2020-07-26 08:55] QairexStudio commented on #675
Dude i was solved my problem but thanks

[2020-07-26 09:01] sdushantha commented on #677
@elazzzzyy So is everything fixed? May I close this issue?

[2020-07-26 09:01] #675 closed

[2020-07-26 09:10] elazzzzyy commented on #677
No

On Sun, 26 Jul 2020, 10:01 Siddharth Dushantha, <notifications@github.com>
wrote:

[2020-07-26 09:11] sdushantha commented on #677
@elazzzzyy Have you tried reinstalling Sherlock with the latest version?

[2020-07-26 10:40] elazzzzyy commented on #677
Yes

On Sun, 26 Jul 2020, 10:12 Siddharth Dushantha, <notifications@github.com>
wrote:

[2020-07-26 11:28] sdushantha commented on #677
Ive tried using Sherlock from my local computer and different servers which are located in different countries and they seems to be working perfectly. I am pretty sure that you are having issues due to you internet connection.
I'll be closing this issue because this is more of a environment issue and not an issue related to Sherlock

[2020-07-26 11:28] #677 closed

[2020-07-26 12:19] YeaToast opened #679 "Cannot use Sherlock on iOS app Pyto"
I cannot clone the repo, nor can I install from the requirements.txt. Somebody please help, I also cannot find any git2zip file converters

[2020-07-27 05:41] sdushantha commented on #679
Sherlock was never meant to support Pyto and we wont be planning on creating support for it. I would recomend you to use Pythonista instead because it allows you use `pip` to install modules through a terminal like application called [StaSh](https://github.com/ywangd/stash). I think it also has `git` if I remember correctly. Just so you know, **Sherlock might not work on Pythonista either**, but I

[2020-07-27 05:41] #679 closed

[2020-07-27 08:48] anguswww opened #680 "Mixer has shut down and returns false posities"
Mixer has been replaced with Facebook Gaming and returns false positives.

[2020-07-27 10:28] #680 closed

[2020-07-27 12:35] YeaToast commented on #679
Pyto has PIP - you just have to look for it.

[2020-07-28 06:26] billyb2 commented on #647
Fixed Twitter by changing to the mobile Twitter URL.
https://github.com/sherlock-project/sherlock/pull/684

[2020-07-28 06:27] billyb2 commented on #670
Could we possibly use browser automation for this? Maybe have the option to set a site as using JavasScript and if it does, use Scrapy with Splash?

[2020-07-28 06:30] sdushantha commented on #670
Not sure about that yet. I'll have do some thinking

[2020-07-28 06:42] sdushantha commented on #647
@morgulbrut The response you are getting from Tinder might be the correct response because if I try the username "sara" it actually shows an account: **https://tinder.com/@sara**

[2020-07-28 06:42] billyb2 commented on #670
Hmm, what are the cons to doing this? Besides the fact that additional software would have to be packaged?

[2020-07-28 06:56] sdushantha commented on #670
@billyb2 I dont know when or where @hoadlck mentioned this, but I do remember that he mentioned [requests-html](https://github.com/psf/requests-html) to be a good library to take a look at because it supports JavaScript

[2020-07-28 07:32] sdushantha commented on #512
The reason for closing this issue can be read in PR #569

[2020-07-28 07:32] #512 closed

[2020-07-28 07:38] sdushantha commented on #644
Closing this issue assuming that it has been solved. And I'm not expecting a reply because that account was created on the same day this issue was made, so I assume it's a throw away account.

I know assuming is not good, but that's the only thing I can do in order to clean up the issues in this repo.

[2020-07-28 07:38] #644 closed

[2020-07-28 07:43] sdushantha commented on #525
@LameLemon That would be great in my opinion. I think using regular expressions would fix this because we would be able to do things such as `(foo|bar)`, but of course this could cause some trouble if we were to add the error messages for all languages.

[2020-07-28 13:35] ClackHack commented on #670
m.twitter worked for me

[2020-07-28 18:39] termashacker69 opened #686 "'git' is not recognized as an internal or external command, operable program or batch file."
yeah please helpit just says that as soon as i try the first command

[2020-07-28 19:12] YeaToast commented on #686
What OS are you running?

[2020-07-29 04:52] jimbokali opened #687 "PermissionError: [Errno 13] Permission denied"
Is anyone able to help me figure out why my username searches do not write a .txt file?  In my sherlock directory, there is another sherlock folder where sherlock.py is.  I am new to Linux so I don't know if I have to give execute permissions to the new folder, or if i should just uninstall/reinstall.  Please let me know if anyone can help, thanks!

[2020-07-29 05:47] sdushantha commented on #687
Could you send us the full command you typed in and the error that you got?

[2020-07-29 14:04] YeaToast commented on #687
Did you try using sudo?

[2020-07-29 14:35] YeaToast commented on #648
# MISSING INFO

I need some details if you expect support

1. Which OS are you using?
2. Do you have a firewall blocking certain websites?
3. Does your ISP Block certain websites?

[2020-07-29 14:38] YeaToast commented on #170
How would a PiPy package work in python? Would it be a module (python -m sherlock) or a package (import sherlock)

[2020-07-29 16:26] jimbokali commented on #687
I've tried using sudo but I get a different error.  Without using sudo i get an output, just not a .txt file so I can't nano.
My input:
python3 sherlock.py sg0nk

Output:
Traceback (most recent call last):
  File "sherlock.py", line 634, in <module>
    main()
  File "sherlock.py", line 597, in main
    with open(result_file, "w", encoding="utf-8") as file:
PermissionError: [Errno 13] Permission d

[2020-07-29 16:59] sdushantha commented on #687
@jimbokali
You wrote the wrong command.
This is what you are supposed to run:
[code]

Note that there is *no* `.py` at the end of `sherlock`

[2020-07-29 19:28] jimbokali commented on #687
I get the same error when writing python3 sherlock sg0nk

[2020-07-29 19:44] sdushantha commented on #687
@jimbokali Could please send a screenshot of what is happening?

[2020-07-29 21:12] jimbokali commented on #687
@sdushantha

![sherlock1](https://user-images.githubusercontent.com/68930996/88853987-99a5e900-d1be-11ea-8c30-efc8f73645d0.JPG)
![sherlock2](https://user-images.githubusercontent.com/68930996/88853990-9ca0d980-d1be-11ea-8214-828a826fc421.JPG)
[](url)

[2020-07-30 01:32] hoadlck commented on #687
I suspect that this is the permissions of the directory.  Run the following command and see who owns the sherlock directory and the containing files.
[code]
Did you clone the repository under sudo?  That would cause the files  to not be owned by your normal user level, so there would be a complaint.

[2020-07-30 04:49] jimbokali commented on #687
@hoadlck It is owned by root, so that is definitely it, thanks so much, I'll close the issue now

[2020-07-30 04:49] #687 closed

[2020-07-30 05:01] sdushantha commented on #687
That makes much more sense. Since you were using Kali I assumed everything was root by default, but then I remembered that in the latest update the introduced normal users because people started to use Kali as a daily driver.

[2020-07-30 05:03] jimbokali commented on #687
@sdushantha Yeah I should have been more clear in my original post as to what steps I took.  Thank you for all your help too!

[2020-07-30 11:17] rodrigograca31 commented on #686
This is not a valid issue.

You don't seem to have `git` installed.
This could be solved with a google search. has nothing to do with this project.

Please close the issue

[2020-07-30 11:26] rodrigograca31 commented on #647
I'm having lots of false positives.

I don't know how you guys check if the user exists or not but when I manually check the found URLs a good portion says "user not found 404".

Here are some examples:
https://www.investing.com/
https://opencollective.com/
https://www.tiktok.com/
https://www.wikipedia.org/

tiktok would be a very important one to get fixed....🤔

[2020-07-30 11:28] rodrigograca31 commented on #541
I'm having lots of false positives.

I don't know how you guys check if the user exists or not but when I manually check the found URLs a good portion says "user not found 404".

Here are some examples:
https://www.investing.com/
https://opencollective.com/
https://www.tiktok.com/
https://www.wikipedia.org/

tiktok would be a very important one to get fixed....🤔

[2020-07-30 13:15] cyborg411 opened #688 "Can't install requirements.txt"
**Hi**, does someone know how to solve my problem please.

When I execute $ python3 -m pip install -r requirements.txt I get this error in my terminal : https://i.imgur.com/YA08HOv.png

[2020-07-30 14:58] sdushantha commented on #688
@cyborg411 Does this answer fix it?
**https://stackoverflow.com/a/43267158/9215267**

![image](https://user-images.githubusercontent.com/27065646/88473472-28480b00-cf1e-11ea-8e7c-ff20099bcd10.png)

[2020-07-30 15:17] cyborg411 commented on #688
Unfortunately, that doesn't work.
I get this error : https://i.imgur.com/ZHaZiNB.png

[2020-07-30 15:24] #688 closed

[2020-07-30 15:35] sdushantha commented on #686
@rodrigograca31 I find it difficult to close and issue without the person finding a solution as it seems rude. I have thought about creating issue templates for this repo, but cant seem to create a good one. I tried using [youtube-dl's issue templates](https://github.com/ytdl-org/youtube-dl/issues/new/choose) as a reference but didn't do much help because I dont feel like they fit this project wel

[2020-07-30 15:35] #686 closed

[2020-07-30 15:38] sdushantha commented on #636
Im closing this issue as it hasnt seen any activity and the author of this issue seems to have used a throw away account because the issue was created 2 days after the creation of the account and has not seen any activity since.

[2020-07-30 15:38] #636 closed

[2020-07-30 15:41] sdushantha commented on #645
Closing this issue because I'm pretty sure we wont be getting a reply from the author of this issue. The issue was created on the day the account was created and the account has not seen any activity since. Could be a throw away account.

[2020-07-30 15:41] #645 closed

[2020-07-30 15:43] #626 closed

[2020-07-30 15:45] #598 closed

[2020-07-30 15:50] #634 closed

[2020-07-30 15:50] #658 closed

[2020-07-30 15:51] #656 closed

[2020-07-30 15:52] #621 closed

[2020-07-30 17:05] rodrigograca31 commented on #686
@sdushantha I completely understand.
But we got to be real. The issue was not related at all.

When it comes to the issue template here is [a repo with a few examples](https://github.com/stevemao/github-issue-templates).

May I suggest one of the following:
https://github.com/stevemao/github-issue-templates/blob/master/simple/ISSUE_TEMPLATE.md
https://github.com/stevemao/github-issue-templates/blo

[2020-07-30 22:08] ShadowCherry opened #689 "users/%user%/Appdata/Local/Nicrosoft/Windowsapps/python: Permission Denied"
i am using git bash on windows and it keeps saying permission denied

[2020-07-31 05:27] sdushantha commented on #689
Try this:
https://stackoverflow.com/questions/56974927/permission-denied-trying-to-run-python-on-windows-10

Closing this because it is not an issue with Sherlock

[2020-07-31 05:27] #689 closed

[2020-07-31 10:36] sdushantha commented on #541
@rodrigograca31 TikTok was removed a while ago. Are you using an older version of Sherlock?
**https://github.com/sherlock-project/sherlock/blob/master/removed_sites.md#tiktok**
![image](https://user-images.githubusercontent.com/27065646/89027224-6a13ef80-d32a-11ea-9927-3a98e1ec7b07.png)

[2020-07-31 13:45] rodrigograca31 commented on #541
Oh... True... I git cloned the repo 3 months ago... I should update... My bad.

I was about to ask why to remove TikTok but I gave it a trie and seems not easy to figure out if a user exists or not.

EDIT: Actually Im not sure if this will be useful but doing a `wget` on an existing user returns a page with JSON **that includes** `metaParams` object/string in the code... (regex could detect that.)

[2020-07-31 13:58] sdushantha commented on #541
@rodrigograca31 Regex would be nice. That means that I'd have to change the code a little in `sherlock.py`. Because at the moment, we are check if the `errorMsg` is in `r.text`. Instead, we could do a `re.findall(REGEX, r.text)`.

I'll try do add that into `sherlock.py` and see if everything works properly. But it might be a while before I get started because I'm pretty busy

[2020-08-03 01:45] B1aCk0uT18 opened #691 "Having trouble downloading requirements.txt"
I typed in "python3 -m pip install -r requirements.txt" and it gave me the error shown in my screenshot. Thoughts on how to fix it?

![image](https://user-images.githubusercontent.com/58851990/89138221-e3693900-d508-11ea-8846-7755618bfa9f.png)

[2020-08-03 05:37] sdushantha commented on #691
Does this answer fix it?
**https://stackoverflow.com/a/43267158/9215267**

![image](https://user-images.githubusercontent.com/27065646/88473472-28480b00-cf1e-11ea-8e7c-ff20099bcd10.png)

I'll be closing this issue because its a problem with your environment and not Sherlock

[2020-08-03 05:37] #691 closed

[2020-08-03 15:19] roopeshvs commented on #541
[Polarsteps](https://www.polarsteps.com/) seem to report false positives most of the time too.

![Screenshot (88)](https://user-images.githubusercontent.com/47831211/89198294-a6657b00-d5ca-11ea-8325-81eb72abb52d.png)

P.S: It always redirects to /user-not-found when the user is a false positive. Maybe it can help in patching this specifically.

[2020-08-03 16:42] sdushantha commented on #541
@roopeshvs If remember correctly, the checking of the redirect url does not actually work.
https://github.com/sherlock-project/sherlock/blob/master/sherlock/sherlock.py#L356

Its been a very long time since I've properly looked at the source code, so Im not entirely sure what is going on. But Im sure if I take look at it when I get some time, I'll get a better understanding of whats going on

[2020-08-04 13:54] shikha-16 opened #692 "Always stops after LiveJournal"
Any user I search for, the program stops working after 'LiveJournal', attaching screenshot below.
![image](https://user-images.githubusercontent.com/68149849/89302177-243b8c00-d688-11ea-9aac-f5a73eb2a015.png)

[2020-08-05 11:52] sdushantha commented on #692
This could be because of some connection issues to the site from your internet because everything is fine when I tried it

[2020-08-05 12:13] sdushantha commented on #692
If you encounter connection issues just try running Sherlock again. It usually has something to do with the speed of your internet connection

[2020-08-05 12:13] #692 closed

[2020-08-06 10:05] sdushantha commented on #647
Tinder has been fixed in #697, thanks to @roopeshvs

[2020-08-06 10:13] sdushantha commented on #610
It seems like it better to remove the site ranking because I tried running `site_list.py` using a VPN, where my location was Los Angeles and I keep getting this response:
[code]

There is rate limit

[2020-08-06 11:13] sdushantha commented on #647
Wikipedia has been fixed in #698, credits to @roopeshvs

[2020-08-06 11:14] sdushantha commented on #647
Closing this issue as all the sites mentioned in this issue has been dealt with 👍

[2020-08-06 11:14] #647 closed

[2020-08-06 11:15] #609 closed

[2020-08-06 11:16] sdushantha commented on #605
Closing this issue because there is a high chance that we will not get a reply from @satechi because it seems like a throw away account

[2020-08-06 11:16] #605 closed

[2020-08-06 12:33] #676 closed

[2020-08-06 17:51] Flairings opened #699 "babyblogRU False positive"
babyblogRU False positive please fix thank you.

[2020-08-06 17:52] Flairings opened #700 "Polarsteps false positive"
Polarsteps false positive pls fix thanks.

[2020-08-06 17:55] Flairings opened #701 "Image not working."
the image is broken or just doesnt work in CMD pls fix if possible

[2020-08-06 19:23] sdushantha commented on #701
@Flairings Which image does not work?

[2020-08-06 21:39] YeaToast opened #702 "What happened to the ASCII Banner?"
In the GIF at the README the banner is shown, however, on the latest version it isn't shown

[2020-08-07 04:31] sdushantha commented on #702
@YeaToast It was removed a long time ago because it was unnecessary to have. We haven't updated the GIF in the README, because the only difference is that the banner is gone and that the command is slightly different know because of the new directory structure we have.

[2020-08-07 04:31] #702 closed

[2020-08-07 09:39] sdushantha commented on #541
@roopeshvs

I did some research and I found out that we can use this endpoint check usernames:

[code]

With this data
[code]

The only problem is that it is a POST request, and Sherlock currently does not do POST requests. So I'll have to implement that and a way to tell Sherlock to do a POST request by looking at the `data.json`

[2020-08-07 10:39] roopeshvs commented on #541
@sdushantha Found a GET API from Polarsteps that would suit us better.

[https://api.polarsteps.com/users/byusername/USERNAME](url)

Also, the previously claimed username is a mistake, it didn't exist. :(

[2020-08-07 11:41] sdushantha commented on #700
this has been fixed in the latest commit

[2020-08-07 11:41] #700 closed

[2020-08-07 11:49] Flairings commented on #701
![image](https://user-images.githubusercontent.com/58793605/89642843-7ceb6e80-d8ac-11ea-8236-d093fd752277.png)

[2020-08-07 12:47] sdushantha commented on #701
It was removed because it was unnecessary

[2020-08-07 12:47] #701 closed

[2020-08-07 13:10] sdushantha commented on #699
fixed this in the latest commit

[2020-08-07 13:10] #699 closed

[2020-08-07 13:23] sdushantha commented on #541
Metacritic can fixed by using their API endpoints, but again, I will need to add the ability to do POST requests:
[code]

**output**
[code]

[2020-08-07 16:15] #633 closed

[2020-08-07 16:59] #646 closed

[2020-08-07 20:04] #574 closed

[2020-08-07 20:04] #606 closed

[2020-08-08 04:58] sdushantha commented on #612
@Dominatez you are missing a module named `requests_future`. Please install all the needed dependencies for Sherlock to work properly

[2020-08-08 04:58] #612 closed

[2020-08-08 10:16] Flairings opened #705 "Question: Sherlock Slow"
if sherlock is being slow, (taking long to load the results) is that your internets fault, your computers, or the websites? idk just a question

[2020-08-08 11:04] sdushantha commented on #705
Hey @Flairings!

Great question! It usually has to do with your internet speed and the speed of the website. Sometimes certain websites take a long time to respond in certain countries (not sure why).

[2020-08-08 11:05] #705 closed

[2020-08-08 12:44] Xenoy017 opened #706 "Using Display Name's Instead of @'s / Username"
It would be easier if we can search some one's social media account's with a Display name/Nickname e.g If  I was trying to find someone on Instagram we could use their Real Name since we cant add Spaces or it will be identified as another user when starting the search.

[2020-08-08 13:57] sdushantha commented on #706
It will be identified as another user when starting the search. Usernames are more unique than display names

[2020-08-08 13:57] #706 closed

[2020-08-08 14:51] #610 closed

[2020-08-08 18:03] roopeshvs commented on #541
@sdushantha
Metacritic is working fine.
The only case that is wrong is when we have a dot(.) in the username which is an illegal character for username in the site!
Just change Regex and we are good, I guess.

[2020-08-08 18:19] Flairings opened #709 "instagram false positive"
pls fix

[2020-08-08 18:19] #709 closed

[2020-08-08 21:40] ShadowCherry opened #710 "C:\Users\%user%\AppData\Local\Programs\Python\Python38-32\python.exe: can't find '__main__' module in 'sherlock'"
i enter python sherlock (username) and it shows as that , can anyone help

[2020-08-08 21:41] #710 closed

[2020-08-10 08:05] roopeshvs commented on #388
@sdushantha
I think this was fixed at some point and not closed?

[2020-08-10 08:12] roopeshvs commented on #525
Would fixing this using
[code]
be a bad idea?

[2020-08-10 08:43] sdushantha commented on #388
@roopeshvs Ah okay thanks for letting me know 👍

[2020-08-10 08:43] #388 closed

[2020-08-10 08:44] sdushantha commented on #525
@roopeshvs It's not a bad idea if it fixes the issue

[2020-08-10 11:09] #525 closed

[2020-08-10 20:20] philku opened #714 "YandexCollection false positives"
When using the application, YandexCollection reports a find for all usernames.

I am testing from the USA.

Sample output:
[code]

[2020-08-11 05:03] #714 closed

[2020-08-11 05:05] sdushantha commented on #714
This issue has been fixed in commit d32794f. I removed it from the `data.json` because YandexCollection now presents us with a rechapta which prevents us from checking for usernames. If there is a fix for this in the future, we will of course add it back.

Thank you for letting us know about this false positive 👍

[2020-08-11 19:17] roopeshvs commented on #413
@sdushantha
Think we should close this. StravaClub seems to be working with Strava usernames only.

[2020-08-12 04:14] #413 closed

[2020-08-12 10:28] avinashkranjan opened #718 "It would more helpful if only found ones show in Terminal when searched for a username"
When You Search for any username using sherlock.... <b>Found and Not Found </b>

![Screenshot (126)](https://user-images.githubusercontent.com/55796944/90004309-0a66fe00-dcb3-11ea-9078-af9aae820b5c.jpg)

<h3>It would be more helpful if only found ones gets shown... and a module be made to show all.</h3>

[2020-08-12 11:43] hoadlck commented on #718
There is already an option `--print-found`.  Is this not what you want?

[2020-08-12 11:46] avinashkranjan commented on #718
But Wouldn't be more helpful if it's prints only found by default, and all when mentioned..

[2020-08-12 22:07] nohupt commented on #541
also: freelance.habr

https://freelance.habr.com/freelancers/testing123boyeeeee

[2020-08-12 22:07] nohupt commented on #541
also: freelance.habr

https://freelance.habr.com/freelancers/testing123boyeeeee

[2020-08-12 22:17] nohupt commented on #541
and: tracr.co

https://tracr.co/users/1/testing123boyeeeee

[2020-08-13 02:49] subak1 opened #721 "Ill trie"

[2020-08-13 03:25] Hex977 opened #722 "SAVE FOR DIXXING"

[2020-08-13 10:55] #721 closed

[2020-08-13 10:55] #722 closed

[2020-08-13 15:12] sdushantha commented on #718
I agree on this. I do find myself using the `--print-found` flag almost all the time. We could have a `--verbose` flag which shows the "**Not Found!**" sites.

[2020-08-14 11:44] Franceshe opened #724 "OS connection error"
Wonder anyone ran into the same error while experimenting with this project as following:
`
➜  sherlock git:(master) python3 sherlock allenturing
A problem occured while checking for an update: ('Connection aborted.', OSError(0, 'Error'))
ERROR:  Problem while attempting to access data file URL 'https://raw.githubusercontent.com/sherlock-project/sherlock/master/sherlock/resources/data.json':  ('Co

[2020-08-14 13:05] sdushantha commented on #724
@Franceshe What OS are you using?

[2020-08-14 17:29] Franceshe commented on #724
@sdushantha  I am using Mac OS Mojave Version 10.14.6.

[2020-08-14 18:33] sdushantha commented on #724
@Franceshe That is very strange because I am also on macOS, but Sherlock is working perfectly. Not that it should matter, but I am using Catalina 10.15.2

I have had really bad experience with Python on macOS. I have many issues with SSL, pip not working properly, and some issues with external modules.

This is an environment issue, and does nothing to do with Sherlock. If Docker works for you, th

[2020-08-14 18:33] #724 closed

[2020-08-16 18:34] abyshekhar commented on #718
I would say displaying the count of the sites on which the username was found would also make sense.

[2020-08-16 18:39] abyshekhar opened #725 "Username for Facebook shows not found although it exists"
While exploring the feature i tried looking for the sites with my username and surprisingly facebook being the most common one shows as not found for the username 'abyshekhar'

[2020-08-16 18:53] sdushantha commented on #718
@abyshekhar Could explain why this would be useful? I cant think of a reason why someone would want to know the number of sites. If you really wanted to know, you could always open up the text file that gets created and it has the count at the end.

[2020-08-16 18:55] sdushantha commented on #725
I'll work on this later, but I think using the error message might be better than checking the status code. We could use this error message: **This page isn't available**

[2020-08-16 19:03] abyshekhar commented on #718
Sometimes we create accounts on lot of websites for using some functionality as in when required and later forget the details. As a user of the sherlock project i would be curious to know that in how many sites i have an account with a username and then would go ahead and review them individually.
I just noticed that the text file does contain it but would be good if that is the first line to be d

[2020-08-16 21:49] busybox11 opened #726 "Errors on Facenama and Cloob"
The script outputs "Error Connecting" for those two platforms

[2020-08-17 04:26] sdushantha commented on #726
@busybox11 That is not an issue with Sherlock. You are getting that error because your computer is unable to connect with the site. This could be because of slow internet connection.

[2020-08-17 04:26] #726 closed

[2020-08-17 07:48] sdushantha commented on #725
Seems like you need to sign up in order to check for usernames on Facebook. It's unfortunate that it's not working. We'll have to try and figure out another way because Facebook is a very important site

[2020-08-17 10:03] luizanao commented on #191
why not async those requests to avoid any kind of network blocks? I could give a hand on that

[2020-08-17 16:58] busybox11 commented on #726
Well, I don't think this is an error from my computer, since it is running from Google Cloud Engine...

[2020-08-17 17:04] sdushantha commented on #726
@busybox11 The connection errors are not large problems. They tend to go away if you try running Sherlock a couple of times. The site might be a little slow to respond. It's not really a problem with Sherlock

[2020-08-17 19:13] usernameqr opened #728 "1"

[2020-08-17 23:27] kajnet commented on #246
Had this same issue.
This fixed it for me.
python3 -m pip install -r requirements.txt
However, after this I got a new error that I was missing 'TorRequest'.
pip install torrequest
Now it works.

[2020-08-18 04:13] #728 closed

[2020-08-19 01:34] dudeamax99 opened #730 "PayPal creating false positives."
#314 has returned only on paypal.
[code]
Going to these urls return 404s.

Python 3.8.5, Sherlock at latest.

[2020-08-19 08:44] #730 closed

[2020-08-20 06:54] LiamTownsley opened #733 "Adding to bin"
How would I add sherlock to the bin so I could type `sherlock user1 user2` anywhere on my Kali VM.

[2020-08-20 08:58] sdushantha commented on #733
This will be possible after the restructure is has been completed. But in the meantime, you can follow this hacky method to achieve the same result.

Open up your terminal and run the following commands:
[code]

Now we need to create an alias. Open up `~/.bashrc` using your favorite text editor and add the text below to the file:
[code]

Close your terminal and reopen it. Now you will be able to r

[2020-08-20 16:21] xRealNeon opened #734 "Ehhhm"
https://www.buzzfeed.com/de/noonewouldeverusethis77 look at the profile xD

[2020-08-20 18:01] sdushantha commented on #734
It honestly does not matter.
In the `data.json`, we are not using that username, we are using xgtrq instead:

[code]

[2020-08-20 18:01] #734 closed

[2020-08-20 18:03] sdushantha commented on #733
Since I got a thumbs from you, I assume it must've worked

[2020-08-20 18:03] #733 closed

[2020-08-24 14:23] roopeshvs commented on #725
![Screenshot (103)](https://user-images.githubusercontent.com/47831211/91056177-413dfc00-e643-11ea-8347-6f06c7e94e64.png)

Profiles that have this enabled, give correct responses and Sherlock is working fine if we consider this.

[2020-08-24 14:48] roopeshvs commented on #725
@sdushantha I figured a hack to make it work using an URL like https://www.facebook.com/{}/videos/ which would say "You must log in to continue" if such a profile existed, else would give us a "This page isn't available" - which we can use as an error message.

I can send in a PR for this if my previous PR be reviewed..

[2020-08-24 15:53] sdushantha commented on #725
@roopeshvs Great find! Does that method still work if the account does not have any videos?

[2020-08-24 16:04] roopeshvs commented on #725
@sdushantha Yes. It seems to be working. videos/ is available for all users irrespective of that.

[2020-08-24 16:09] sdushantha commented on #725
Closing this issue as it has been fixed by @roopeshvs in #737

[2020-08-24 16:09] #725 closed

[2020-08-25 12:03] roopeshvs commented on #433
This is because CashMe does not support the user's country. CashMe most likely uses IP addresses to determine that. Although this can be sorted via using a proxy or VPN, I think a lot of users do not need to and yet receive a false-positive.

I suggest we make Sherlock report CashMe Not Found in countries that do not have CashMe. i.e., report false-negatives instead of false-positives. Will that b

[2020-08-28 19:47] indie-hacks opened #739 "python3 -m pip install -r requirements.txt"
I ran `python3 -m pip install -r requirements.txt` and got

`~/sherlock# python3 -m pip install -r requirements.txt
WARNING: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError("Can't connect to HTTPS URL because the SSL

[2020-08-29 00:30] GrbavaCigla commented on #541
I get these false positives:
https://500px.com/
https://cash.me/
https://www.clozemaster.com/
https://www.colourlovers.com/
https://www.wikipedia.org/

[2020-08-29 05:29] sdushantha commented on #739
Try out this answer:
**https://stackoverflow.com/a/43267158/9215267**

![image](https://user-images.githubusercontent.com/27065646/88473472-28480b00-cf1e-11ea-8e7c-ff20099bcd10.png)

---

Also make sure to run `pip` like this:
[code]

[2020-08-29 06:28] sdushantha commented on #541
@GrbavaCigla What version of Sherlock are you using? Some of the sites you mentioned had been removed in the past due to false positives. Also, Sherlock now automatically fetches the site list from GitHub instead of using the local one.

Please try using the latest version of Sherlock and let me know if you still get the false positives you mentioned above.

[2020-08-29 06:30] #739 closed

[2020-08-29 21:02] indie-hacks commented on #739
thank you my man ! just ran into another issue tho

[2020-08-30 05:48] sdushantha commented on #739
@indie-hacks If your issue is not related to Sherlock and is more of an issue with Python or `pip` I would recomend you to ask the question over at Stackoverflow, or r/learnpython on Reddit as you will get help quicker

[2020-08-31 17:41] enodr commented on #541
I can confirm with latest version false positives for:
https://www.clozemaster.com/ (uses method status_code but non existing accounts 302 redirects to /dashboard)
https://4pda.ru - displays an error for non existing account but sherlock gives me false positive

[2020-08-31 18:28] sdushantha commented on #541
@enodr I have now fixed the false positive for Closemaster in 87483b5
Regarding 4pda, I'm not getting any false positives:

----

![Screenshot 2020-08-31 at 20 25 34](https://user-images.githubusercontent.com/27065646/91753629-7361d780-ebc8-11ea-91d3-3d6a687ec0d8.png)

[2020-08-31 21:59] HerbertDelima79 opened #741 "How can we get access to the account if i may ask..."
Is there anyway we can get the password linked to these accounts
Sorry I'm a newbie

[2020-09-01 04:31] sdushantha commented on #741
@HerbertDelima79 No, that is not possible. Sherlock only finds sites where a user has an account. It does not crack the password to those sites.

Just some advice; if I were you I would not try to crack other people's accounts as this is illegal.

[2020-09-01 04:31] #741 closed

[2020-09-01 10:32] HerbertDelima79 commented on #741
True though
Very illegal
Thanks

[2020-09-01 10:33] enodr commented on #541
I figured what the issue is with 4pda: I am landing on an anti-robot page because my IP is flagged for whatever reason on their site. The current rule for 4pda is to match an error message if the account is not found. It would be more reliable to invert the logic and check for a regex only if the account is found.

[2020-09-01 10:58] sdushantha commented on #541
@enodr

That would be a great idea, but that would be something we would need to add to Sherlock. I currently dont have much time to work it. But when I do, I'll work on it.

[2020-09-02 07:53] enodr commented on #541
I found a more reliable way for 4pda: https://4pda.ru/forum/index.php?act=auth&action=chkname&login=greenxxx
This url returns a json array with 3 elements. If the first element is 0, the username exists, if 1 it does not exist. Can sherlock handle just test condition (check if json and if item[0] == 0) ?

[2020-09-02 08:00] sdushantha commented on #541
@enodr We can do a simple check for an error message, where the error message is `[1,false,0]`. I removed 4pda yesterday, but since we found a solution, we can add it back. I'll do it later do today.

[2020-09-02 14:40] sdushantha commented on #541
@enodr I have fixed 4pda now in ddecc14

[2020-09-02 18:29] sdushantha commented on #541
@nohupt Not sure why you are getting false positives. Sherlock seems to give me the correct response:
[code]

----

I will be closing this issue because it looks all the sites that have been mentioned in this issue has been dealt with.

[2020-09-02 18:29] #541 closed

[2020-09-02 18:32] sdushantha commented on #354
MeetMe has been removed in 087de2e

[2020-09-02 18:32] #354 closed

[2020-09-02 18:41] #295 closed

[2020-09-02 19:13] #371 closed

[2020-09-02 19:17] sdushantha commented on #477
Closing this issue because the website seems broken. It wont show any posts:
![Screenshot 2020-09-02 at 21 15 16](https://user-images.githubusercontent.com/27065646/92026678-a095bd80-ed61-11ea-9894-2ba10eaee262.png)

[2020-09-02 19:17] #477 closed

[2020-09-02 19:23] sdushantha commented on #411
I appreciate the work you put into the research, but f you have found the correct data that is needed to be added to our `data.json` please create a PR instead.

[2020-09-02 19:23] #411 closed

[2020-09-02 19:23] #510 closed

[2020-09-02 19:23] #504 closed

[2020-09-02 19:40] kaankarakoc42 opened #746 "are you using user-agent ? its helps login for sites."
import requests as r
user_agent = {'User-agent': 'Mozilla/5.0'}#change tech python to mozilla
username="username"
`s=r.get("https://www.tiktok.com/@"+username+"?lang=tr",headers=user_agent)`
c=s.status_code
if username in s.content.decode("utf-8"):
   print("[+] "+s.url)

[2020-09-03 04:45] sdushantha commented on #746
Hey @kaankarakoc42, great question! If you look at lines 201-203 from `sherlock.py` , you will see that we do indeed use a user agent when doing the requests:
https://github.com/sherlock-project/sherlock/blob/75c51f545b2312118a74d788090d0825604c1915/sherlock/sherlock.py#L199-L203

Sometimes, we encounter sites which returns unreliable data when using a user agent, therefore we have an option in th

[2020-09-03 04:45] #746 closed

[2020-09-03 07:59] #289 closed

[2020-09-03 09:22] sdushantha commented on #718
@avinashkranjan This is currently being worked on in #747

[2020-09-03 12:23] sdushantha commented on #718
fixed in #747

[2020-09-03 12:23] #718 closed

[2020-09-03 14:00] avinashkranjan commented on #718
Great..

[2020-09-05 21:56] MilkyDeveloper commented on #540
Perhaps a better way would to be running it with a gui on heroku...

[2020-09-05 21:57] MilkyDeveloper commented on #540
chriskiehl's Gooey is also a great option.

[2020-09-08 19:39] Klofrous opened #752 "Sherlock"

[2020-09-08 20:22] #752 closed

[2020-09-10 06:28] mehtaarn000 opened #753 "Small thing: invalid link in sherlock wiki."
In the wiki section of this repository, specifically the 'Adding Sites to Sherlock' page, [found here](https://github.com/sherlock-project/sherlock/wiki/Adding-Sites-To-Sherlock), on the data.json file listed, GitHub returns a 404 not found error. Easy fix by changing the URL from [https://github.com/sherlock-project/sherlock/blob/master/data.json](https://github.com/sherlock-project/sherlock/blob

[2020-09-10 07:19] sdushantha commented on #753
@mehtaarn000 I have fixed it now. Thank you for letting us know :)

[2020-09-10 07:19] #753 closed

[2020-09-13 13:47] Prajwal-Koirala opened #756 "Using other data to find social media"
Hello;
I was wondering if u guys could support a feature where someone could use a email or a phone number to find social media.
- prajwal

[2020-09-14 13:09] sdushantha commented on #756
We don't plan to support phone numbers and emails any time soon.  But in the meantime, you can use [email2phonenumber](https://github.com/martinvigo/email2phonenumber) and [socialscan](https://github.com/iojw/socialscan)

[2020-09-14 13:09] #756 closed

[2020-09-15 09:08] Yeetomeister opened #757 ""$ python3 -m pip install -r requirements.txt" returns "/usr/bin/python3: No module named pip""
![Skjermbilde](https://user-images.githubusercontent.com/62328907/93190564-cf3d6c00-f743-11ea-82f6-53b7502837e4.PNG)
I'm all new to using linux, and i have it currently installed on a virtual computer. All help would mean a lot.

[2020-09-15 11:59] sdushantha commented on #757
@Yeetomeister You need to install `pip` first. I'm guessing that you are using Ubuntu or a distro that uses `apt`.
Run the commands below to install `pip`
[code]

[2020-09-15 13:07] #757 closed

[2020-09-15 19:47] Prajwal-Koirala opened #758 "Snapchat"
Someone please add snapchat.

[2020-09-15 20:01] Prajwal-Koirala opened #759 "otzovik"
someone remove it.

[2020-09-15 20:08] sdushantha commented on #758
@Prajwal-Koirala I am closing this issue it is a duplicate. Next time please make use of the search function of the GitHub issues and check if your issue has been brought up before.

[2020-09-15 20:08] #758 closed

[2020-09-15 20:12] sdushantha commented on #759
@Prajwal-Koirala I am closing this issue as it lacks information. The title tells us nothing and the the description contains no detail. By just saying "someone remove it" tells us nothing about why we should remove that site.

In the future, please put more effort in the issues you create.

[2020-09-15 20:12] #759 closed

[2020-09-15 20:14] Prajwal-Koirala opened #760 "Adding a bunch of new websites."
[code]

The current format supports just the youtube username format and not the custom-url

[2020-09-15 20:16] Prajwal-Koirala commented on #760
[code]
Add imgur too

[2020-09-15 20:16] Prajwal-Koirala commented on #760
[code]
add Fotolog

[2020-09-15 20:18] Prajwal-Koirala commented on #760
[code]

add Pexels

[2020-09-15 20:18] Prajwal-Koirala commented on #760
[code]

[2020-09-15 20:19] Prajwal-Koirala commented on #760
[code]

[2020-09-15 20:19] Prajwal-Koirala commented on #760
[code]

[2020-09-15 20:20] Prajwal-Koirala commented on #760
[code]

[2020-09-15 20:20] Prajwal-Koirala commented on #760
[code]

[2020-09-15 20:21] Prajwal-Koirala commented on #760
[code]

[2020-09-15 20:25] Prajwal-Koirala commented on #760
@sdushantha

Let me know if i need to change something or add something before u close the issue.

[2020-09-15 21:47] bG9sIHVyIGhvbW8 opened #761 "tracr.co reports as found"
tracr.co is reporting a 502 error code when people try to go to it. The twitter account is gone too, so I'm making the assumption that this site is dead.

Additionally, the site reports as found every search.

[2020-09-15 22:06] st0nkz commented on #760
There are attributes missing:

urlMain
username_claimed
username_unclaimed

Some of these also seem to report as found when the users are non-existent.

[2020-09-15 22:11] st0nkz commented on #761
Update:

Linkedin and Taringa also report found for every search.
4pda reports as found when a username that's too long is specified.

[2020-09-15 23:34] Prajwal-Koirala commented on #760
well open source is open source for a reason.

someone will come and do more testing than me.

[2020-09-15 23:54] st0nkz commented on #760
For now, I just tested 500px, which is one of the sites that report as found. However, all of them seem to be missing the attributes I stated above.

[2020-09-16 00:27] Prajwal-Koirala commented on #760
update the code for 500px should work now.

[2020-09-16 01:21] Flairings opened #762 "linkedin false positive"

[2020-09-16 01:22] Flairings opened #763 "taringa false positive"

[2020-09-16 01:22] Flairings opened #764 "Instagram false positive"

[2020-09-17 09:41] JinooRoh commented on #540
Hello, i am recently joined Github. I was searching some software that I can contribute to. While I was searching, I saw 'Sherlock' which is attracted me. I have some knowledge about Python and HTML and CSS. May I contribute the web interface?

[2020-09-17 09:47] JinsooRoh opened #766 "web interface - service - search usernames"
I would like to make web interface and a service to search  the usernames (sherlock default use)

[2020-09-17 09:48] JinsooRoh opened #767 "Web interface - service 2 - search if the username is available so that user can use it."
Generally user is also interested to know if the username is already claimed by others or not.

if the username is unclaimed then the user can have same username at different platforms.

[2020-09-18 02:42] bG9sIHVyIGhvbW8 commented on #760
I had a look at the code and the attributes I stated above are still missing. They need to be specified so the site works as expected.

[2020-09-18 10:46] 700sid commented on #762
Yes i also got false positive in linked in i dont know why but i got false positive

[2020-09-19 11:23] bG9sIHVyIGhvbW8 commented on #767
Sherlock already does that.

If a username is claimed, it'll let you know. If a username is unclaimed/prohibited, it'll be excluded from the results (unless you use --print-all).

[2020-09-21 05:03] satrio-hw commented on #764
hi @Flairings , I would like to try to solve this, can you provide me with an example of false positive case?
I've tried `python3 sherlock -l blue` and `python3 sherlock -l noonewouldeverusethis7`. Both give appropriate output (return "not found" and status "available" for username "noonewouldeverusethis7", status "claimed" and return an active link for username "blue")

[2020-09-22 17:03] marxenegls opened #770 "question: "has anyone checked the validity of the results by querying own credentials" ?"
i can confidently say i do not have a gotinder account, no wattpad , no  facebook nor twitter account  yet my gmail has,  it seems ..
But How  ?
 are mx records publicly available, scrapers and spammer or there's some related connection to anyone i might have emailed or even called ..
but the app/script  doesn't run checks via "mxtools" ,"riskiq" or at "haveibeenpawned"  it asks the sites themselv

[2020-09-22 22:33] foo2rama opened #771 "A few websites are showing false positive for any email address."
Hello,

I found some errors when doing a search via email address.  I double checked these with multiple obviously fake email addresses.

These sites seem to be showing false positives with any email address.  I verified that any email address in the URL bar will show a valid page.

facenama.com
cloob.com
rusfootball.info

These sites when manually searching say no account with that email yet show

[2020-09-22 23:48] hoadlck commented on #771
Sherlock does not check for e-mail addresses: only usernames.

[2020-09-23 00:04] foo2rama commented on #771
Right but a user name that looks like an email address  can happen on those sites and throws a false positive.  So put in input validation on the program?

I am not 100% sure that this is an edgecase.

[2020-09-23 01:28] hoadlck commented on #771
If I try Football: https://www.rusfootball.info/user/thing@/ a user name is found.
If I try Football: https://www.rusfootball.info/user/thing/ a user name is not found.

If you look at the actual page, it acts like there is a user, but it does not show the username.  So, going by this one site, it appears that the site itself is not rendering the page properly.

It will take more research to see w

[2020-09-23 10:52] satrio-hw commented on #762
Hi, this is my first time in this project...
I tried to look in at this issue, and I found that, we are unable to open link profile without authentication (login or checkpoint using captcha if no valid session)..

I tried to execute `python sherlock -l noonewouldeverusethis7 --print-all` with my personal LinkedIn profile session, and `requests` content returned the same result (text and status_cod

[2020-09-23 11:16] 700sid commented on #762
Bro removing linked in is the best option i thought, because linked in not create link through username, they create link through some another algorithm, so trying to solve this issue is waste of time, i think.

Even if you want to find a solution, best of luck.

[2020-09-23 11:56] hoadlck commented on #762
We have already had problems in linkedin, and it was removed to the [bad area](https://github.com/sherlock-project/sherlock/blob/master/removed_sites.json).  What is it doing back in Sherlock?

We have enough problems as it is:  why re-include problems we already discovered?

[2020-09-23 12:03] 700sid commented on #762
That's right

[2020-09-23 12:07] sdushantha commented on #762
I think there was a PR a few months ago where someone was able to find a fix for the false positive and it seemed to work then.

I think it's best we just remove it again and never add it back because as @700sid stated:

[2020-09-23 15:08] #761 closed

[2020-09-23 15:08] #762 closed

[2020-09-23 15:08] #763 closed

[2020-09-23 15:08] #767 closed

[2020-09-23 15:10] sdushantha commented on #770
Yes, and I have found some false positives but they are in the processes of being fixed.

[2020-09-23 15:10] #770 closed

[2020-09-23 15:11] sdushantha commented on #766
Feel free to do that, it's a nice idea. Once we are done with the refactoring of Sherlock, we will make Sherlock into a module and you will be able to use it in your Python apps.

[2020-09-23 15:11] #766 closed

[2020-09-23 15:12] sdushantha commented on #760
I am closing this issue as it is low effort.

[2020-09-23 15:12] #760 closed

[2020-09-23 15:22] #771 closed

[2020-09-23 21:48] deceitfulvision commented on #568
I don't think this is a big enough of a problem to be fixed, all it takes is adding a few numbers or some other obscure change, its really not that hard.

[2020-09-26 17:15] hissssst opened #776 "pokerstrategy.org 100% false positive"
pokerstrategy.org is not avaliable in Russia and results in redirect to pokerstrategy.org/russia
`sherlock` detects every queried username in pokerstrategy.org

[2020-09-26 17:16] hissssst opened #777 "cash.me 100% false positive"
cash.me is not avaliable in some countries (e.g. Russia) and results in false positives

[2020-09-28 07:01] satrio-hw commented on #777
I think, this is duplicate to #433

[2020-09-28 14:00] hissssst commented on #777
@satrio-hw Yes, indeed... Should I close this issue?

[2020-09-29 04:20] JinsooRoh opened #778 "Web interface - service 2 - Check which websites that the user can use for their Username."
Check whether searched username is already existed or not.
If not existed, then it will show user some websites that he/she can use.

[2020-10-03 20:53] najahpublic opened #783 "Program"
Do you program script that can manage 2000 facebook account for likes and shares and comments??

[2020-10-03 23:51] mehtaarn000 opened #784 "4PDA false positive"
While I was researching the Instagram false positive issue, I ran `python3 shelock.py iaugduygdfuygeuirbwiufbehibfiuwbefhewf`, which I literally just mashed my keyboard for, and it showed me a result for 4pda.ru. After going to the link, the website returned a "no search results". How do we investigate and solve these kinds of false positives?

[2020-10-03 23:57] mehtaarn000 opened #785 "Photobucket False Positive"
Another false positive. This time, I mashed my keyboard for a username and got '2863498yyregyuefbebwfuygfuhbjhfekwvfhvefygluefhuiewgluf'. However, Photobucket returned a result (along with 4pda, check my other issue), and when I tried to go to the provided link, it redirected me to [https://app.photobucket.com/explore](https://app.photobucket.com/explore). Again, what should I or someone else do?

[2020-10-04 01:23] hoadlck commented on #784
It is all about digging into a given site.

Sometimes, if you research, you can find documentation for acceptable usernames.  If we have that, then we can make a regular expression to filter them out.

Not sure if what you have found is something like that, or just a regular false positive.  We have certainly seen times where the site returns a different response for a unsupported username than it

[2020-10-04 02:36] mehtaarn000 commented on #784
Ok, great. I'll definitely look into that and try to find some sort of documentation.

[2020-10-04 06:52] #783 closed

[2020-10-08 05:28] Testingone2 opened #787 "https://www.github.com/sherlock-project/sherlock/tree/master/sherlock%2Fresources%2Fdata.json"

[2020-10-08 17:24] #787 closed

[2020-10-13 13:05] Anand643-eng opened #788 "/usr/bin/python3: No module named pip"
please fix this issue

[2020-10-13 13:34] tushgaurav commented on #670
m.twitter worked for me too

[2020-10-13 13:36] tushgaurav commented on #670
m.twitter worked for me too

[2020-10-13 19:19] foo2rama commented on #788
pip is an addition to python that allows for automated installation of modules/packages.  Please google how to install pip on your OS.

[2020-10-13 20:02] IrishAce commented on #788
I had this same issue.

1. First, make sure you update your Kali, or upgrade to 2020.3
          [https://www.kali.org/docs/general-use/updating-kali/](url)
2. Confirm you have the latest version of Python3
$ python -V
3. Install pip3.
$ sudo apt install python3-pip

I actually performed a complete re-install since I had other system issues as well. Then when I installed Sherlock per instruction h

[2020-10-14 01:22] yurimickaelsp opened #789 "Sherlock"

[2020-10-16 10:11] #788 closed

[2020-10-16 10:11] #789 closed

[2020-10-16 12:07] fartboy789 opened #790 "Traceback (most recent call last)"
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/local/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "sherlock/__main__.py", line 32, in <module>
    import sherlock
  File "sherlock/sherlock.py", line 18, in <module>
    import requests
ModuleNotFoundError: No

[2020-10-17 12:47] sdushantha commented on #790
It seems like you are missing the `requests` module. Make sure you have installed all the needed dependencies by running `python3 -m pip install -r requests.txt` from the `sherlock/` directory.

I am closing this issue as it is an issue with your environment and nothing to do with Sherlock.

[2020-10-17 12:47] #790 closed

[2020-10-19 15:19] mikewakawski opened #794 "I got a DLL load failed when trying to use sherlock"
I got this error while trying to run sherlock

`Traceback (most recent call last):
  File "C:\Users\A\Documents\sherlock\sherlock\sherlock.py", line 21, in <module>
    from torrequest import TorRequest
  File "C:\Users\A\Anaconda3\lib\site-packages\torrequest.py", line 3, in <module>
    from stem.control import Controller
  File "C:\Users\A\Anaconda3\lib\site-packages\stem\control.py", line 271,

[2020-10-19 15:49] peaceful-asura commented on #360
open a new terminal
type: sudo apt-get install python-stem

If the result is : Package python-stem is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source
However the following packages replace it:
  python3-stem

Then type:
sudo apt-install python3-stem

It will solve your problem.

[2020-10-21 05:10] sdushantha commented on #794
@mikewakawski This is an error with your computer and not Sherlock. Please try Googleing you error or asking for help on Stackoverflow.

[2020-10-21 05:10] #794 closed

[2020-10-21 05:35] #433 closed

[2020-10-21 05:35] #764 closed

[2020-10-21 05:35] #776 closed

[2020-10-21 05:35] #777 closed

[2020-10-21 05:35] #784 closed

[2020-10-21 05:35] #785 closed

[2020-10-22 19:36] boyesm opened #804 "EyeEm, Tinder, and Wattpad return false positives"
Regardless of the username inputted, these websites will return a positive user URL which isn't valid.

[2020-10-23 11:21] YoBot389 opened #805 "When I use the command python3 sherlock user123 it just leaves a blank line and says the path again"
The title is the entire problemo

[2020-10-24 03:46] widelachie commented on #264
I'm a part time Front-End Web & Graphic Designer. Hope you like! :)
![styles](https://user-images.githubusercontent.com/44110596/97067298-819a0600-1603-11eb-8752-2b7b422db057.png)

[2020-10-24 06:29] Hammer2900 commented on #264
![image](https://user-images.githubusercontent.com/2808302/97069814-7337f400-15db-11eb-82cf-6e3905502b12.png)

[2020-10-24 16:42] pkubiak opened #806 "False Negative with 'response_url' errorType"
Hi,
I have noticed that some websites use case-insensitive usernames and perform redirect to the correct version when needed.

Example:
[code]

Such situation is not correctly handled with `errorType == "response_url"`, which assume that redirect indicate UNCLAIMED username.

Using below testcase I found that affected websites are:

- PSNProfiles.com
- Quora
- ResearchGate
- VK
- WordPressOrg

[co

[2020-10-24 16:43] sdushantha commented on #805
@YoBot389 Could you please provide a screenshot of what is happening?

[2020-10-24 17:04] hoadlck commented on #806
Yet other websites are sensitive to case.

Perhaps we need a new attribute to a site?  Something that indicates if case matters in the username?  Then we could just adjust the case to always be lower before doing the query?  But, I think there are cases where the site will make the first letter capitalized, and the rest lower case.

This requires some thought.

[2020-10-24 18:47] pkubiak commented on #804
I have fixed them in #807

[2020-10-25 09:47] YoBot389 commented on #805
![image](https://user-images.githubusercontent.com/67032293/97103837-ce3f1900-16b7-11eb-818b-e174a016883d.png)
@sdushantha there you go

[2020-10-25 10:20] sdushantha commented on #805
You have to run `python3 sherlock`. Notice that the `.py` extension is **not** included

[2020-10-25 10:20] #805 closed

[2020-10-25 10:39] Brittleeg87 commented on #170
No

[2020-10-25 12:34] hoadlck commented on #805
Since this in Windows, I expect that `python` is correct.  But, you must not have Python installed correctly on your PC.  In any case, this is not an issue with Sherlock itself:  it is a problem with your environment.

[2020-10-25 13:25] YoBot389 commented on #805
![image](https://user-images.githubusercontent.com/67032293/97108445-44eb0f00-16d6-11eb-95cc-16bed8da46d9.png)
@sdushantha

[2020-10-25 13:26] YoBot389 commented on #805
@hoadlck
I am sorry if I am annoying but could you please tell me a specific solution to install and stuff my (python) not sherlock.

[2020-10-25 15:16] bhawanakumar commented on #264
Can I work on this logo creation @sdushantha

[2020-10-25 16:04] bhawanakumar commented on #264
Hey guys! I have create this logo sketch. You can use it🙂
![IMG20201025212827](https://user-images.githubusercontent.com/73428878/97112325-ae384580-1709-11eb-9fdf-2ba05b187951.jpg)

[2020-10-25 16:57] bhawanakumar commented on #264
Hi 👋 guys, have a look at my logo sketch.@sdushantha , hope it will work !![IMG20201025212827.jpg](https://user-images.githubusercontent.com/73428878/97113543-1b9ba480-1711-11eb-961c-2f8de0772253.jpg)

Tell me if improvement needed.🙂

[2020-10-25 17:07] bhawanakumar commented on #264
![IMG20201025223315.jpg](https://user-images.githubusercontent.com/73428878/97113718-40444c00-1712-11eb-84ed-e938825fe71c.jpg)

**Hi guy's!! I have created this logo sketch.
@sdushantha ,hope it will work .**
First attempt to create logo of **SHERLOCK**🙂

[2020-10-26 08:50] zenghuabin opened #810 "Instagram is not supported"
Instagram is not supported

[2020-10-26 15:40] tomazcajnar opened #811 "Having issues with starting sherlock"
When I execute python3 sherlock.py username
it gives me bash: python3: command not found

Adding screenshot.

https://prnt.sc/v776fn

[2020-10-26 16:19] stefangal commented on #811
Hi. Try:
[code]

instead "python3 sherl..."
as you installed the dependencies with
python -m pip install ...

[2020-10-26 16:33] sdushantha commented on #811
Since you are running sherlock from `~/sherlock`, make sure **not** to include the `.py` extension. So this is the command which you want to be running:
[code]

[2020-10-26 16:33] #811 closed

[2020-10-26 16:36] sdushantha commented on #810
If you take a look at the [`removed_sites.md`](https://github.com/sherlock-project/sherlock/blob/master/removed_sites.md#instagram) file, you will see that Instagram had been removed because of false positives. I currently do not have the time to find a fix for it. So that is why Sherlock currently does not support Instagram.

[2020-10-26 16:36] #810 closed

[2020-10-27 14:31] McStecca opened #813 "EyeEm, Tinder, VirusTotal and Wattpad return false positives"
As i said, sherlock returns invalid urls

[2020-10-27 17:38] gege42o opened #814 "Hello, i am trying to install sherlock and it is giving me errors"
root@kali:/home/gege/sherlock# pip3 install -r requirements.txt
WARNING: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError("Can't connect to HTTPS URL because the SSL module is not available.")': /simple/beautifulsoup4/

[2020-10-27 18:02] Delimorgan opened #815 "П"
Н

[2020-10-27 18:37] MayorRyan commented on #814
i have the same isuue, but idk how to fix it ^^

[2020-10-27 18:50] h20190563 opened #816 "Website rate limiting leads to False Positives"
![bug1](https://user-images.githubusercontent.com/73378474/97347279-93ed9b80-18b2-11eb-867f-feb8c97ae115.PNG)
As we can see in the above snapshot,
BitCoinForum,
EyeEm,
HackerNews,
Tinder,
VirusTotal,
Wattpad,
forum_guns
display urls for the account name " noonewlouduse" but actually this username don't exist for them.

[2020-10-27 19:52] foo2rama commented on #814
Try now, I show all websites are up with good ssl certs.
-Phil

On Tue, Oct 27, 2020 at 11:38 AM MayorRyan <notifications@github.com> wrote:

[2020-10-27 20:00] gege42o commented on #814
yes, now it works, also i tried with:   pip3 install -r requirements.txt and it did not work but i got rid of the 3 and it worked so maybe that will help you, Thanks a lot!

[2020-10-27 20:09] pkubiak commented on #816
Can't reproduce, I only see four false positives as described in https://github.com/sherlock-project/sherlock/issues/813

[2020-10-27 20:10] pkubiak commented on #813
Fixed in https://github.com/sherlock-project/sherlock/pull/807

[2020-10-27 20:24] sdushantha commented on #814
This is an issue with your environment and not Sherlock. Please try using Google or StackOverflow for help.

[2020-10-27 20:24] #814 closed

[2020-10-27 20:25] #815 closed

[2020-10-27 21:23] darvell commented on #816
There are issues where if you're doing it often and some sites will return essentially status codes as a form of rate limiting but if it's looking for a message, it'll consider it 'passed'. I think maybe it would be good if 403's and >500's were automatically considered a fail rather than a pass. I can see why this happens since the whole error styles are just a big switch (ok if/elif) and can't s

[2020-10-28 05:23] mehtaarn000 opened #818 "Redirection when adding new website"
In the midst of adding [Nitro Type](https://www.nitrotype.com/) to Sherlock, I was testing the website's response to an invalid username. However, the website redirected me back to the home page. For example, when I enter in the url for an already existing user [https://www.nitrotype.com/racer/blue](https://www.nitrotype.com/racer/blue) everything works fine. However if I enter [https://www.nitrot

[2020-10-28 05:47] h20190563 commented on #816
Yes, what @darvell suggested is actually happening. @pkubiak if you query with that username multiple times, you will be able to reproduce the same.

[2020-10-28 06:26] h20190563 commented on #818
Have added the support for NitroType in #817

[2020-10-28 11:41] pkubiak commented on #816
@h20190563 Sure, but it is not the fault of configuration of individual sites, but more the way how sherlock handle rate limits errors (403, >500 as mentioned by @darvell). Maybe the better title for that issue would be `Website rate limiting leads to False Positives`?

[2020-10-28 12:06] h20190563 commented on #816
@pkubiak thanks! I have changed the title.

[2020-10-28 13:27] mehtaarn000 commented on #818
Ok great.

[2020-10-28 13:51] Asuha-a opened #821 "python3 -m unittest tests.all --verbose occurs errors without changes"
# Envs

[code]

# Error Log

[code]

[code]

Is this something that hasn't been intentionally fixed?
Should I make PR to fix it?

[2020-10-28 18:56] #818 closed

[2020-10-29 14:43] Grelo4ka opened #824 "Medium reports false positives"
All usernames are found on Medium, even though they do not exist.

[2020-10-29 14:45] Grelo4ka opened #825 "opennet reports false positive for usernames containing "-""
Example: SoulU4o-eUI7n

[2020-10-29 14:46] Grelo4ka opened #826 "Facenama reports false positive for usernames containing "+""
Example: 4eD29tFpCB89s+wWf

[2020-10-29 21:53] pkubiak commented on #825
It also generate false negative for usernames containing "_". Example: https://www.opennet.ru/~RenamedUser_875743914

[2020-10-30 00:48] pkubiak commented on #825
Fixed in https://github.com/sherlock-project/sherlock/pull/807/commits/6bd827b481fa6e4ffda0e772a6efb2f448ddd710

[2020-10-30 01:14] pkubiak commented on #826
:+1: `+` is not allowed in usernames. Fixed in https://github.com/sherlock-project/sherlock/pull/807/commits/634c67e00eefff228f42724b459aa5ffb237a401

[2020-10-30 01:14] pkubiak commented on #824
Fixed in https://github.com/sherlock-project/sherlock/pull/807/commits/cf2d51e2bf77831088668e3c8a46def22f8ef8df

[2020-10-30 09:31] tdh8316 commented on #764
Could you check why Instagram returns false positive to Sherlock?
When I send the get request using Python and the requests library, it returns 404 appropriately.

[code]

And therefore, Instagram is also available for [Investigo](https://github.com/tdh8316/Investigo).

[2020-11-01 01:57] F4hg-stack opened #829 "I have the next Issue idk if it helps"
![Captura de pantalla 2020-10-31 195657](https://user-images.githubusercontent.com/69982054/97793567-42475880-1bb3-11eb-8bec-7c23873cf609.png)

[2020-11-01 09:38] Meleeman01 opened #830 "username doesn't find similar names"
i'll tried to look for my username, and it doesn't find variations i've noticed, but also, the urls in specifically some accounts are listed by userid rather than by username, if you happen to know a user id that would be helpful depending on the site you want to search, but i think having a similar names options would improve this.

[2020-11-01 13:16] pkubiak commented on #830
Good idea :+1: Could you provide some examples of such variations?

[2020-11-01 14:38] sdushantha commented on #829
I'm closing this issue as it lacks information. It is also an issue with your environment as it is a permission error.

[2020-11-01 14:38] #829 closed

[2020-11-01 16:02] sdushantha commented on #686
@rodrigograca31 I finally created the issue templates! :)
Check them out here: #832

[2020-11-01 16:20] sdushantha commented on #821
@Asuha-a Thank you for the detailed report. I am a little confused with your issue. Are you reporting false positives or is your issue about the error given out by the unittest? I know the unittest fails at times because of false positives. Sherlock has unfortunately been facing a lot of false positives and I havent had the time to fix them.

[2020-11-01 16:21] #778 closed

[2020-11-02 03:20] Asuha-a commented on #821
@sdushantha
I reported the unit test failure. As you know this failure is because somebody's creates accounts using the name 'noonewouldeverusethis7'.
How about using a long random string instead of 'noonewouldeverusethis7' to test?
Then false positives will be resolved.

[2020-11-02 10:16] fartercarter87 opened #834 "EyeEm"
## Checklist

- [x] I'm reporting a website that is returning **false positive** results
- [x] I've checked for similar site support requests including closed ones
- [x] I've checked for pull requests attempting to fix this false positive
- [x] I'm only reporting **one** site (create a seperate issue for each site)

## Description

With any username I give in, it gives a false positive for the sit

[2020-11-02 12:36] rodrigograca31 commented on #686
Nice. well done.
looks good @sdushantha

[2020-11-03 04:11] darvell commented on #267
Old but: https://pypi.org/project/cloudscraper/ could be a good solution.

[2020-11-03 09:52] Meleeman01 commented on #830
so i'm thinking something like numbers or common phrases, and capital or differen't casing matches added onto a user and ids and variations like "thisisusername" "username012" "itsmeusername" "ItSmeUsERnaME!" for finding a user_id some pages have consistent profiles and leave that information out in the open. i think it would be difficult to implement user_id association to names, and it might not

[2020-11-03 12:05] sdushantha commented on #821
This would be a little difficult to do because some sites have a specific criteria for usernames. For example there might be a max/min length or certain characters might not be allowed. All the sites in the tests do not have the same criteria. Therefore we would have to either generate a random username for each site or manually set a username for each site which we would of course have to update

[2020-11-04 11:13] Asuha-a commented on #821
@sdushantha
Understood. Thank you for taking the time to explain that.
You can close this issue if you don't need it.

[2020-11-05 17:22] sdushantha commented on #821
@Asuha-a It seems like you are correct. There is something wrong with the tests.

I unfortunately do not know much about unit testing, but I vaguely remember @hoadlck saying somewhere that the tests are currently unreliable? I could be wrong about that.

But this is definitely an issue we need to fix.

[2020-11-05 17:34] #824 closed

[2020-11-05 17:34] #825 closed

[2020-11-05 17:34] #826 closed

[2020-11-05 18:55] sdushantha commented on #392
I believe these false positives have been fixed.

[2020-11-05 18:55] #392 closed

[2020-11-05 20:49] sdushantha commented on #804
This has been fixed in #839 and #841

[2020-11-05 20:49] #804 closed

[2020-11-05 20:49] sdushantha commented on #813
This has been fixed in #839 and #841

[2020-11-05 20:49] #813 closed

[2020-11-05 21:29] darvell commented on #830
You'd hit rate limiting really quick and how do you programmatically say how people change their usernames? If anything, I'd argue that you should starting with the email of your target and find the different aliases they use and use them. Sherlock doesn't exactly get to fuzzy match and we can't code the many stupid names people put online.

There was some ideas with using https://github.com/soxoj

[2020-11-06 06:09] Asuha-a commented on #821
@sdushantha
There are 2 types of unit test failure, that username_claimed and username_unclaimed.
They have a different cause. (I'm not sure)
Will we fix both in this issue?

[2020-11-06 06:13] sdushantha commented on #821
@Asuha-a Yes we would have to fix both of them. I dont know much about unit tests, so it might take a while before i get it fixed because I need to find some time to read about it.

[2020-11-06 13:46] hoadlck commented on #821
These are all failures because of false positives and false negatives.  There may be a few that are happening because an IP address get banned by a given site.

For example, consider the following error message:
[code]
The site `svidbook` should show that username "green" has been claimed.  But instead, Sherlock is saying that it is available.

It is also possible that the username which was inclu

[2020-11-06 18:18] sdushantha commented on #821
@hoadlck Thank you, that helped me clear up the confusion :)

[2020-11-07 19:27] lostnco1 commented on #816
@h20190563 Im new at this but what can i do to contribute that may close this issue?

[2020-11-08 19:26] darvell commented on #816
https://github.com/sherlock-project/sherlock/pull/852
ez. enjoy :)

[2020-11-08 19:44] darvell commented on #267
https://github.com/sherlock-project/sherlock/pull/853

:)

[2020-11-08 21:02] darvell opened #854 "Adult Website Fork Ideas..."
- [x] I'm asking a question regarding Sherlock
- [x] My question is not a tech support question.

## Question

It's been mentioned that sherlock does not want adult website support in it for understandable reasons but a lot of OSINT work does require checking against them. For a lot of these websites we need the ability to create classes for specific websites or expand the data.json structure to i

[2020-11-08 21:04] darvell commented on #854
If it would help, I'd be happy to lead on this there are not many websites I can think of but, it doesn't hurt to add some of the odder parts of the internet.

[2020-11-09 12:31] theabbie opened #855 "Contributing Bulk Dataset"
## Checklist
- [x] I'm reporting a feature request
- [x] I've checked for similar feature requests including closed ones

## Description
I have been creating accounts on websites which allow a public profile page for a long time, And, I keep track of all those pages. Here I have, the list of all those pages.

https://theabbie.github.io/list.json

It has 725 links, which is surely greater than what

[2020-11-09 12:32] theabbie commented on #855
@sdushantha

[2020-11-09 18:27] darvell commented on #855
There are some cases here where usernames need more than the name, some need logging in, but there is a possibility of writing a quick and dirty script to generate some rules if either the page title or page text is different.

[2020-11-09 19:20] GeneralDenmark commented on #854
I like the idea that @darvell suggests, as this allows for adult sites to also be contributed to this repo, without the hassel of forks. And also allows the users that does not want adult sites, to avoid getting matches, by not using the parameter.

[2020-11-09 20:12] hoadlck commented on #854
You can already pass other data.json files on the command line without any alteration of Sherlock.  So, there is no need for forks:  sites that we don't want to have in the core Sherlock can be in there own repository, and users can pass them in.

I imagine that some config file or environment variable check could be added to Sherlock so that users were not forced to add the data.json to every com

[2020-11-10 01:35] theabbie commented on #855
@darvell I have checked all my URLs, they are public profiles, they don't need logging in. we have to visit the page and check if it's not 404 and that's it.

[2020-11-10 02:05] darvell commented on #855
Well, the discord one for example needs both logging in and it's not an indicator for a username. LinkedIn is another, you won't get a 404. There's a lot of great things in this data set, I know I'm willing to try to parse this all in to a data.json but I am just saying that there are some things that do need authentication and it's not as simple as a 404 check, the fact you have this collected in

[2020-11-10 02:10] theabbie commented on #855
@darvell Discord doesn't have public profile, we can ignore that. We can bypass LinkedIn authentication by pretending to be googlebot (googlebot can crawl it), The hash problem is legit, I agree.

Can't we have an alternate method to check username?
ie. Go to the sign up page, try to create account with given username and check if it's available. That would be foolproof, but slow.

[2020-11-10 02:16] darvell commented on #855
Discord does technically have a way to do usernames, there's some odd ways to do things with queries I believe through private API, but that's not the point.

The methods currently available in sherlock are pretty simplistic, hence the desire to write and implement a proposal to allow the addition of different ways of checking things, being able to override user agents for certain sites, performin

[2020-11-10 02:19] theabbie commented on #855
@darvell Great then, you could also scrape their sitemap if they add profile pages in them, anyways, I find this project highly potential and would love to help in any way possible.

[2020-11-10 02:24] darvell commented on #855
Yeah this project is great, between the issue with 'adult sites' not being wanted as well as some needs that may be wanted by some but not others (e.g. finding related usernames via searches), I find myself curious if it's possible to turn Sherlock in to something greater, I get very excited about the possibilities of what could be done, like taking screenshots if accounts are found, integrating w

[2020-11-10 02:28] theabbie commented on #855
@darvell Once this project gets mature enough, you can make it to scarpe profile information from the profiles found. Many people would have kept some public information somewhere and we can use it to further find their profile even if they have different usernames. maybe, use reverse image search from their profile picture. That's a really exciting project.

[2020-11-10 02:30] darvell commented on #855
As an extra note, one of the sites (SoloLearn) where it's just an ID, after knowing the name, a search for `https://www.sololearn.com/Profile/ Abhishek Chaudhary` was enough to get the profile ID. An experimental fork of Sherlock is sounding more and more interesting.

[2020-11-10 02:32] theabbie commented on #855
@darvell most sites have internal search engines, or just a google search with `site: example.com` might help.

[2020-11-11 17:14] darvell commented on #854
Sure, the reason I said a fork is because looking at other times it has been mentioned, it's been requested to keep explicitly out of this repository. There already is starting to become some bloat with data.json being hard to parse with websites lacking context as to what category they are among other things, I think that there is a better approach to all of this that not only allows for adult si

[2020-11-11 18:00] hoadlck commented on #854
Yes, we have talked about adding topic support to allow people to limit the scope of their search.  Somewhere around here there is a proposal:  I think it was something like `--topic social --topic video` for a search for social video sites.  Maybe `--category` is more descriptive.

Ultimately, the data should be in a database:  including it in Git (especially in the same repository as the algorit

[2020-11-11 20:09] darvell commented on #854
Understandable, I actually really wanted to start work on that so it can be integrated in to other OSINT tools if needed, is changing Sherlock to a module something you'd be interested in getting outside help on?

[2020-11-12 03:33] hoadlck commented on #854
Sherlock is open source, so there is no "outside help". :)

The wiki has my current notes on the [restructure](https://github.com/sherlock-project/sherlock/wiki/Restructure-Notes).  The biggest remaining task is changing the way that the actual queries are run (see Detection Method Abstraction, and Detection Engine).  The current module is not structured in a way that will be useful for people int

[2020-11-13 07:21] badushaebrahim opened #863 "unable to use sherlock"
## Checklist

- [ yes] I'm reporting a bug in Sherlock's functionality
- [x] The bug I'm reporting is not a false positive or a false negative
- [ ] I've verified that I'm running the latest version of Sherlock
- [ ] I've checked for similar bug reports including closed ones
- [ ] I've checked for pull requests that attempt to fix this bug
![Screenshot from 2020-11-13 12-46-21](https://user-images

[2020-11-13 07:52] sdushantha commented on #863
This is not a bug. This is the command you should be running:
[code]
You accidently added a `$` in front of the command.

[2020-11-13 07:52] #863 closed

[2020-11-13 15:32] mrrobot-clone opened #864 "when i am doing python3 pip install -r requirements.txt"
## Checklist

- [x] I'm asking a question regarding Sherlock
- [x] My question is not a tech support question.

**We are not your tech support**.
If you have questions related to `pip`, `git`, or something that is not related to Sherlock, please ask them on [StackOverflow](https://stackoverflow.com/) or [r/learnpython](https://www.reddit.com/r/learnpython/)

## Question

ASK YOUR QUESTION HERE
it'

[2020-11-13 19:33] #864 closed

[2020-11-13 20:49] Niphasio opened #865 "ModuleNotFoundError: No module named 'requests_futures'"
## Checklist

- [ x ] I'm reporting a bug in Sherlock's functionality
- [ ] The bug I'm reporting is not a false positive or a false negative
- [ x ] I've verified that I'm running the latest version of Sherlock
- [ x ] I've checked for similar bug reports including closed ones
- [ ] I've checked for pull requests that attempt to fix this bug

## Description

Traceback (most recent call last):
  F

[2020-11-14 06:58] sdushantha commented on #865
You checked off this from the checklist but it looks like you haven't tried checking for other similar bug reports because issue has been brought up many times in the past.

<br>
<br>

This also has nothing to do with Sherlock. The issue has to do with your environment.

[2020-11-14 06:58] #865 closed

[2020-11-18 11:57] beesuns opened #867 "Could not install the requirements"
When I run
[code]
I got
[code]

[2020-11-18 14:07] #867 closed

[2020-11-19 17:39] jithin-renji opened #869 "Add type hints to all functions and methods."
## Checklist

- [x] I'm reporting a feature request
- [x] I've checked for similar feature requests including closed ones

## Description

Although this isn't *exactly* a feature request, it is the closest one I could find in the issue templates.

While adding type hints does not necessarily add any *new* functionality to Sherlock, it does improve the readability of the code quite significantly. I

[2020-11-20 23:51] mehtaarn000 opened #870 "Add an invalid websites file"
## Checklist

- [x] I'm reporting a feature request
- [x] I've checked for similar feature requests including closed ones

## Description

Countless times, I've looked through this project to find a popular website that hasn't been added yet (for example discord)
and after not finding it, I try to implement a method to add it. However, usually this website is invalid (ex. when you send an http req

[2020-11-21 06:01] sdushantha commented on #870
Thank you for the suggestion but I don't feel like this is needed in this project. First of all, that would unnecessarily increase the size of this repo because we would be pretty much creating a database of invalid sites. Secondly, we do have the [removed_sites.md](https://github.com/sherlock-project/sherlock/blob/master/removed_sites.md) file which stores all the sites which were previously adde

[2020-11-21 06:01] #870 closed

[2020-11-21 06:50] mehtaarn000 commented on #870
Valid point. Thanks for considering this though.

[2020-11-21 09:24] Uc207Pr4f57t9-251 commented on #648
I met the similar problems too

when I start to search it reported like this:
"A problem occured while checking for an update: HTTPSConnectionPool(host='raw.githubusercontent.com', port=443): Max retries exceeded with url: /sherlock-project/sherlock/master/sherlock/sherlock.py (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fe6b792cdf0>: Failed to establish a new co

[2020-11-23 05:05] beesuns opened #873 "ModuleNotFoundError: No module named 'requests'"
I am using kali linux
[code]
After install all the requirements manually, I tried to run sherlock but there was a problem.
[code]
I tried to install module 'requests' and still not work.
[code]
How to solve this?

[2020-11-23 08:44] sdushantha commented on #873
This is not an issue with Sherlock. It is an issue with your environment.

I am closing this issue as invalid because you did not follow the issue template.

[2020-11-23 08:44] #873 closed

[2020-11-24 08:51] QuestionQuest117 commented on #191
Having similar issue. Searching for my username took over 5-10 minutes to run, seemingly getting stuck in places. `python3 -m unittest tests.all --verbose` is still running as I type, stuck on `Test Username Does Not Exist Site Coverage (Via Error Message). ...` Didn't know if that would expose the reason for the hang-ups.
It seems to only show me what sites my username is on, not which sites it i

[2020-11-28 06:00] Devaansh-Pathak opened #875 "You can add comments as hints in the program"
## Checklist

- [ ] I'm reporting a feature request
- [ ] I've checked for similar feature requests including closed ones

## Description

WRITE DESCRIPTION HERE

[2020-11-28 06:02] #875 closed

[2020-11-28 13:00] jithin-renji commented on #869
@sdushantha shall I proceed with adding type hints?

[2020-11-28 14:12] sdushantha commented on #869
Hey @jithin-renji,

Sorry for getting back to you so late.
I do agree that adding a style guide would be beneficial. Feel free to create a PR about the type hints and I'll review once I get some time :)

[2020-11-28 14:48] jithin-renji commented on #869
That's okay.

Great! I'll work on that.

[2020-12-01 02:22] beesuns opened #878 "How to solve 'Failed to establish a new connection' problem"
I was using Kali Linux
[code]
And I installed all the requirements
[code]
But when I run sherlock, there was a Failed to establish a new connection problem
[code]
I tried to run with sudo
[code]
How can I fix this?

[2020-12-01 02:26] ghost opened #879 "ModuleNotFoundError"
## Checklist

- [x] I'm reporting a bug in Sherlock's functionality
- [ ] The bug I'm reporting is not a false positive or a false negative
- [x] I've verified that I'm running the latest version of Sherlock
- [ ] I've checked for similar bug reports including closed ones
- [x] I've checked for pull requests that attempt to fix this bug

## Description

ModuleNotFoundError Occours

[2020-12-01 05:36] #879 closed

[2020-12-01 05:43] sdushantha commented on #878
I'm sorry, but I cannot help you with this problem because it has nothing to do with Sherlock. You also did not follow the template for the Question, therefore I'm closing this issue as invalid

[2020-12-01 05:43] #878 closed

[2020-12-01 12:31] changpro commented on #648
@Uc207Pr4f57t9-251 @Piskuliki0723
Have a try on accessing "raw.githubusercontent.com", the problem may due to **ISP block or your firewall** if it fails.
Find the IP address of "raw.githubusercontent.com" in [ipaddress.com](https://www.ipaddress.com/)
Then modify your hosts file with adding a line like this:
`199.232.68.133 raw.githubusercontent.com # github raw`

[2020-12-02 21:15] double128 opened #883 "Travellerspoint false positive"
## Checklist
- [x] I'm reporting a website that is returning **false positive** results
- [x] I've checked for similar site support requests including closed ones
- [x] I've checked for pull requests attempting to fix this false positive
- [x] I'm only reporting **one** site (create a seperate issue for each site)

## Description
I've noticed recently that the site "Travellerspoint" always returns

[2020-12-04 05:38] BobNoobYT opened #884 "How about find user when their name have space like X X"
## Checklist

- [x] I'm asking a question regarding Sherlock
- [x] My question is not a tech support question.

**We are not your tech support**.
If you have questions related to `pip`, `git`, or something that is not related to Sherlock, please ask them on [StackOverflow](https://stackoverflow.com/) or [r/learnpython](https://www.reddit.com/r/learnpython/)

## Question

ASK YOUR QUESTION HERE
Ple

[2020-12-04 08:26] sdushantha commented on #884
Usernames tend to not have spaces. Sherlock won't be supporting usernames with spaces

[2020-12-04 08:26] #884 closed

[2020-12-04 13:04] hoadlck commented on #884
While it is true that usernames would not normally have spaces, Sherlock would support them if they did.  One just needs to quote the username on the command line so that the shell would pass the username to Sherlock.  So, something like "X X" would work.  Or, "X%20X" might also work (depending on how the site accepts queries).

[2020-12-04 18:24] sdushantha commented on #884
My bad, I was thinking about actual display names. Thats why I said that sherlock won't be supporting them but I obviously used the wrong words.

[2020-12-05 18:20] snakepeek commented on #654
add bdsm sites as well

[2020-12-06 04:07] zer0systems opened #885 "Script Hangs"
## Checklist

- [ x] I'm reporting a bug in Sherlock's functionality
- [x ] The bug I'm reporting is not a false positive or a false negative
- [x ] I've verified that I'm running the latest version of Sherlock
- [x ] I've checked for similar bug reports including closed ones
- [x ] I've checked for pull requests that attempt to fix this bug

## Description

Whenever the -u switch (independent Tor

[2020-12-06 04:35] zer0systems commented on #885
Some quick additional info: I Wiresharked the script's output and it's definitely using Tor, sending requests, and receiving them, but no out. All that is displayed is: "Checking username <user-name> on:" and a blinking cursor below. I've waited for hours and still no display/output.

[2020-12-06 13:24] hoadlck commented on #885
Yes, there are problems with this support.  See "Tor Support On Windows & Linux" #373 for the details.

Do you have an instance of the Tor browser running when you do the Sherlock query?

[2020-12-07 07:14] aertist opened #887 "-b"
## Checklist

- [x] I'm reporting a bug in Sherlock's functionality
- [ ] The bug I'm reporting is not a false positive or a false negative
- [ ] I've verified that I'm running the latest version of Sherlock
- [ ] I've checked for similar bug reports including closed ones
- [ ] I've checked for pull requests that attempt to fix this bug

## Description

-b is not working

[2020-12-07 21:54] agentzex opened #888 "If --csv output is chosen, output folder is ignored"
## Checklist

- [x ] I'm reporting a bug in Sherlock's functionality
- [x ] The bug I'm reporting is not a false positive or a false negative
- [x ] I've verified that I'm running the latest version of Sherlock
- [ ] I've checked for similar bug reports including closed ones
- [x ] I've checked for pull requests that attempt to fix this bug

## Description

If csv flag is chosen, the output folder

[2020-12-08 00:33] hoadlck commented on #888
Thanks for the bug report.  It is fixed now.

[2020-12-08 00:33] #888 closed

[2020-12-12 23:46] xxbadboy17 opened #892 "sherlock.py isn't working please help me"
**PLEASE HELP ME IT SHOWS AN ERROR**

**
┌**──(babyboy17㉿kali)-[~/sherlock/sherlock]
└─$ python3 sherlock.py littlebitmore1
Traceback (most recent call last):
  File "/home/babyboy17/sherlock/sherlock/sherlock.py", line 18, in <module>
    import requests
ModuleNotFoundError: No module named 'requests'**
![Screenshot from 2020-12-13 **10-38-30](https://user-images.githubusercontent.com/75915365/10

[2020-12-13 00:10] xxbadboy17 opened #893 "WARNING: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available"
**when i run this code "sudo python3 -m pip install -r requirements.txt
" it shows an error kindly help me please.**
![Screenshot from 2020-12-13 11-06-43](https://user-images.githubusercontent.com/75915365/101999681-89be1a00-3d05-11eb-8bc3-2eedb621fcb1.png)

[2020-12-13 09:06] beesuns opened #896 "sherlock running problem"
## Checklist

- [x] I'm asking a question regarding Sherlock
- [x] My question is not a tech support question.

## How did it happen?

Kali Linux version : ```Linux kali 5.9.0-kali4-amd64 #1 SMP Debian 5.9.11-1kali1 (2020-12-01) x86_64 GNU/Linux```
python version: ```Python 3.9.0```
Successfully installed sherlock:
[code]
However, when I tried to run sherlock to search some user names, this error

[2020-12-14 18:36] tonyscardina opened #898 "Unable to update to latest site list"
I ran the update and the list of sites wasn't updates. I pulled the list from github and entered it into a new sites.md list, but i'm still getting results from the _old_ list that hangs after Zhihu

This is the command I ran to update: **python3.8 -m pip install -U -r /home/tony/Downloads/sherlock/requirements.txt**

[2020-12-15 13:50] Astrofluke opened #899 "'__main__' issue"
## Checklist

- [ x] I'm asking a question regarding Sherlock
- [ ] My question is not a tech support question.

**We are not your tech support**.
If you have questions related to `pip`, `git`, or something that is not related to Sherlock, please ask them on [StackOverflow](https://stackoverflow.com/) or [r/learnpython](https://www.reddit.com/r/learnpython/)

## Question

I've followed the instruc

[2020-12-15 16:10] VirenderNayal commented on #899
Hi,

I followed the instructions and install the tool in my system.

I ran the command :

$ python3 sherlock --help

I got the expected result with no problems.
I am using Kali Linux 2020 version on my system.

May I know which linux machine are you using?

[2020-12-15 17:42] bobafet779 opened #900 "Hi! I want to instal Sherlock in My iPad. Which program can help me?"
## Checklist

- [x] I'm asking a question regarding Sherlock
- [x] My question is not a tech support question.

**We are not your tech support**.
If you have questions related to `pip`, `git`, or something that is not related to Sherlock, please ask them on [StackOverflow](https://stackoverflow.com/) or [r/learnpython](https://www.reddit.com/r/learnpython/)

## Question

ASK YOUR QUESTION HERE

[2020-12-15 18:48] hoadlck commented on #900
Your question is the very definition of a tech support question.  You can search Google for Python IDEs on an iPad.  [Here](https://medium.com/dev-genius/my-top-python-ides-for-ipad-3f777023155c) is an early hit I saw on Google.

[2020-12-15 18:48] #900 closed

[2020-12-15 20:50] goorkamateusz opened #901 "500px.com - false positive"
## Checklist

- [x] I'm reporting a website that is returning **false positive** results
- [x] I've checked for similar site support requests including closed ones
- [ ] I've checked for pull requests attempting to fix this false positive
- [x] I'm only reporting **one** site (create a seperate issue for each site)

## Description

https://500px.com/p/
False positive report.

Status form page: 200

[2020-12-15 20:54] maatiug commented on #892
Run in console:
[code]

Read README.md next time. ;)

[2020-12-15 21:05] xxbadboy17 commented on #892
I already did But its not run

On Wed, Dec 16, 2020, 2:24 AM Górka Mateusz <notifications@github.com>
wrote:

[2020-12-15 21:16] maatiug commented on #892
Can you try install modules one by one.. Firstly do:
[code]

And before update pip:
[code]

[2020-12-15 21:18] xxbadboy17 commented on #892
Okay sir thanks

On Wed, Dec 16, 2020, 2:46 AM Górka Mateusz <notifications@github.com>
wrote:

[2020-12-15 23:04] maatiug commented on #892
Youre welcome. If it works, you can close this issue ;)

[2020-12-15 23:33] Astrofluke commented on #899
Hey Virender,

I'm using Kali 2020.3

[2020-12-15 23:33] #899 closed

[2020-12-16 08:19] VirenderNayal commented on #899
I am also using the same version.

[2020-12-16 18:29] ChaosJesus opened #904 "Jeuxvideo.com"
## Checklist

- [x ] I'm reporting a website that is returning **false positive** results
- [x ] I've checked for similar site support requests including closed ones
- [ x] I've checked for pull requests attempting to fix this false positive
- [ x] I'm only reporting **one** site (create a seperate issue for each site)

## Description

WRITE DESCRIPTION HERE
http://www.jeuxvideo.com/profil/chaosje

[2020-12-16 21:19] hansaliyad1 opened #905 "[QUES] How does it work? Does the username of the person have to be the same on all Social Network?"

[2020-12-17 05:55] skandix commented on #901
I've been seeing this myself, one fix I've had in mind was to look at the responses on sites, for like 500px where it will respond with 200 OK if the username is valid or not. However, it will return ``This page is no longer available`` in the HTML, which I've seen on other sites from before, where one has to look for a certain string that will change depending on if the user/entity exists or not.

[2020-12-17 21:40] coding-fantastic opened #907 "sherlock.py missing"
sherlock.py is missing .

[2020-12-18 05:38] sdushantha commented on #907
@coding-fantastic `sherlock.py` is not missing. It is located in `sherlock/sherlock.py`. When you run Sherlock, you are supposed to run `python3 sherlock username`. Notice how there is **no** `.py` at the end.

[2020-12-18 05:38] #907 closed

[2020-12-18 05:41] sdushantha commented on #898
Running the command above only updates the modules that are needed for Sherlock to run. If you want the latest version of Sherlock, you have to reclone or download it from this repo. We currently do not have an option to forcefully update Sherlock from the command line.

[2020-12-18 05:41] #898 closed

[2020-12-18 05:42] sdushantha commented on #896
This is a problem with your internet connection and nothing to do with Sherlock.

[2020-12-18 05:42] #896 closed

[2020-12-18 05:43] #893 closed

[2020-12-18 05:44] #905 closed

[2020-12-18 05:44] #892 closed

[2020-12-18 16:46] jguddas opened #909 "[site_list.py] change numbering to reduce commit size"
letting the markdown renderer do the counting lets us reduce commit size and avoide possible merge conflicts.

---

[code]
renders to:

1.
1.
1.

[2020-12-19 22:35] jguddas commented on #909
Should be close if #911 is merged.

[2020-12-21 21:28] Cheeewa opened #913 "Twitter always returns "not found!" Even though the username exists"
## Checklist

- [x] I'm reporting a website that is returning **false negative** results
- [x] I've checked for similar site support requests including closed ones
- [x] I've checked for pull requests attempting to fix this false negative
- [x] I'm only reporting **one** site (create a seperate issue for each site)

## Description

For example, I can access these following Twitter accounts using m

[2020-12-22 00:00] maatiug commented on #901
The page is loaded async... In first request answer contain almost only JS script, so is realy dificult to analysing.

[2020-12-22 13:41] B-ninjada021 opened #914 "Teste"

[2020-12-22 14:13] goorkamateusz opened #915 "Different outputs on CloudShell"
## Checklist

- [x] I'm asking a question regarding Sherlock
- [ ] My question is not a tech support question.

**We are not your tech support**.
If you have questions related to `pip`, `git`, or something that is not related to Sherlock, please ask them on [StackOverflow](https://stackoverflow.com/) or [r/learnpython](https://www.reddit.com/r/learnpython/)

## Question

I have a lot of false posi

[2020-12-26 16:46] jguddas opened #918 "no validation of sites.md and data.json in pull request workflow"
We should check:

1. When a PR alters the `data.json` that it is done so in accordance with the formatting provided by `./site_list.py`.
2. When a PR adds or removes support for a site that the `sites.md` file is updated and formatted correctly.

Possible solution:

Adding a `site_list.py` step to the PR workflow with a new `--fail-on-update` option that exits with status code `1` when the formatt

[2020-12-31 18:47] xsync3d commented on #887
This seems to have been solved. See #912

[2020-12-31 18:48] xsync3d commented on #887
This seems to be in the works. See #912

[2021-01-02 05:41] anonimus1125 opened #924 "Pass"
## Checklist

- [ ] I'm reporting a bug in Sherlock's functionality
- [ ] The bug I'm reporting is not a false positive or a false negative
- [ ] I've verified that I'm running the latest version of Sherlock
- [ ] I've checked for similar bug reports including closed ones
- [ ] I've checked for pull requests that attempt to fix this bug

## Description

WRITE DESCRIPTION HERE

[2021-01-02 13:27] hoadlck commented on #924
Looks like an attempt to generate activity against this user id to make it look more legit.  I reported the id.

[2021-01-02 13:27] #924 closed

[2021-01-03 14:05] plw90579 opened #925 "Hey"
## Checklist

- [ ] I'm requesting support for a new site
- [ ] I've checked for similar site support requests including closed ones
- [ ] I've checked that the site I am requesting has not been removed in the past and is not documented in [removed_sites.md](https://github.com/sherlock-project/sherlock/blob/master/removed_sites.md)
- [x] The site I am requesting support for is not a pornographic w

[2021-01-03 14:06] plw90579 commented on #925
Requesting access

[2021-01-03 14:52] jcs090218 commented on #313
I am willing to help out! I also want to work on project [api](https://github.com/sherlock-project/api). I am learning both `Django` and `React.js`.

[2021-01-03 16:54] ClassicVWnetwork commented on #313
Thanks for your interest in our project I'm personally not a programmer but
do have other computer skills and what to learn more about programming. I'm
an entrepreneur and I'm always thinking of things that could help in the
advancement of technology and human kind to make the world a better place.
I'm looking for a small team people to work on The Killscam Protocol and
the projects you're working

[2021-01-03 17:05] Couragecoininc opened #930 "Can we have a GUI"
## Checklist

- [x ] I'm reporting a feature request
- [ x] I've checked for similar feature requests including closed ones

## Description

WRITE DESCRIPTION HERE

[2021-01-03 17:08] HackerEnvy opened #931 "help please"
When I try to do python3 -m pip install -r requirements.txt it says

Defaulting to user installation because normal site-packages is not writeable
WARNING: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError("Can't connec

[2021-01-03 17:57] hoadlck commented on #931
This is a problem with your environment, not with Sherlock.  I would search Google or StackOverflow for answers.

[2021-01-03 17:57] #931 closed

[2021-01-03 17:59] hoadlck commented on #925
Your issue does not have any content.  So, I will close this issue.

[2021-01-03 17:59] #925 closed

[2021-01-03 18:03] hoadlck commented on #914
I wish spammers would concentrate their energies to something worthwhile.  Like...is P=NP or not?

[2021-01-03 18:03] #914 closed

[2021-01-04 07:30] JosephCordero opened #932 "Deleting .txt"
## Checklist

- [x] I'm asking a question regarding Sherlock
- [ ] My question is not a tech support question.

**We are not your tech support**.
If you have questions related to `pip`, `git`, or something that is not related to Sherlock, please ask them on [StackOverflow](https://stackoverflow.com/) or [r/learnpython](https://www.reddit.com/r/learnpython/)

## Question

ASK YOUR QUESTION HERE
I'm

[2021-01-04 15:04] KingWilliamWC commented on #932
You couldn't just go to where the file is stored and press delete on the keyboard?

[2021-01-04 15:17] KingWilliamWC commented on #930
What sort of data would you like to see presented in the GUI to the user, would it just be the results or an input box where you enter the username (or usernames) and see the results

[2021-01-04 19:41] JosephCordero commented on #932
I'm new to this stuff so don't officially know what you mean but I tried to remove them and I'm getting permission denied

[2021-01-04 20:32] KingWilliamWC commented on #932
What OS are you on (just curious)?

[2021-01-04 20:35] JosephCordero commented on #932
I'm on windows using Kali Linux

[2021-01-05 15:05] ClassicVWnetwork commented on #930
Yes I think If you had pwa or even on a website being able to enter user name and get the results would possibly bring more users into the project and possibly more contributing to the development.

[2021-01-05 16:11] beesuns opened #933 "help to solve sherlock running problem"
## Checklist

- [x] I'm asking a question regarding Sherlock
- [x] My question is not a tech support question.

## Problem
First try:
[code]

I assumed that maybe it was my network that caused the problem, then I tried with --proxy. Of course I have always used proxy to get access to the internet and it worked just fine. `kali@kali:~$ chromium --proxy-server="socks5://127.0.0.1:1089"`
[code]
## Sh

[2021-01-05 18:02] IThinkImOKAY opened #934 "Add ruqqus.com"
- [x] I'm requesting support for a new site
- [x] I've checked for similar site support requests including closed ones
- [x] I've checked that the site I am requesting has not been removed in the past and is not documented in [removed_sites.md](https://github.com/sherlock-project/sherlock/blob/master/removed_sites.md)
- [x] The site I am requesting support for is not a pornographic website
- [x] I

[2021-01-05 18:34] jcs090218 commented on #313
@TheYahya Does this project still need the maintainer? Thanks!

[2021-01-05 18:57] Jannik44 opened #935 "Traceback (most recent call last): File "sherlock.py", line 20, in <module> from requests_futures.sessions import FuturesSession"
whats this? [look in the title], it gives me this error:

`Traceback (most recent call last): File "sherlock.py", line 20, in <module>     from requests_futures.sessions import FuturesSession`

what i have to do?

[2021-01-05 21:45] TheYahya commented on #313
Yes dear @jcs090218,

I answered you [here](https://github.com/sherlock-project/api/issues/1#issuecomment-753644423),
And also you can contribute to [this](https://github.com/sherlock-project/sherlock) project.

[2021-01-06 14:58] KingWilliamWC commented on #930
@ClassicVWnetwork A website you say? interesting, I'll have a look at getting that implemented, thanks for the suggestion!

[2021-01-06 15:03] KingWilliamWC commented on #935
Have you installed the package requests_futures? if not run:
 `pip install requests_futures`

[2021-01-06 21:59] ClassicVWnetwork commented on #930
I would love to offer a web address if your interested https:// sherlock.killscam.org I have others to just let me know.

[2021-01-07 16:01] YeaToast commented on #930
website doesn't exist, also it sounds like a scam

[2021-01-07 16:17] robertsaustin commented on #930
no it does not exist yet im offering it to use for the project and I'm not scam

[2021-01-07 16:34] robertsaustin commented on #930
temp site up

[2021-01-07 17:11] robertsaustin commented on #930
there you jackie website is there

[2021-01-07 17:35] danbeech commented on #930
Last week I knocked together a simple express server that spins up a child process of sherlock. Linked it with a simple front end using Vue (text field and a button, table to display results, button to open links in new tab).
Host on digitalocean droplet and it works fine as a personal API!
Doesn't scale though (at least my implementation doesn't), after a couple of concurrent child processes you'

[2021-01-08 20:36] B4tuhanY1lmaz opened #941 "Shows not existing accounts"
Hello developers.
I installed this tool and started to hunting accounts and i saw a very important bug.
It shows some unexisting accounts for Badoo, ICQ, TikTok, Realmeye, Gravatar and Travellerspoint.
I tried with different usernames and it still shows this accounts and when i go to account link i getting a 404 error becouse there is no account with this name.

[2021-01-09 02:44] Frany6710 commented on #941
### Me too

there´s a list from all 404 websites

## Websites

- badoo.com
- 500px.com
- pling.com
- travellerspoint.com
- realmeye.com
- icq.im

## IMPORTANT NOTE!!!!!

### **`I use windows subsystem for linux`**

## Screenshot

![screen](https://user-images.githubusercontent.com/61435815/104081129-65256700-520b-11eb-965c-efeb0ed7c44b.png)

[2021-01-09 12:23] thesusian commented on #941
Same problem on Linux.

[2021-01-09 12:40] thesusian commented on #913
I just wanted to point out that the problem is still present

[2021-01-10 13:06] Jonas-VanHaeken opened #942 "ModuleNotFoundError: No module named 'requests'"
## Checklist

- [ x] I'm reporting a bug in Sherlock's functionality
- [ x] The bug I'm reporting is not a false positive or a false negative
- [ x] I've verified that I'm running the latest version of Sherlock
- [x ] I've checked for similar bug reports including closed ones
- [x ] I've checked for pull requests that attempt to fix this bug

## Description

When i run the sherlock.py file i get f

[2021-01-10 13:07] #942 closed

[2021-01-12 07:56] yhay81 opened #943 "Created web interface (#540) and web API (#129) of sherlock"
I created web interface (#540) and web API (#129) of sherlock. And  I would love if someone use it.

https://socialpedia.net/
https://api.socialpedia.net/v0/redoc

On the way to create this, I feel that it is pretty good if sherlock can be installed from pypi(#353) or just has installable structure. I think I can help for this if it is okay with maintainers.
If there are some demand, I can release

[2021-01-12 19:53] Yey007 commented on #943
I just want to let you know that I tried this and i got internal server errors.

[2021-01-12 23:48] yhay81 commented on #943
@Yey007 Thank you for replay. Sometimes it returns 500 in my env, too.
And this is server log `HttpError: request to https://api.socialpedia.net/v0/accounts/yhay81 failed, reason: getaddrinfo ENOTFOUND api.socialpedia.net`

I just change DNS record of api.socialpedia.net just today.
It seems fail of name resolution, and I guess it takes a few more hours to be stable.

[2021-01-13 10:01] #909 closed

[2021-01-13 10:02] sdushantha commented on #909
That is really smart! I have merged #911 which fixes this issue 👍

[2021-01-13 10:02] #932 closed

[2021-01-13 10:03] sdushantha commented on #933
This is an issue with your environment and not Sherlock.

[2021-01-13 10:03] #933 closed

[2021-01-13 10:05] sdushantha commented on #930
A web GUI is being worked on https://github.com/sherlock-project/api/pull/2

[2021-01-13 10:05] #930 closed

[2021-01-13 10:10] sdushantha commented on #830
Closing this because it is something we won't be adding to sherlock. If you really want this feature, you can always create your own script that generates alternative usernames and then passes them to Sherlock.

[2021-01-13 10:10] #830 closed

[2021-01-15 00:32] JosephCordero opened #946 "Not Searching"
## Checklist

- [x] I'm asking a question regarding Sherlock
- [ ] My question is not a tech support question.

**We are not your tech support**.
If you have questions related to `pip`, `git`, or something that is not related to Sherlock, please ask them on [StackOverflow](https://stackoverflow.com/) or [r/learnpython](https://www.reddit.com/r/learnpython/)

## Question

ASK YOUR QUESTION HERE
Hey

[2021-01-15 05:46] Spl01ter commented on #946
Same here.
Been stuck here for 30 minutes...
 $ python3 sherlock.py --print-found sherlock-project
[*] Checking username sherlock-project on:

[nothing...]

[2021-01-15 05:47] Spl01ter commented on #946
$ python3 sherlock.py sherlock-project
[*] Checking username sherlock-project on:

[2021-01-15 08:12] #946 closed

[2021-01-15 08:14] sdushantha commented on #946
Thank you for letting us know about this issue. This issue was caused because Ebay taking way too long for returning a response. I have fixed this issue by removing Ebay from the list of supported sites.

[2021-01-15 08:53] JosephCordero commented on #946
Okay, so it should be working now? or do I need to update it?
also thanks for getting back to us some people don't ever

[2021-01-15 09:02] sdushantha commented on #946
@JosephCordero You don't need to update anything. Just rerun the Sherlock and everything should be working fine :)

[2021-01-15 09:04] JosephCordero commented on #946
Okay thank you

[2021-01-16 07:11] #935 closed

[2021-01-16 11:46] yhay81 commented on #353
Are there any updates or outlook for this issue?