[2018-12-25 18:58] obskyr opened #2 "False positives"
Running the program with a username that doesn't exist on any of the supported sites, you get 16 false positives:

* BLIP.fm
* CashMe
* Disqus
* Facebook
* Flickr
* Flipboard
* Foursquare
* GitHub
* GoodReads
* Gravatar
* Newgrounds
* SoundCloud
* Tumblr
* Unsplash
* VSCO
* iMGSRC.RU

In other words, the logic that determines whether a profile exists or not doesn't work correctly for those sites.

[2018-12-25 19:43] sdushantha commented on #2
I will try to fix this as quick as possible because if it returns wrong results, then Sherlock is not a reliable  :(

[2018-12-25 20:29] EinAeffchen opened #5 "Formatting on windows Powershell very off"
[37;1m[[92;1m+[37;1m][92;1m Unsplash:[0m https://unsplash.com/@User
[1;92m[[0m[1;77m*[0m[1;92m] Saved: [37;1mUser.txt[0m

That's how all the lines look like in windows powershell. I guess the print is designed for a linux platform?

[2018-12-25 23:16] ryankrage77 opened #6 "Crashes if a site is blocked"
If a domain is blocked, it crashes.

[2018-12-26 00:09] anabh4569 commented on #2
I got false positives on twitter, facebook, github, soundcloud, disqus, deviantart, flipboard, scribd, gravatar, imgsrc, cash.me, behance, goodreads, vsco, newgrounds, tripadvisor, blip.fm, bandcamp, slack, flickr, wordpress and unsplash for 2/3 different usernames.

[2018-12-26 02:41] 2toxic commented on #2
I also have false positives on all sites, mentioned by @obskyr and three more:
* Keybase
* Slack
* WordPress

[2018-12-26 02:44] nareddyt commented on #6
I believe PR #1 should resolve this issue

[2018-12-26 06:18] plgrazon opened #9 "usernames with ".""
It breaks when I search for a username that has a dot/period

[2018-12-26 07:34] sdushantha commented on #5
I have heard that [Hue](https://github.com/s0md3v/hue) is very good.
Which one should we use? Hue or Colorama?

[2018-12-26 07:39] alphardex opened #10 "Made a flask version"
demo: https://sherlock-flask.herokuapp.com/
source: https://github.com/alphardex/sherlock

[2018-12-26 08:46] sdushantha commented on #9
You are right, I tried a username with a period and I got some strange error when it tries AngleList. Its strange though, when I visit https://angel.co/siddharth.dushantha I get a user, but if I make Python do it, I get nothing.

[code]

[2018-12-26 09:36] hldh214 commented on #9
possible missing `headers=headers`?
[code]

[2018-12-26 09:36] Calinou commented on #5
Hue's README says:

Colorama can also be used to wrap other color libraries on Windows (it will do nothing on other platforms), so you can use *both*, actually.

[2018-12-26 10:56] sdushantha commented on #6
@ryankrage77
What site is blocked for you?

[2018-12-26 11:55] sdushantha commented on #9
@hldh214
Thank you! I did not see that.

[2018-12-26 12:32] sdushantha commented on #9
fixed it :)

[2018-12-26 12:32] #9 closed

[2018-12-26 13:41] TheJavaGuy opened #13 "Apply different rules for different networks usernames"
Almost all social networks have some rules for valid usernames. For example, Facebook says it must be between 5 and 50 characters and can contain dot. Twitter says it must be between 1 and 15 characters and can contain dot and underscore. Pinterest says it must be between 3 and 30 characters, no dots, no underscores (only alphanumerics).

Unfortunately sherlock doesn't take any of these into accou

[2018-12-26 13:53] sdushantha commented on #13
That is very true.

A way we could fix that is to use a regex for each of the networks. I am not good with regex but, I guess we can learn on the go :smile:

When I think about it, I kinda feel like we should make a seperate file for each social network. Just like youtube-dl. In youtube-dl each site has its own extractor.

https://github.com/rg3/youtube-dl/

[2018-12-26 17:03] hoadlck commented on #9
After this change, any site that has the "noPeriod" attribute set to "True" in the json incorrectly says that the user name is not supported.  Even if they do *not* have a period set in their user name.

The if statement needs to check if there could even be a problem before doing the continue.  I will submit another pull request...

[2018-12-26 23:13] hoadlck commented on #13
I wonder how well the user name requirements are documented for each site?  I found an place [here](https://github.com/shinnn/github-username-regex) that had the requirements for GitHub's user name. There are quite a few requirements.

I don't think that the regular expressions will be very hard: it is the research to find the exact requirements.

[2018-12-26 23:40] hoadlck commented on #10
I found a website that already does checking for user name availability: https://www.namecheckr.com/

[2018-12-27 01:47] hoadlck commented on #13
I added the infrastructure to be able to specify a unique regular expression pattern for each site with pull request #16 .

The regular expression for GitHub itself is correct, but I am not sure about all of the rest.

[2018-12-27 04:56] paustint opened #18 "Readme example should show passing in username"
The readme only shows the example `python3 sherlock.py`, but should show what the other arguments are, especially the default username argument - such as: `python3 sherlock.py user123`.

[2018-12-27 12:14] conilas opened #21 "Search by email"
I really love this tool.

But imagine a world where we can search by email instead of the nick name.

[2018-12-27 15:03] sdushantha commented on #21
Yes, that would be very cool, but how would we do that? I dont think it is possible for us to see if an email is registered.

[2018-12-27 18:14] sdushantha commented on #21
I think I have found a way to do that.
For each site, we would have to try do the _forgot my password_ option and put in the email and see if the response is _This email is not associated with any account_ or something similar.

I also think that if we were going to do this, we would have to have each site have its own file/script like I mentiond in issue #13

[2018-12-28 00:27] bl0nd opened #23 "Async version"
I think an async version would be pretty nifty and not too difficult to do for this project (\*_knocks_ _on_ _wood_\*). I can get started on this if you want.

I know trio more than I do asyncio/aiohttp but if you prefer the latter I could learn those.

[2018-12-28 00:41] hoadlck commented on #21
That would be very uncool. Way over the line. Some of those password reset forms would actually reset the user's password. Each time a scan happened for a given user, it might require them to log in again.

[2018-12-28 04:04] #23 closed

[2018-12-28 05:56] vutsalsinghal commented on #18
A gif showing sample usage would be nice

[2018-12-28 08:09] sdushantha commented on #21
@hoadlck You are right, that is very uncool. I was not aware that this would affect the owner of the username.

By the way,

[2018-12-28 10:34] eddvrs commented on #21
Ethics aside, many websites protect their users by not indicating whether an email address is related to any of their users, so this still wouldn't be reliable.

[2018-12-28 11:59] icehongssii opened #24 "not available in python3"
I get
[code]
I am using
[code]

[2018-12-28 12:41] hoadlck commented on #24
F-Strings are only available in 3.6+. https://www.python.org/dev/peps/pep-0498/

[2018-12-28 15:57] NRKirby opened #26 "Fixing Tumblr"
I came across your project today when I was looking for something to contribute to.

I noticed Tumblr isn't working and started working on a way to get round this consent page by just sending a hardcoded `pfg` cookie when we make the get request to Tumblr (see [this branch](https://github.com/NRKirby/sherlock/tree/tumblr) and [this commit](https://github.com/NRKirby/sherlock/commit/0201b230626d437

[2018-12-28 16:05] hoadlck commented on #18
Readme now shows the help output of the command line tool, and an example invocation. Content merged in #17.

[2018-12-28 16:05] #18 closed

[2018-12-28 16:35] hoadlck commented on #26
It seems that the problem is more fundamental. This involves how Sherlock actually detects that a given user name is not supported.

For example, when I go to a Tumblr page that does not exist (e.g. https://blah.tumblr.com/), I get the following message:

Since there is not an explicit http error message (like a 404 not found), it appears that the algorithm is hardcoded to look for a snippet of th

[2018-12-28 17:14] NRKirby commented on #26
I'm a bit confused you said the string I included

doesn't work, yet the string you included

Does work, yet they're exactly the same?

[2018-12-28 17:22] hoadlck commented on #26
Hmm... well, I am confused too. I could have sworn that your string was different, but when I look back, they are the same.

So, I am puzzled on what the problem is. When I run Tumblr, it gives the right result. Even though the implementation is fragile as it depends on the exact error text.

The following is the exact entry I have at the end of the JSON file:

And, this works.

What was making yo

[2018-12-28 17:44] NRKirby commented on #26
If you clear your cookies and browse to [https://blah.tumblr.com/](https://blah.tumblr.com/) you will get the following page:

![image](https://user-images.githubusercontent.com/6445534/50523408-e9df3580-0ac7-11e9-99ec-5b8d99e219a2.png)

This is the page being returned to Sherlock as the request we're making doesn't contain the `pfg` cookie, and because the error text isn't on this page we get a f

[2018-12-28 17:48] hoadlck commented on #26
I am wondering if you are seeing something completely different since you are in the UK.  I do not see this GDPR consent page at all.  I tried opening a new Incognito page in Chrome, and I just get the text I mentioned.  But, perhaps since Tumblr knows that my IP is from the US, it is not putting all of that stuff in front of me.

[2018-12-28 18:14] NRKirby commented on #26
Yes, that makes sense.

[2018-12-28 18:46] sdushantha commented on #24
#28 will let others know that python 3.6+ is required

[2018-12-29 01:05] hoadlck opened #30 "Optional csv Result Output"
While the text output file is good to have, it only shows the sites that do have an account with the username. It would be useful to also have a list of the sites that still had an opening.

I think that it would be useful to have a csv output as well.  It could be optional, so the user would have to add a `--csv` switch before the file would be output.  Then the output would be available in Libre

[2018-12-29 02:38] mpieters93 commented on #30
Awesome, I was also thinking of such a feature! If you end up not having time or the interest to work on this enhancement, feel free to assign it to me. Also feel free to @ me to discuss ideas.

For the columns: next to the request response data, perhaps the HTTP response code would be interesting to have in there as well?

[2018-12-29 03:34] hoadlck commented on #30
Yes, adding the HTTP response code would be nice as well.  I can do that.

Unfortunately, I ran into a snag including the entire response into the csv.  I was able to generate the csv file without any problem, but when opening the file in LibreOffice, I got an error message that the cell was too long.  After seeing that, I remember having problems like this in Excel too: they did not really think

[2018-12-29 03:56] hoadlck commented on #24
OK. So, I think that this issue is closed with #28.  I guess it would be possible to remove all F-Strings and make Sherlock work all of the way back to 2.7, but I am hoping that people will move forward.

[2018-12-29 03:56] #24 closed

[2018-12-29 03:59] aggiebill commented on #30
I created a version with CSV output, not the same schema you suggested.  There is a pull request.  #32

[2018-12-29 05:05] #30 closed

[2018-12-29 12:58] sdushantha opened #36 "PyPi package creator and maintainer wanted"
Does anyone want to create and maintain a PyPi package for this project? You will be credited in the README.md
This will allow people to download Sherlock easily.

[2018-12-29 14:20] hoadlck commented on #36
I think that there are layout changes needed before this project can be packaged.  I have never put something up on PyPi myself, but there is alot of documentation out there.  For example, [The Hitchhiker’s Guide to Packaging](https://the-hitchhikers-guide-to-packaging.readthedocs.io/en/latest/).

Here is a proposal of what the sherlock repository would look like if it was cloned on a developer's

[2018-12-29 15:05] hoadlck opened #37 "Add Testing Infrastructure"
While it is easy to add a new site to scan, it is really hard to know if it is actually supported properly.  Especially for the sites that do not have an explicit error code. For these sites, Sherlock relies on knowing the exact text of the informational page that the social media site presents. Which, even if it works today, could very well break tomorrow.

I am thinking that there would be a `te

[2018-12-29 15:05] mpieters93 commented on #30
I think it still is: Excel, for example, does still open the file when certain cells contain too much text, but just truncates the contents of said cell. When a user wants to see the full output, it can chose a different file viewer. Furthermore, exporting as CSV allows for further processing down the line (for example in a Python or batch script), which can also be quite neat depending on your ne

[2018-12-30 00:07] boardens commented on #26
When I was looking for social networks, I saw that Tumblr was blocking sherlock with it Rgpd consent page. So I searched for some external services which check if the username provided is already used.

While waiting for something more convenient, I used `https://postlimit.com/bloginfo.php?blog_name={}` (a website that give infos about your tumblr blog) as url, and `No such blog` as errorMsg. It w

[2018-12-30 00:48] hoadlck opened #40 "Scope Of Sherlock"
In pull request #39, some questions that I had about @boardens content brought up something that has been bugging me: What should the scope of this tool be?

I looked on Wikipedia, and they have a list of [social media sites](https://en.wikipedia.org/wiki/List_of_social_networking_websites).  Many of the sites that are already included in Sherlock are **not** included in that list.  I am not sayin

[2018-12-30 04:30] xianrusso opened #41 "Comment Correction"
lines 87 - 89, commented out, state

`
User agent is needed because some sites does not
`
`
return the correct information because it thinks that
`
`
we are bot
`

which I think could tidied up to

`
A user agent is needed because some sites don't
`
`
return the correct information since they think
`
`
we are bots
`

other than that tiny issue, i find your code very readable.  great work and thank

[2018-12-30 06:30] WhiteDevil2002 opened #42 "syntax erroe"
there is a syntax error in the file sherlock.py in line 17.
please review.
thank you!

[2018-12-30 07:20] #10 closed

[2018-12-30 10:15] sdushantha commented on #42
I just ran Sherlock and got no error. Try cloning the repo again and run it again. Because I did merge a PR a few hours ago and that might have fixed that syntax error. Make sure that you are using Python 3.6 or higher

[2018-12-30 14:07] svisser commented on #42
It might be good to check that merge because the change in #8 is now no longer there (and perhaps others as well).

[2018-12-30 17:19] hoadlck commented on #42
I added "enforce utf-8 encoding when we open data.json" (#8) back in.  I
tried looking thru the merge, and did not find anything else.  But, the
parallel queries really changed the structure, so I am not confident.

On Sun, Dec 30, 2018 at 8:07 AM Simeon Visser <notifications@github.com>
wrote:

[2018-12-30 20:08] sdushantha commented on #40
Yes, I do agree it would be too much.

My idea of making Sherlock was to gain more information about a target. For example, if the target likes traveling, where do they travel  or like to travel(TripAdvisor), are they good with tech/coding (GitHub), are concerned about privacy (Keybase), are they single, and if so are they looking for a partner (Tinder), etc. The more more sites there are, the mor

[2018-12-30 20:19] sdushantha commented on #36
When I think about, I don't think we need Sherlock to be `pip` installable because we are pushing many updates constantly and I personally think that it would be too difficult to keep the package on the PyPi up to date with this repo.

I think it would be easier to maintain this project they way it is and not restructure the whole thing so that it can be packaged. Many big projects like XSStrike a

[2018-12-30 20:34] sdushantha commented on #36
Can I close this because I kinda changed my mind about making this into PyPi package?

[2018-12-30 20:45] kelvindecosta commented on #36
Yes absolutely

[2018-12-30 23:53] hoadlck opened #44 "Version Number System"
I do not think that the version number system should use the date.  There are multiple systems out there, but they are all flavors of major.minor.maintenance. This allows the version number to have some meaning to other people.

https://github.com/sdushantha/sherlock/blob/e2c4dbf1ef69db80a9c6ebf591be874686e04301/sherlock.py#L20

[2018-12-31 00:03] hoadlck commented on #40
The categories could be implemented as a list of tags in the JSON file.  But, this is really what databases are for.

What you are describing is pretty open ended.  It seems that there will be endless churn.  It seems like a web application would work better.  Didn't someone demo a web application?

Another alternative would be to move the data.json to another repo, and have Sherlock fetch that fi

[2018-12-31 02:40] elias6 opened #45 "Sherlock sometimes tells me "Not Found!", even if user exists"
I ran `python3 sherlock.py sdushantha`, and it told me "Not Found!" for all of the sites.

Here is the strange thing: if I delete all of the sites from the data.json file except GitHub, and run `python3 sherlock.py sdushantha`, it finds your GitHub account. But if I have both GitHub and Issuu in data.json, it does not find your GitHub account (nor does it find anything on Issuu).

I am using Pytho

[2018-12-31 04:06] NikxDa commented on #45
Same problem here, +1.

[2018-12-31 05:36] cblument opened #47 "Fails when invoking script from a different directory"
[code]

[2018-12-31 06:59] cclauss opened #52 "Should requests_futures and torrequest be REQUIRED?"
Should we force users to pip install modules that they might not need?
* Should the script run slower if __requests_futures__ is not pip installed?
* Should tor options be disabled if __torrequest__ is not pip installed?
[code]

[2018-12-31 08:02] sdushantha commented on #44
I do understand your point, but what I was thinking of was that, since we are updating the code frequently, I don't think everyone is going to have the latest version on their computer. So, if use the year.month.day format, users will get and idea if their version has been out dated or not.

If major.minor.maintenance is the standard and has a more meaning to other people, I'm more than  happy to

[2018-12-31 08:10] sdushantha commented on #45
Thank you for letting me know. I will have to take look at it. I tried `sdushantha` and it gave me Not Found for all of them. I also tried `user123` and that gave me only positive results, even though the username did not exist in some sites.

[2018-12-31 11:10] sdushantha commented on #44
@hoadlck Can you delete your fork of this repo?
I want to transfer the ownership of this repo to you. To do that, you first have to delete your fork.

[2018-12-31 11:46] appi147 opened #53 "Sherlock is broken"
For username 'user123', here is output:
[code]
It shows that user123 is on every site that is not the case.

For my user name `appi147`, it shows it doesn't exist on any of the sites.

Also, it takes a lot of time to exit after printing that my username does not exist on any of the sites.

Using verbose option does not do anything.

[2018-12-31 12:09] hoadlck commented on #53
Oops....  This was a merge problem from #43.

Previously, there was just one for loop that iterated thru all of the sites.  But, with the addition of the parallel functionality, there are now two for loops.  The dictionary changes were not done in the second loop, which caused bogus results.

[2018-12-31 12:10] hoadlck commented on #53
Oh, yeah... It is fixed now.

[2018-12-31 12:10] #53 closed

[2018-12-31 12:15] hoadlck commented on #45
This is a symptom of #46.  It is fixed now on the main branch.

[2018-12-31 12:15] #45 closed

[2018-12-31 13:35] hoadlck commented on #44
@sdushantha  Uh... you are the owner of this repo. You cannot abandon your child! :)

I am on break now, so I had some free time to contribute. But, on 2019-01-02, the daily grind starts up again, and I am unsure how much time I will have to dedicate to this.

[2018-12-31 16:01] #47 closed

[2018-12-31 16:17] sdushantha opened #54 "Looking for a new owner for Sherlock"
I can't really manage this repo anymore. So if there is anyone who wants to get the ownership of this repo please let me know.

[2019-01-01 12:49] GustavoMF31 opened #56 "Ebay and Dailymotion not working"
Running `py sherlock.py  obviousfakeusernamethatdoesntexist` gives me a obviousfakeusernamethatdoesntexist.txt with https://www.dailymotion.com/obviousfakeusernamethatdoesntexist and https://www.ebay.com/usr/obviousfakeusernamethatdoesntexist. Opening the pages show no user. I'm from Brazil and the messages in the sites are displayed in portuguese. Maybe that's why it fails recognizing the error.

[2019-01-01 13:01] aggiebill commented on #56
Probably need to add an accept-language http header to ensure consistent responses.

[2019-01-01 13:07] hoadlck commented on #56
Aragh. Yeah, that is probably what is going on.  There are currently 46 sites where Sherlock does not get an explicit http error code, so it is looking instead for certain text in the web page.  I knew that this would be a problem if the individual site changed their error page in any way, but languages is another way that this can fail.

I have been wondering if the query logic for these types of

[2019-01-01 13:25] jcs090218 opened #57 "Does it works on Windows 10? (Color Code)"
Hi, I really like this awesome tool. I followed the installation on the README page and ran the exact same command `python sherlock.py user123`, it gives me the correct result yet not the correct color text rendered. Does it fully supports on Windows 10? or I did something wrong? Thank you!

### Environment Info ###
OS: `Windows 10 (64-bit)`
Python Version: `3.7.1`
Software: `Windows PowerShell`,

[2019-01-01 13:33] hoadlck commented on #57
This is a duplicate of #5.

I am using Sherlock in a Git Bash shell, and it looks fine.  But, the other shells look funky.

The results are valid though: try using the `--csv` option and look at the resulting file.

[2019-01-01 13:34] sdushantha commented on #54
@nareddyt @shijuleon @cblument @cclauss @anto-christo @MagicFab @svisser boardens @ronaldseoh @aggiebill rajdeepbharati

[2019-01-01 13:39] jcs090218 commented on #57
Oh, cool. Since this is the duplicate issue, I guess I will close this issue. I was searching for keyword `Windows 10`. My bad! And thanks for the tip!

[2019-01-01 13:39] #57 closed

[2019-01-01 13:41] anto-christo commented on #54
Hi @sdushantha, I personally feel not quite eligible to maintain this repo. I'm mainly a JavaScript developer and have very less experience with Python. I'm still a beginner at it.
I'd not prefer taking ownership for the good of the project but I'll be glad to co-maintain if someone more experienced with Python and OSS is ready to lead. Thank you.

[2019-01-01 18:45] rajdeepbharati commented on #21
This People API might be useful: [https://pipl.com/corp/lp/find-social-profiles-by-email-address/](https://pipl.com/corp/lp/find-social-profiles-by-email-address/)

[2019-01-01 21:07] #54 closed

[2019-01-01 21:16] nareddyt commented on #54
Congrats @TheYahya 🥇

Feel free to @mention me or message me if you need any help reviewing PRs or finding fixes for issues!

[2019-01-01 21:35] TheYahya commented on #54
Thanks @nareddyt, Sure, I would like to use your help.

[2019-01-02 07:45] noviluni commented on #42
That happened to me when I tried to execute the script with python 2.7

[2019-01-02 11:15] hoadlck commented on #42
Only Python 3.6+ is supported.  Python 2.7 will not work.

[2019-01-02 14:34] ptalmeida opened #58 "Add common domains"
I think this tool is great for someone looking to create a new internet personna or company, so maybe it would be a logical addition to add a search for .com and .net domains, per example.

[2019-01-02 19:38] naueramant commented on #58
Seems like a new project which maybe uses sherlock as a module?

[2019-01-02 22:16] hoerenraph commented on #5
hue works perfectly
run `pip install huepy`
add `from huepy import *` to the importing part of the sherlock.py file

[2019-01-03 00:47] suthree opened #63 "requests has no attribute '__description__'"
requests == 2.13.0
requests has no attribute `__description__`
instead only has
[code]
so i use the  `__doc__`
am i right?
Thank you

[2019-01-03 01:05] ptalmeida commented on #58
Here's a mockup of what could be added:

first, run:
`pip3 install python-whois`

at the top of sherlock.py, add:
`import whois`

in the method scherlock,

    extensions = ['.com','.net','.me','.info']
    for ext in extensions:

        domain = username + ext
        try:
            w = whois.whois(domain)
            if w.status == None:
                print("\033[37;1m[\033[91;1m-\033[37;1m

[2019-01-03 02:55] Czechball opened #66 "issues with hearthis.at"
I don't know how to add a user lookup on https://hearthis.at/.
The user placeholder is hearthis.at/[user] , but when incorrect user is entered, it will just search the string.
Now, I've tried "errorType": "message" with the message "Search results", but I was getting false positives. I also tried "errorType": "response_url" with the URL https://hearthis.at/search/?q= and "regexCheck": "^[a-zA-Z][a

[2019-01-03 04:01] jcs090218 commented on #5
I personally think `Colorama`'s style are better than `Hue`'s style. Below are the comparison of two libraries.

#### Hue ####
[code]

#### Colorama ####
[code]

The point here, if use `Hue`, the code might end up like `print(red('This string is red'))`. On the other hand, if we use `Colorama` the code likeliest be like `print(Fore.RED + 'This string is red')`. Unless the code are not going to cha

[2019-01-03 04:13] jcs090218 commented on #44
Wait, this are not the end of the conversation, right? I can still see https://github.com/TheYahya/sherlock/blob/508eb88724dbe20dedf07dc00527ad4f32c93a77/sherlock.py#L24 at the moment, yet the latest commit is already on `2019.01.03`. Maybe just have something that are regularly used like `0.0.1`, etc.

[2019-01-03 04:16] hoadlck commented on #66
I see that they have an API (https://hearthis.at/api-v2/).  But, there does not seem to be a way to query if a user exists.

It looks like the "errorUrl" field in the JSON would have to be extended so that the user name could show up.  Then you could have the "errorUrl" value be "https://hearthis.at/search/?q={}/". But, many other errorURLs do not have the user name included, so the approach would

[2019-01-03 04:49] Czechball commented on #66
I see. But I don't understand why the first approach didn't work, because the unique string "Search result" was clearly displayed in every failed user lookup attempt.

[2019-01-03 05:12] buxiashan opened #67 "SyntaxError: invalid syntax"
File "D:/sherlock-master/sherlock.py", line 39
    print(f"\033[37;1m[\033[91;1m-\033[37;1m]\033[91;1m {errstr}\033[93;1m {err if debug else var}")
                                                                                                  ^
SyntaxError: invalid syntax

Process finished with exit code 1

[2019-01-03 05:13] #67 closed

[2019-01-03 05:16] buxiashan opened #68 "SyntaxError: invalid syntax"
print(f"\033[37;1m[\033[91;1m-\033[37;1m]\033[91;1m {errstr}\033[93;1m {err if debug else var}")
                                                                                                  ^
SyntaxError: invalid syntax

Process finished with exit code 1

f

[2019-01-03 06:59] Czechball commented on #68
Weird, I tried to run Sherlock on my laptop with Debian and got the same error. All pip3 requirments installed, trying to start with "python3 sherlock.py"...

[2019-01-03 07:01] Czechball commented on #68
I would just like to add that my error is
`  File "site_list.py", line 11
    site_file.write(f'## List Of Supported Sites ({len(data)} Sites In Total!)\n')
                                                                                ^
SyntaxError: invalid syntax`

[2019-01-03 07:51] xch1029 opened #69 "when to support in China?"
many websites in China.Maybe you can support one or two.like: weibo,gitee

[2019-01-03 08:08] Czechball commented on #69
hello, could you please provide some sites (links) you would like to add? I'll try to add a support for them.

[2019-01-03 08:10] xch1029 commented on #69
https://weibo.com/xiena(谢娜 is a superstar in China)

[2019-01-03 08:12] Czechball commented on #69
hello, I've checked out weibo. it seems that you can't visit user profiles unles logged in (impossible to check with Sherlock) also when I try to visit the link you provided, I get a "page not found" error. However, gitee seems to list users fine, so I'll include that.

[2019-01-03 08:16] xch1029 commented on #69
https://weibo.com/xiena        (谢娜 is a superstar in China)
https://gitee.com/tbmao2    (Gitee is a substitute for GitHub in China,in this case, tbmao2 is my name )
When I have time, I will provide you more websites

[2019-01-03 08:48] xch1029 commented on #69
https://www.zhihu.com/people/evanyou/
zhihu.com is a website like medium
evanyou is creator of vue

(many sites url dont contain username. That's bad news)

[2019-01-03 09:02] 0Erik-H commented on #66
I think I might have found a solution. It seems that (if there isn't a user found) hearthis.at responds with a 404 error status code with only some JavaScript in the body to redirect to the search page. Sherlock stops at this first stage, which would explain why trying to find "Search results" doesn't work. Detecting the error URL also doesn't work as it responds with the request URL (before redir

[2019-01-03 12:17] JonanOribe commented on #21
Another way to improve the project and achieve more info about the users would be to scrap the websites where the user´s name appears. We can use tools like Scrapy, for example, to get data (email, city, interest) of users and at the end print a profile.

If you try against your github profile, you can pick up your location and email, without cross any line, because our profiles are public. Making

[2019-01-03 14:43] jcs090218 commented on #42
@WhiteDevil2002 Is this issue fixed? If fixed, can we close this?

[2019-01-03 14:54] jcs090218 commented on #68
@buxiashan What is the Python version are you running on? and what Operating System?

[2019-01-03 14:59] buxiashan commented on #68
@jcs090218  and all , version 3.5.2 x64 installed on my win10 system.
requests lib installed .
pip3 install -r requirements.txt     # also installed .

[2019-01-03 15:04] jcs090218 commented on #68
Try use Python version 3.6 or higher, in the README file under installation section. => `NOTE: Python 3.6 or higher is required.`

[2019-01-03 15:16] buxiashan commented on #68
okay ,many thanks , will reinstall python v3.6 try again ...

[2019-01-03 16:06] yangkang5303 opened #73 "where to claim proxy?"
For users in some country, Facebook is blocked by GOV firewall, which using  proxy is alternative path.

[2019-01-03 16:13] guillaumebriday opened #74 "Add the project on docker hub"
Hey !

Could you add a webhook to the docker hub to automatically build the image on the cloud and make it available without cloning the project ?

I can't do it for you in a PR, I'm sorry !

Thank you for your work 👍

[2019-01-03 16:15] yangkang5303 commented on #73
export http_proxy="http://127.0.0.1:1087"
export HTTP_PROXY="http://127.0.0.1:1087"
export https_proxy="http://127.0.0.1:1087"
export HTTPS_PROXY="http://127.0.0.1:1087"

run the commands   before run main command.

[2019-01-03 16:15] #73 closed

[2019-01-03 17:03] #52 closed

[2019-01-03 17:15] naueramant commented on #37
I have taken a swing at it and it seems like some better fragmentation of the sherlock() method is needed to probably write tests.

Would this be something we should gave a go or is testing overkill?

[2019-01-03 21:52] #44 closed

[2019-01-04 02:37] nareddyt commented on #74
@TheYahya do you have a dockerhub account? It would make sense to have you do it, as you own the repo currently.

If not, I can set it up, but it would be under `nareddyt/`

[2019-01-04 02:38] nareddyt commented on #5
Closed via #71

[2019-01-04 02:40] nareddyt commented on #6
@hoadlck do you know if this is resolved? I figured PR #1 would have fixed this. If so, let's close it

[2019-01-04 02:46] hoadlck commented on #37
Yes, I don't see a good way to do this without tearing things up.  And, there has been enough churn that I am worried about slipping it in without dealing with non-trivial merges in the future.

The most minimal change would be to move the open of the JSON file outside of the main routine.  This would allow tests to run against a sub-set of the sites.  I don't think that there will be a username t

[2019-01-04 02:48] nareddyt commented on #21
Just wanted to bring up a related discussion in Issue #40. Particularly, this quote by @hoadlck is relevant:

Would adding options to find users by profile information or email transform Sherlock into a search engine. If so, is that something we want to do?

I have not invested enough time into this issue to have an opinion on this solution, I just wanted to bring up this similar discussion. It's

[2019-01-04 02:52] Czechball commented on #69
Zhihu and Gitee added in #81

[2019-01-04 02:53] hoadlck commented on #6
I have never gotten an understanding of what the problem actually was.  But, it appears that most of the exceptions are caught in ```get_response()```, so I am guessing that it is resolved.

[2019-01-04 03:17] nareddyt opened #82 "Display response times in verbose mode"
## Feature Request

It would be nice to display the response time for each request.

### Why?

- It would help us determine which sites cause the program to slow down. If a site is very slow and non-critical, we could remove it to speed up Sherlock.
- The more metrics the merrier! Has very little overhead, so why not :)

### User Experience

We would only display this information in verbose mode (

[2019-01-04 04:56] Czechball commented on #82
Sounds good. Maybe then we could sorts the sites by their response time and check the fastest ones first.

[2019-01-04 04:57] Czechball commented on #68
Also works for me. I was using Python 3.5.3. Thanks for the help. I was wondering why Sherlock worked in WLS Ubuntu and Windows 10 Python and not in Debian Python. Turns out I forgot to check the versions

[2019-01-04 06:06] Czechball commented on #66
Looks like it's working, thanks for the help. I'll include hearthis.at in my next PR.

[2019-01-04 06:06] #66 closed

[2019-01-04 07:31] rajdeepbharati commented on #63
requests==2.18.4 does have attribute `__description__`

Use the latest version of requests, install it using the requirements.txt file

[2019-01-04 08:12] #74 closed

[2019-01-04 08:13] TheYahya commented on #74
Great idea @guillaumebriday
Yes @nareddyt, I done it at #84

[2019-01-04 08:57] TheYahya commented on #21
I'm agree with you @nareddyt. It's not going to be scale. Also from a point, we should decide which type of sites & social networks going to be in `sherlock`. or maybe categorize list of site or anything.

[2019-01-04 09:10] Czechball commented on #21
Categorization would be excellent. I was thinking of categories by countries...

[2019-01-04 12:19] hoadlck commented on #21
This is something that you get with databases.  There are many ways to categorize content, and there is no way to have one definitive categorization. You could use developer, music, books, games, picture, eCommerce, blog, hosting, country...all are examples of ways that someone might want to sort.

As I said in #40, if the scope of Sherlock is going to be so wide, I do not see how the current appr

[2019-01-04 14:08] #58 closed

[2019-01-04 14:36] rpural commented on #2
I'm still receiving false positives on several sites. Sherlock says account found, but when I try the link provided, I get a 404. It seems like the simple solution would be to check the status code returned in the http request.

https://www.github.com/rpnix
https://disqus.com/rpnix
https://rpnix.deviantart.com
https://slideshare.net/rpnix
https://bitbucket.org/rpnix
http://en.gravatar.com/rpnix
ht

[2019-01-04 15:40] hktalent opened #85 "File "striker.py", line 175, in dnsdump TypeError: list indices must be integers, not str"
![image](https://user-images.githubusercontent.com/18223385/50696315-1243d280-107a-11e9-9bb4-3341a0ace3ac.png)
[code]

[2019-01-04 15:43] hktalent commented on #85
sorry

[2019-01-04 15:43] #85 closed

[2019-01-04 15:46] TheYahya commented on #21
Web application idea seems good, In fact with a good interface it would be much easier for everyone to use `sherlock`, Would be easier to scale and categorize, caching, etc. I think in this case `sherlock` would be a core module of the web application.

[2019-01-04 17:43] Dentrax opened #86 "ModuleNotFoundError: No module named 'idna'"
I installed required packages:

`pip3 install -r requirements.txt --user`

[code]

And also:

`pip3 install idna --user`

`Requirement already satisfied: idna in /usr/lib/python3.7/site-packages (2.8)`

Testing:

`python3 sherlock.py test`

Error:

[code]

[2019-01-04 17:47] Dentrax commented on #86
I have just fixed that with: `pip install -I --user idna` :)

[2019-01-04 17:47] #86 closed

[2019-01-04 18:58] sdushantha opened #87 "The install script only works on Debian based Linux distros"
There is a bash [script](https://github.com/TheYahya/sherlock/blob/master/install_packages.sh) which installs all of the packages automatically and that is great! But there is one drawback though, it wont work in Arch based distros (Manjaro, ArchLabs, etc). That is because those distros use `pacman` instead of `apt` to download the packages.

 In my opinion, I dont think that it is good idea to ha

[2019-01-04 20:53] Koopiq opened #88 "Code of Conduct"
Ello. I've noticed you don't have a CoC yet. Care to accept one? I would suggest accepting Contributor Covenant's CoC, believe me it's an incredible CoC, everyone should accept it or at least try it. You would be amazed how great of a CoC it is.

Here is how you can accept a CoC: https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/

It's dangerous to live without a CoC these

[2019-01-04 20:56] nareddyt commented on #87
@theodosisathanasakis

[2019-01-04 21:00] nareddyt commented on #21
We should make a different issue for "web server" related discussion, but I think that would be a good long term goal. It would require a bit of refactoring to make turn sherlock into an API (either web API or library API).

After thinking through the original discussion (in this issue), I am worried about scalability if we were to implement any of the solutions above.

[2019-01-04 21:18] TheYahya commented on #88
Thank you @Koopiq for the issue, just added [#b2d0f8](https://github.com/TheYahya/sherlock/commit/b2d0f8b90b51ab669b071a0e94d3fac703b3678f).

[2019-01-04 21:18] #88 closed

[2019-01-04 22:15] theodosisathanasakis commented on #87
I din't think that. Let me give it a try for the basic distos and I'll let you know.

[2019-01-05 02:31] sugizo opened #91 "SyntaxError: invalid syntax"
step to reproduce an error
**docker debian test using python 2 & 3. Both return an error**
[code]

[code]

[code]

**docker ubuntu test using python 2 & 3. Only python 2 return an error same like on debian**
[code]

[code]

[code]

[2019-01-05 02:39] sugizo commented on #9
test on ubuntu with Python 3.6.7
`python3 sherlock.py username.123`

**return:**
- Facebook: Illegal Username Format For This Site!
- Wix: Error!
- Error Connecting: Crevado

**here is the complete list:**
[-] Facebook: Illegal Username Format For This Site!
[-] Blogger: Illegal Username Format For This Site!
[-] GitHub: Illegal Username Format For This Site!
[-] DeviantART: Illegal Username Forma

[2019-01-05 02:40] QuantumSheep commented on #91
The "f-string" syntax only works since Python 3.6. You didn't show an example with this version, which of course works within this version.

Sherlock's recommended version of Python is 3.6 certainly because of this reason.

[2019-01-05 03:13] sugizo commented on #91
ok, my bad, didn't notice bout this earlier, i'll close the issue, thx

[2019-01-05 03:13] #91 closed

[2019-01-05 05:18] Eurus-Holmes commented on #63
@rajdeepbharati I have installed the requests==2.20.1, but the error still exists...
<img width="1132" alt="2019-01-05 1 17 45" src="https://user-images.githubusercontent.com/34226570/50720681-540d6100-10ec-11e9-8f32-37eb0504aa3c.png">

the error:
[code]

[2019-01-05 06:14] rajdeepbharati commented on #63
@Eurus-Holmes Perhaps you used the wrong version of python. Can you install a `virtualenv` and try again. Although this line isn't really important for sherlock to work.
This is what `requests.__description__` is: `'Python HTTP for Humans.'`

[2019-01-05 07:43] Eurus-Holmes commented on #63
@rajdeepbharati oh, thanks, It works when I used a virtualenv environment.

[2019-01-05 09:13] tdh8316 commented on #87
@sdushantha is right. Actually, we don't need to use the install script. (If it's required for them, you need to write an installation script for each distribution.

Fedora: Yum(DNF)
OpenSuse: Zypper
Arch: Pacman
And etc...

[2019-01-05 13:43] rajdeepbharati commented on #63
@TheYahya I think this issue may be closed

[2019-01-05 13:59] #63 closed

[2019-01-05 15:12] QuantumSheep opened #95 "GitHub doesn't work"
I would like to say it's all in the title. GitHub accounts can't be found.

[2019-01-05 15:40] rajdeepbharati commented on #95
Yes you're right. Though GitHub accounts could be found by sherlock even last week, I think.

[2019-01-05 17:48] masta2898 commented on #95
I've created PR with possible fix, please check it out, @TheYahya

[2019-01-05 17:54] sdushantha commented on #87
Just a note, I dont think everyone wants to download the dependencies globally. Some might want to download them locally.

**Global Install**

```pip3 install xyz```

**Local Install**

```pip3 install --user xyz```

[2019-01-05 19:06] theodosisathanasakis commented on #87
Ok, so do you want me to add a question before "_pip3 install_" commands.

[2019-01-05 20:09] sdushantha commented on #87
@theodosisathanasakis
Yeah, that would be nice

[2019-01-05 20:35] hoadlck commented on #37
I am not done with the testing infrastructure, but one thing that would be useful for test is a list of user names that are valid and user names that are invalid for each site.  The test of each site needs at least one example from each.

Because the full testing infrastructure is going to drive changes to the structure of the code, I am thinking about another way to do this.  But, whichever way w

[2019-01-05 20:43] TheYahya commented on #37
Sounds good, since it's gonna change the structure of the code, I'm thinking about making `sherlock` a python module that can be import in other codebases and can simply install it with pip even.
I'm working on a local brach now, I haven't decide how to set the structure. but surely after some changes I will make it a `WIP` PR to hear the opinions.

[2019-01-05 20:57] hoadlck commented on #37
@TheYahya Pypi support and some restructuring was added in #38, but the pull-request was never merged in.

What I was proposing in #36 (which was not exactly what was implemented) was the following:
[code]
The `find.py` would have the search/scan logic that is the heart of the tool.  This would also leave the structure open if other features were added in the future.

I am not sure how the `data.j

[2019-01-05 21:11] TheYahya commented on #37
The structure is good, for some reasons I prefer keeping tests in `/sherlock` directory:
[code]
But it's not that important.
I think we should put #38  and current codebase together?!
And for the JSON file I think for web application it's good to be a seed file to database.

[2019-01-05 21:19] hoadlck commented on #37
I have no problem with putting the tests as a sub-module of sherlock.

Unfortunately, #38 is way out of date.  It would have to be re-implemented.

[2019-01-06 01:28] WebBreacher opened #97 "WhatsMyName"
Neat project and fast too! Love it! Just in case you want more site signatures, check out my similar tool over at https://github.com/webbreacher/whatsmyname. JSON file has the site info which may or may not be helpful...like I said, we have similar projects.

[2019-01-06 01:50] hoadlck commented on #97
Is this parallel evolution? Or did @sdushantha look at your project and get inspired?

The ```--site``` option was what I was just proposing to add to Sherlock in another issue.  And, the storing of valid/invalid user names in the JSON file was what I was thinking to do in order to allow the testing to work better.  It looks like your Project has been out there for a while.  While Sherlock has man

[2019-01-06 03:17] tdh8316 opened #99 "The result of some sites is incorrect."
## Env info
OS: `Windows 10 (x64)`
Python: `Python 3.6.5`

## Issues
I'm using tdh8316 as Github ID.
But Sherlock couldn't find my Github ID.
![github_not_found](https://user-images.githubusercontent.com/20598077/50731565-977ad480-11ab-11e9-8336-a35a38507a35.png)

And I'm NOT using VirusTotal, thus tdh8316 isn't used.
But Sherlock found out it!
![virustotal](https://user-images.githubusercontent.c

[2019-01-06 03:34] ptalmeida opened #100 "--quiet and --verbose"
Currently `--quiet` and `--verbose` are opposites, where --quiet is the default option.

Given the number of websites covered by Sherlock, should `--quiet` be altered so that it is not the opposite of verbose but an option that displays only websites where the username has been found?

This way no options remains as it is, `-v` as it is, and `-q` as described above.

[2019-01-06 05:08] hoadlck commented on #100
The ```--quiet``` option is really intended to be related to debugging verbosity.  That being said, having a command line option to only show the sites that are found could be covered with a new set of options.  Maybe something like ```--list-found``` and ```--list-all```?  Where the ```--list-all``` would be the default.  Maybe "print" would be better than "list"?

The text file does only have th

[2019-01-06 10:32] #95 closed

[2019-01-06 10:41] sdushantha commented on #97
It must be, because I have never seen project :)

[2019-01-07 05:57] TheYahya commented on #82
Seems great @nareddyt, can't wait to use it ☺️

[2019-01-08 01:01] Lerie82 opened #110 "Invalid Syntax - Line 44"
[code]

[2019-01-08 09:20] masta2898 commented on #110
Wich version of python do u use? f-strings available only after 3.6 version.

[2019-01-08 22:44] masta2898 commented on #110
@TheYahya I think the author of this issue has already solved his problem.

[2019-01-08 22:51] TheYahya commented on #110
Ok, I will close it if @Lerie82 didn't respond.
Thanks @masta2898

[2019-01-09 00:08] #82 closed

[2019-01-09 09:21] knijam commented on #37
I suggest a way to automate build and testing using **tox** https://tox.readthedocs.io/en/latest/.

[2019-01-09 10:01] raphuchur opened #113 "Blackplanet false positive"
Blackplanet is giving false positives. (request from germany)
@Czechball you added this in #81 ; maybe you are able to fix it?

[2019-01-09 10:05] raphuchur commented on #56
Both of these are fixed.

[2019-01-09 13:44] Czechball commented on #113
Hello, I also noticed these false positives. Blackplanet has a very weird way of dealing with non-existent accounts... It basically shows you a broken user edit gui. So I tried to bodge the fail detection by adding "edit profile" text in errorMsg, but it's probably not working... I'm not really an expert in this, so idk why it isn't working.

[2019-01-09 16:39] ivan-achlaqullah opened #115 "Make parameter for site name not case sensitive"
Because the user should not guess which character is uppercase and lowercase, which is kind of annoying.
For example let's say you want to see if this user have Deviant Art account :

`python sherlock.py username --site deviantart` ❌

The above will result in error, now the user will change first character to uppercase :

`python sherlock.py username --site DeviantArt` ❌

And that user still will

[2019-01-09 20:19] #110 closed

[2019-01-10 13:54] #115 closed

[2019-01-11 07:40] therealsunjester commented on #110
No the issue wasn't resolved. Python 2.7.12

[2019-01-11 07:44] Lerie82 commented on #110
Python 2.7.12

[2019-01-12 13:40] filipceglik commented on #113
Hi, I've looked on this issue and the only way I found to not get false positives is the angular errors. When you check for a non-existent user, angular responds with "TypeError: Cannot read property 'username' of undefined". I've checked this for multiple users and this error only occurs with non-existent usernames. Unfortunately I don't know how to extract this data in python, although I would b

[2019-01-12 14:12] masta2898 commented on #113
@filipceglik, this is the part of the Angularjs code that is ran by your browser. Unfortunately, the Python query library cannot run JS code.

[2019-01-14 21:09] #99 closed

[2019-01-16 15:50] theodosisathanasakis commented on #87
I think this issue has been solved as #92 is merged to master.

[2019-01-17 00:10] nareddyt commented on #87
Closed by #92

[2019-01-17 00:10] #87 closed

[2019-01-18 22:32] leobel96 opened #122 "Spotify and BLIP.fm not working"
Regardless of what username I try, for Spotify and BLIP.fm I obtain "Error Connecting".

[2019-01-19 15:59] TheYahya commented on #122
@leobel96 maybe it's because of your internet connection, It's work properly now. Could your describe your problem with more details?!

[2019-01-19 19:01] leobel96 commented on #122
[code]
This is what I get regardless of what username I try. I'm using Python 3.6.5 64 bit version and my internet connection is ok (I think 500mbps are ok).

[2019-01-21 11:01] abhijithvijayan opened #125 "Proxy : JavaScript"
Nice work on the project.
How do you pass the CORS issue?

I'm building the JavaScript fork of this project at https://github.com/abhijithvijayan/sherlock.

I have to now use a CORS proxy to get it right.

[2019-01-22 01:46] hoadlck commented on #37
Added some basic testing infrastructure with #127.  I did this change without any of the restructuring that we have talked about.... I am not sure exactly where that is at, and I wanted to get these tests out there so they could help people.

One thing that I do not like about the current way that the tests run is that the working directory gets littered with result files from all of the tests.  I

[2019-01-22 01:57] hoadlck opened #128 "devRant/iMGSRC.RU/ImageShack/MeetMe Not Detecting Users That Exist"
Noticed while running the tests that devRant is not working right.  @TheYahya suggested during the review of #105 that we use the usernames of founders tests (as they would be expected to never delete their accounts).  But, when I tried to find  the "dfox" username, it said that it did not exist.  Yet, if I go to https://devrant.com/users/dfox, I can see his profile.

Here is the example command t

[2019-01-22 07:58] senthilnayagam opened #129 "sherlock as a REST API"
feature request:
has anyone built a rest api using Sherlock,

I would love a simple API using flask or chalice and instructions to deploying on AWS Lambda .

[2019-01-22 10:00] Czechball opened #131 "Sites sorting"
It may be a good idea to sort the sites in sites.md and data.json alphabetically. When I'm looking for sites to add, I always have to Ctrl+F in this repo or just scroll through the file... Also when seeing the results, it's just chaos.

[2019-01-22 11:39] TheYahya commented on #131
Yeah, I have same struggle. It's good to sort them.

[2019-01-22 15:20] sdushantha opened #132 "Can I have my name in the README as the creator?"
Since I am the creator of Sherlock, could it be possible to have my name or GitHub username in the README? 😄

**Proof that I am the creator**
First commit is by me: https://github.com/TheYahya/sherlock/commit/b373f81feb3a8eb7a079ebf87b01db4cee1aee97

[2019-01-22 16:33] hoadlck commented on #128
This appears to be a problem with the sites that redirect an attempt to view a non-existing username to the main site.  If you try to go to https://devrant.com/users/dfoxxxxxxxxx (a user name that does not exist), then we get a redirect to the https://devrant.com/ root of the site.  Yet, the "response_url" checking algorithm is only looking for the configured error URL being included in the respon

[2019-01-22 20:55] TheYahya commented on #132
Sure @sdushantha, Just add a PR ☺️

[2019-01-23 02:37] hoadlck commented on #128
To fix this problem requires a complete change to the "response_url" detection strategy...

Previously, there was a problem with sites that redirect an attempt to view a non-existing username to the main site. For example, if you try to go to https://devrant.com/users/dfoxxxxxxxxx (a user name that does not exist), then we get a redirect to the https://devrant.com/ root of the site. But, the "resp

[2019-01-23 02:45] #128 closed

[2019-01-23 05:48] TheYahya commented on #132
Done at #136

[2019-01-23 05:48] #132 closed

[2019-01-23 05:51] TheYahya commented on #129
Hi @senthilnayagam
My plan is create it after modulation of sherlock #112, and then use sherlock as core module of the api; In that way codebase would be much simpler and clear.
And I will be appreciated to have your help.

[2019-01-23 06:42] ptalmeida commented on #131
A bit of an addition to this idea, how about adding an option to sort by alexa.com rank?

[2019-01-23 07:49] ptalmeida commented on #131
Maybe it should be incorporated into the json data file and updated, per example, with sites_list.py.

[2019-01-23 11:47] hoadlck commented on #42
I think that this issue has been addressed. Pretty sure that it was caused by running Sherlock with Python 2.7.  In any case, there has been quite a bit of development since this issue was entered, and any past problem would be completely changed by now.

But, please reopen if still relevant.

[2019-01-23 11:47] #42 closed

[2019-01-23 18:45] HA71 opened #140 "False positives"
It seems that some websites have changed behavior and this has led to false positives.

- EyeEm
- CreativeMarket
- EVE Online

[2019-01-23 19:33] #131 closed

[2019-01-23 19:37] TheYahya opened #141 "Sorting by alexa.com rank"
It could be as an option in showing results

[2019-01-23 21:03] Czechball opened #142 "Virustotal error"
The [URL used to detect a user on VirusTotal](https://www.virustotal.com/ui/users/username/trusted_users) always results to this:
[code]
I guess they don't like sherlock detecting their users.

[2019-01-24 00:48] hoadlck commented on #142
Odd... I typed the request into Chrome, and I got the following:
[code]
But, when I type it into Firefox, I get the same thing you got.  But, when I run Sherlock, it does detect things properly.

Are you actually having a problem with Sherlock, or were you just testing with the browser and noticed this?

[2019-01-24 01:07] Czechball commented on #142
Okay, I just noticed something very weird. When I opened the link in a regular Chrome window, and being logged in with my account in VirusTotal, I got the error message stating Don't be evil. But when I opened another, anonymous window, and the link in it, it was the same as yours.

[2019-01-24 01:47] hoadlck commented on #113
I took a look at this, and I am not seeing how to detect a non-existent profile.  I will try to look at this tomorrow.

Should we continue to have a site included if detection does not work?

[2019-01-24 03:39] jcs090218 commented on #56
@GustavoMF31 Are both the sites fixed? Can you confirm it? and if it does then we can close this issue?

[2019-01-24 08:05] Czechball commented on #142
Seems like it. And since Sherlock isn't logged in, there is no issue. Closing

[2019-01-24 08:05] #142 closed

[2019-01-24 21:51] hoadlck opened #149 "More False Positives"
While reviewing some of the sites that are already included, I am testing to see if any can be converted from the Message Detection method.  Since this method depends on the exact error text (and the language of the error text), it would be more reliable to use another way.  So, I am going to document what I find here.

[2019-01-24 21:53] hoadlck commented on #149
Carbonmade is not working properly. I enter https://blue.carbonmade.com, and it forwards me to https://realizador.carbonmade.com/.  Sherlock says that it is an existing username, but that is not true.

[2019-01-26 00:54] GustavoMF31 commented on #56
I just tried again with all the new changes and ebay still gives me a false positive. I also get false positives from http://blackplanet.com and https://www.meetme.com/. No problems with Dailymotion anymore

[2019-01-27 11:46] TheYahya commented on #141
Yes, Look like limitation is 500 requests. check #146

[2019-01-27 12:11] ptalmeida opened #155 "Alexa.com rank fetching"
Regarding #152 and #153, which has already been merged, and for future reference on this feature.

The reason why `--rank` option is used instead of fetching the rank for every website every time site_list.py is used:

- Amazon has a paid API which we don't use, and abusing this workaround could lead to serious problems.
- There is also a hard limit of 500 requests, which this database may reach v

[2019-02-01 00:46] crock commented on #129
@senthilnayagam

I have built an open-source REST API centered around social media username checking. You may use my [hosted version](https://api.getpenguin.com) in your applications or self-host.

@TheYahya
I'm always accepting PRs to the repo, it is built using Node.
https://github.com/checker/api

[2019-02-01 00:52] crock commented on #2
@rpural Simply checking the HTTP status code that is returned is not a fool proof solution. Not all sites return a 404 when a user profile is not found. For example, Steam IDs and Steam groups do not. You literally have to parse the HTML for a particular string when checking Steam.

I have 3 years of experience building social media checkers. Check out my open-source Python checker if you have tim

[2019-02-01 02:49] crock commented on #125
@abhijithvijayan
You can make all the requests server-side and then you won't run into a CORS issue. Some sites will require parsing the HTML as simply checking the status code for a 404 is not a sole solution for all services.

Take a look at my similar project for inspiration...
https://github.com/checker/api

[2019-02-01 03:47] crock opened #158 "Improvement to YouTube checking method"
I've done a detailed write-up on how YouTube custom urls work that anyone can read here.
https://www.linkedin.com/pulse/de-mystifying-youtube-custom-urls-alex-crocker/

Once we get a standard system down for modularization, I'll make a PR with changes to the checking method for YouTube.

[2019-02-01 03:50] crock commented on #97
@WebBreacher @hoadlck  I also have a similar project https://github.com/checker/cli and a REST API variant as well as https://github.com/checker/api

[2019-02-01 04:35] crock commented on #21
I think the focus of Sherlock should remain as a CLI application since that’s what it started as.

I’ve built and maintained a REST API for social media availability checking off nearly a year now. I’d love some contributions.
https://github.com/checker/api

[2019-02-02 01:10] TheYahya commented on #129
Look good @crock
like @senthilnayagam mention above, till sherlock become a pipy module, Having api would be difficult, But soon I will merge #112 ☺️

[2019-02-02 11:10] abhijithvijayan commented on #125
I actually parse the html too in my project with the `errorMessage`.

[2019-02-02 12:54] 2toxic commented on #2
I found false negative, but I can't find where the bug lies. `python sherlock.py romanova` gives negative result in VK, but https://vk.com/romanova is existing profile.
Maybe reason for wrong result is that profile is hidden, but VK returns 200 and everything is ok.

I checked if it was problem with user agent, but sherlock's is not banned by vk and curl request returns 200.

[2019-02-03 17:37] hoadlck commented on #149
Does anyone have any idea why Wix is included?  @boardens added it, but it looks more like a website sub-domain as opposed to a username.

[2019-02-03 18:05] hoadlck commented on #149
VK is not working. The URL https://vk.com/smith gives a good 200 HTTP status, but Sherlock still says that it does not exist.  This site was added by @sdushantha originally.

[2019-02-03 19:33] zero77 opened #163 "[Feature Request] Check Have I Been Pwned"
Can you please add support for checking have i been pwned. This is a lookup / notification service to see if your email, password or username has been leaked in a data breach.
Thanks

API;
https://haveibeenpwned.com/API/v2

[2019-02-03 19:45] crock commented on #163
Not sure if that's the direction the maintainers want to go in. Sherlock is a branding tool used to check username availability.

[2019-02-04 07:09] TheYahya commented on #163
`Sherlock` just going to do one job perfectly, for now at least. that could be another library.

[2019-02-04 07:09] #163 closed

[2019-02-04 11:20] zero77 commented on #163
Thanks for your reply and for considering it.

[2019-02-04 14:15] WebBreacher commented on #97
@crock I've done this already in Recon-ng's multi-threaded Profiler module and Steve Micallef did this in the Spiderfoot "Accounts" module. They take the JSON file and then run several loops on it against as many user names as their databases contain. For details on Profiler, check out https://webbreacher.com/2014/12/11/recon-ng-profiler-module/

[2019-02-06 21:58] hoadlck opened #165 "Ideas On Choosing The Perfect Unclaimed Username?"
One of the pains in delivering on #37 is that I need to figure out an unclaimed username (to verify that Sherlock can correctly detect that a given username is open).

I have been using "noonewouldeverusethis7" as this username, because...who would use something like that?  However, sometime in the last couple of days, someone has claimed that username on BuzzFeed and Canva.  The irony is not lost

[2019-02-07 00:42] hoadlck commented on #149
Zhihu is not working.  The URL https://www.zhihu.com/people/blue gives a good HTTP status, but Sherlock still says that it does not exist.  This site was added by @Czechball originally.

[2019-02-07 00:58] hoadlck commented on #149
Does anyone have any idea why WebNode is included?  @Czechball added it, but it looks more like a website sub-domain as opposed to a username.

[2019-02-07 01:47] hoadlck commented on #149
Quora is not working. The URL https://www.quora.com/profile/John-Smith gives a good HTTP status, but Sherlock still says that it does not exist. This site was added by @rajdeepbharati originally.

[2019-02-07 02:08] hoadlck commented on #37
With #166, that puts the test coverage at 50% of all sites.  Unfortunately, there are also more sites that we know are not working properly.

[2019-02-07 08:19] mpieters93 commented on #165
I was thinking about generating a random alphabetical string, testing, and repeating this process once or twice.

This way, we get usernames that are very unlikely to be in use, and prevent people from claiming usernames that are in the source of Sherlock.

I think I could submit a pull request this weekend for the false positive testing, if no one else wants this issue of course.

Please let me k

[2019-02-07 12:48] hoadlck commented on #165
The current tests only check one username per site query. So, the test for unclaimed detection would have to be changed.  If the tests always had to try multiple usernames to find an unclaimed one, it would really extend the test times.

I guess what I am really worrying about is how exactly the existing site got the "noonewouldeverusethis7" username. If this is something that is happening on the

[2019-02-08 05:53] TheYahya commented on #165
using a username that can't be used in the sites could be an option, like username with less than 3 chars or more than 52 chars in some sites.

[2019-02-09 14:44] hoadlck commented on #149
Fotolog the site is not working.  If I go to https://fotolog.com/, I get a 502 HTTP error (bad gateway).

[2019-02-09 14:58] hoadlck commented on #149
ColourLovers was broken.  The URL for username 'blue' was https://www.colourlovers.com/lover/blue not https://www.colourlovers.com/love/blue.  Originally added by @sdushantha.  I fixed this in a soon to be added PR.

[2019-02-09 16:47] hoadlck commented on #149
Flipboard was broken.  The error text that was being looked for was "loading", and there were real profiles that had this.  Changed error text to be "loading...".  This is so fragile...
I fixed this in a soon to be added PR.

[2019-02-10 00:36] hoadlck commented on #113
I looked into this in more detail, and...oh boy.

I captured the response text that Sherlock receives for http://blackplanet.com/blue (claimed) and http://blackplanet.com/bluedfdf (unclaimed).  They are exactly the same!

The site must be rendering all of the different content using Javascript in the browser.  So, I don't see a good way to distinguish between the results.  I have used Selenium to

[2019-02-10 05:50] hoadlck commented on #149
I have resolved all of these with #169.

[2019-02-10 05:50] #149 closed

[2019-02-10 05:52] hoadlck commented on #113
I removed this site in #169.  We can add it back in when we can figure out a detection method that will work.  Until then, we will not mislead users by giving information that is wrong.

[2019-02-10 06:02] hoadlck commented on #37
With #169, that puts the test coverage at 100%!

Issues that exist with tests at the current time:
- Some of the sites are randomly intermittent, and we get failures because Sherlock could not connect to them.
- The tests hang up because some site is not responding.
- Sites like AngelList which interpret the Sherlock queries coming from one IP address as some kind of bot activity.
- Tor options ar

[2019-02-10 06:02] #37 closed

[2019-02-10 06:06] hoadlck commented on #2
I believe that all of these have been addressed as of now.

The only case where we still have problems is in sites where Sherlock depends on error text, and the user ends up getting a different language.

[2019-02-10 06:20] hoadlck opened #170 "Sherlock 1.0.0?"
Sherlock now has complete test coverage, and the sites that are supported have no false positives (well...no false positives so long as you get the English version of the sites that use the error message detection strategy).

I think that it would be good to get a 1.0.0 version released.  This way anyone wanting to user Sherlock would have a solid release to work with.  The future re-structuring w

[2019-02-10 16:32] zero77 opened #171 "[Feature Request] Self Update Argument"
Can you please provide a self update argument, that checks for updates and then automatically installs the update, if one was found for example, sherlock.py -update.
Thanks

[2019-02-10 16:59] TheYahya commented on #171
Yes, thats great idea. we will have that feature.

[2019-02-11 11:51] hoadlck commented on #171
If Sherlock is packaged up and placed on PyPi, then you would be able to update it like any other Python module. Would that not be better?

[2019-02-11 12:21] zero77 commented on #171
@hoadlck
Both have positives and negatives, perhaps go for the one that's easiest to maintain and update.

[2019-02-12 12:38] hoadlck commented on #171
Well, the infrastructure to update via pip is already in place.  Although I could envision a mechanism to update Sherlock itself, it would be pretty non-trivial to handle the dependencies of Sherlock.  Imagine that a new Python module was needed in the future: Sherlock would have to handle downloading that content.

Don't forget that there already is the option of fetch the site information from s

[2019-02-12 13:14] zero77 commented on #171
@hoadlck

To my knowledge there's no inbuilt way to update all pip packages but, it's still simple to update all pip packages with a couple of commands.
Either way, i personally don't have a preference between a pip or inbuilt update option, i suppose it should be down to whichever is the most stable and easiest to maintain.

I wasn't aware of that, is there any documentation on that.

[2019-02-12 13:24] hoadlck commented on #171
The documentation is in the command line help.  The --json option lets you specify the JSON file location (be it on your filesystem, or via an http request).

To illustrate, I removed the information about the Zhihu site from the data.json file local to Sherlock, and provided a path to get it from the internet.  The below command fetches the latest JSON file from master on GitHub.

[code]

Of cour

[2019-02-12 13:30] zero77 commented on #171
O, i missed that, Thanks

[2019-02-20 12:26] TheYahya commented on #170
Only think we need is pipy package #112, And it's need lots of refactors.
I think after making `sherlock` a pipy-package it could be the `1.0.0` version since the structure won't change much after that.

[2019-02-23 20:13] soehlert opened #175 "Github search is broken"
I have two different github accounts and it found neither of them. Both have plenty of public repos too.

[2019-02-23 22:01] hoadlck commented on #175
There have been problems with GitHub in the past, but the problems should be fixed.  I am seeing your name detected properly on my PC.
[code]
What version of Sherlock are you using?  I am using 0.5.3.

Is there anything odd about your connection? Do you use a proxy?

[2019-02-24 04:25] soehlert commented on #175
Interesting. Running it from docker here is what I see.

[code]

[2019-02-25 10:43] sdushantha opened #177 "Method for SnapChat"
I think I have almost got a method to check for Snapchat.

We would have to use this url:
`https://accounts.snapchat.com/accounts/get_username_suggestions`

and with these parameters:
`requested_username=USERNAME&xsrf_token=XSRF_TOKEN_HERE`

**^^After doing a POST requests to this url, you will get some JSON data^^**

**How would we get the `xrsf_token`?**
Here is my ugly method:
[code]

I do have

[2019-02-25 19:32] crock commented on #177
You can pass the argument `allow_redirects=False` to the request and that should stop your re-direct loop.

[2019-02-25 19:56] sdushantha commented on #177
@crock I tried what you suggested, but I am still not getting the JSON data.
Here is what I have:
[code]

Do you have an idea on what I might be doing wrong?

[2019-02-26 16:47] QingChongNotAnAsian commented on #100
My [pull request](https://github.com/TheYahya/sherlock/pull/178) adds that functionality, but by a silly name of '--nonotfound'. I like the --print-found, and I will implement it as soon as I can.

[2019-02-26 17:34] TTWNO opened #179 "Pinterest.com fails in Canada due to redirect to Pinterest.ca"
When I was attempting to run tests, I noticed I was having some trouble working with Pinterest. On investigation, it appears that I'm being redirected with a 302 (moved *temporarily*) response, giving false negatives. Information below:

This is my wget for Pinterest.
[code]

These are the tests failing:

[code]

AngelList also didn't work, but I'm going to assume it's unrelated :)

[2019-02-26 19:00] crock commented on #177
i believe Snapchat web-based registration form uses reCaptcha, so that is going to prevent you from getting the results you need.

[2019-02-27 07:21] sdushantha commented on #177
@crock That makes sense. I guess Ill close this issue because I don't think we can go any further with this

[2019-02-27 07:21] #177 closed

[2019-03-05 17:33] sdushantha opened #182 "Make Sherlock into an organizeation?"
I was thinking it would be cool to make Sherlock into an organization. This would then allow us to make other projects building off Sherlock. For example, a web API #129

Its just a thought :)

[2019-03-06 06:57] TheYahya commented on #182
It's good idea @sdushantha
I just don't want to start web api, desktop app, etc before making `sherlock` a pypi module #152

[2019-03-06 07:53] sdushantha commented on #182
@TheYahya I do agree about that

I was thinking if we make `sherlock` as an organization, we could make a website about `sherlock` and the great part of having an organization is that we would get a custom subdomain
(e.g. sherlock.github.io)

And would not need to use one of our sites
(e.g. sdushantha.github.io/sherlock.html)

I could start making the site, but not a web dev, so I dont think I wil

[2019-03-06 18:06] sdushantha commented on #182
@TheYahya thanks for creating @sherlock-project 😄

[2019-03-06 18:06] #182 closed

[2019-03-06 18:07] TheYahya commented on #182
I just create the organization and invite you @sdushantha,
It would be great if you create a website about sherlock, I create a [repo](https://github.com/sherlock-project/website) for now.
I any recommendation if you have [in here](https://github.com/sherlock-project/api/issues/1)
And it would be great if you take a look at #152 ☺️

[2019-03-24 12:53] raveenb opened #191 "Seems to wait and block"
when I run the python script, it starts off quickly but then seems to wait busily on some site then moves on. it didn't use to do that earlier. I suspect some bug got introduced in the latest PR

[2019-03-24 13:10] hoadlck commented on #191
I have seen things like this.  There are some sites that run slow at random times.  And, there are some sites that "catch on" if you run Sherlock too often from a given IP address: I can never test AngelList as they refuse to respond to Sherlock from my computer.

The process of doing the requests is continuing in the background, but the front end always prints the site support out in order.  If w

[2019-03-24 18:40] JonanOribe opened #192 "Implementing a code quality system"
Maybe will be a good idea to start using some code quality system as Code Climate or another similar stuff. This kind of applications can help us to make better refractors and avoid code duplications.

What do you think?

[2019-03-25 05:17] TheYahya commented on #192
Thank you @JonanOribe, Seems great, PRs would be appreciated ☺️

[2019-04-20 12:11] sdushantha opened #200 "Found a method for SnapChat"
Hey guys!

I found a method to check for usernames on SnapChat.
I have made a script which does this. If anyone has time, feel free to take apart and add it to Sherlock.

The only problem is that this method is a little different from the normal way which Sherlock uses. :/

https://github.com/sdushantha/snapchat-username

If you have **any** questions just ask :)

[2019-04-24 19:29] nstapelbroek commented on #175
I'm able to reproduce this issue. On a local clone the Github search works and searching with the docker image yields no results. It seems that the image itself has not been updated for a while. Maybe we can make it auto-build on every merge to the `master` branch?

[2019-04-27 14:11] bosslee opened #204 "SyntaxError - Line 78"
Fresh install on Debain
Got this error
[code]

[2019-04-27 15:40] hoadlck commented on #204
What version of Python are you using?  This is normally because f-strings are only supported in 3.6+, and a user tries to run with an earlier version.

[2019-05-12 08:40] miaoski opened #205 "`[-] {errstr} {err if verbose else var}` when testing"
Running on a Mac with Python3 in Virtualenv, `$ python3 -m unittest tests.all --buffer --verbose` gives the result (see attachment).

Notably there is a key error, which also happens when running normal queries, e.g., `python3 sherlock.py miaoski`:
[code]
[test.log](https://github.com/sherlock-project/sherlock/files/3169887/test.log)

[2019-05-12 08:43] miaoski commented on #205
Easy fix:
[code]

[2019-05-15 12:45] hoadlck commented on #205
It looks like #198 was accidentally merged.  I backed out this PR and pushed the result to main.  I did not have time to do detailed testing, but the failures now seem to be the "normal" ones that happen because a site is slow to respond.  I need to run to work....

[2019-05-16 11:50] hoadlck commented on #205
This should be fixed now.

[2019-05-16 11:50] #205 closed

[2019-05-16 11:52] hoadlck commented on #204
There were some things messed up on the master branch relating to f-strings which was recently fixed.  But, I think that you saw the error from an earlier version, and the issue was just the wrong version of Python.

If you are still having problems, then we can re-open this issue...

[2019-05-16 11:52] #204 closed

[2019-06-07 14:56] c-edw commented on #200
It would be nice to have in this tool for sure, but I don't it's a good idea to do it this way. You should be aware that you've included your authentication cookie in there, so other people can access your account. Even if this is a throwaway account, it's not really a proper way of doing it.

[2019-06-07 20:25] sdushantha commented on #200
@c-edw Are you saying that if I have the `xsrf` token publuc, people can _hijack_ my  account?

[2019-06-26 17:12] aaeissa opened #211 "Tinder False Positive"
Sherlock found a Tinder profile for a username I queried, but going to the URL shows the "Looking for Someone?" error message.

I saw that error message hardcoded in data.json:

[code]

So it seems like it should have been caught?

[2019-06-27 12:26] hoadlck commented on #211
Hmm.... Sounds like the classic false positive (which Sherlock always has problems with when it uses the Error Message detection method).  Usually, it is because the site changed their error text.

But, in this case I am not seeing any problem: the tests pass for this site.

Is the problem repeatable? What is the username that you queried against?

[2019-07-04 17:29] sdushantha commented on #211
@hoadlck I think we should make a template for issues. If they are reporting a false positive, they have to provide the username they used.

This will make it easier for us to fix the issue.

[2019-07-05 14:21] aaeissa commented on #211
@hoadlck @sdushantha sorry for the delay. I was not able to reproduce the error, actually. I ran the script (no other options except a single username) and got the false positive one time, and did not get that result the next time.

I realize this hinders troubleshooting, but unfortunately I wouldn't feel comfortable providing the username in a public forum like this since I was performing an inve

[2019-07-06 02:52] sdushantha commented on #211
@aaeissa
No worries, we all have other stuff in our lives other than replying to GitHub issues :)

Yeah, that is very understandable.

True, maybe we could have a tick box asking if they tested other usernames and got the false positive.
Because like you mentioned above, this false positive only happened once.

[2019-07-09 22:39] D3faIt opened #212 "SyntaxError: invalid syntax"
Hi.

I get this error when running Sherlock:

[code]

This applies to Python2, Python3, with/without arguments and sudo

[2019-07-09 22:44] D3faIt commented on #204
Also have this issue.

I'm on Debian 9 (stretch) using Python 3.5.3

[2019-07-09 23:24] hoadlck commented on #204
Python 3.6 or greater is required.

On Tue, Jul 9, 2019, 5:44 PM D3faIt <notifications@github.com> wrote:

[2019-07-09 23:43] ll3N1GmAll commented on #212
I too am receiving this error. I am running with python3 as per the README.

[2019-07-10 01:32] hoadlck commented on #212
Like the readme says, you have to have Python 3.6 or above.

This does keep happening.  I wonder if it is possible to have an explicit check about the Python version, and give an error message that the user is using the wrong version?  I see a [StackOverflow](https://stackoverflow.com/questions/1093322/how-do-i-check-what-version-of-python-is-running-my-script) description on how to do this.

[2019-07-10 05:33] AlberickRL commented on #212
I'm having the same issue and I have python 3.6.9 installed and it's the same output when I try to any command with sherlock

`  File "sherlock.py", line 78
    Fore.GREEN + f"] {title}" +
                            ^
SyntaxError: invalid syntax `

[2019-07-10 07:11] FaiqIftikhar commented on #212
Use: `python3 sherlock.py --help` and so on to work with it.

[2019-07-10 12:06] hoadlck commented on #212
@AlberickRL Can you run Python with the --version option? For example, if the command you use to invoke Python is "python3", then execute "python3 --version".  I expect that you are running a different version than you expect.

[2019-07-10 15:19] manishyadav1400 opened #219 "running issues"
hi i am having issues while running ,how to resolve this please help
`usage: sherlock.py [-h] [--version] [--verbose] [--rank]
                   [--folderoutput FOLDEROUTPUT] [--output OUTPUT] [--tor]
                   [--unique-tor] [--csv] [--site SITE_NAME]
                   [--proxy PROXY_URL] [--json JSON_FILE]
                   [--proxy_list PROXY_LIST] [--check_proxies CHECK_PROXY]

[2019-07-10 15:20] manishyadav1400 commented on #219
![Screenshot (16)](https://user-images.githubusercontent.com/46298091/60981637-57f89500-a354-11e9-9062-3bf6f03a9179.png)

[2019-07-10 20:07] Vrikquek commented on #212
Hi, I'm having problems installing the repo for Sherlock it's giving a syntax error. I've got python 3 installed but yet it's giving an error.

 git clone https://github.com/sherlock-project/sherlock.git
File "<stdin>", line 1
 git clone https://github.com/sherlock-project/sherlock.git
         ^
SyntaxError: invalid syntax

[2019-07-10 20:18] ll3N1GmAll commented on #212
The solution for me was as follows:
sudo apt install python 3.6

Then when running sherlock use this command format:
python3.6 sherlock.py --help

That should fix it for you even if you have a different version of python 3 as your default. This also prevents other programs that are dependent on a different version of python3 from being impacted.

[2019-07-10 20:48] Jaakkonen opened #221 "Docker Hub not getting updated"
Docker image is now 6 months old and not updated. It's also missing description (which could link to the README.md)
[code]

Fix: Consider adding travis integration for Docker hub.

[2019-07-10 20:49] Jaakkonen commented on #221
Here's travis' guide on Docker Hub deployment automation: https://docs.travis-ci.com/user/docker/

[2019-07-11 00:47] StevenMonty opened #222 "Mac Install Issue"
Doing the pip3 install requirement.txt command results in this error:
[code]
Any idea how to fix it? Thanks

[2019-07-11 04:09] hoadlck opened #223 "Wattpad False Positive"
Looks like they changed the error text.  And, the web page content has a Unicode encoding error.  This needs some work.

[2019-07-11 04:13] hoadlck commented on #222
Looks like you missed the ```-r``` option on the command line.

The command is
```pip3 install -r requirements.txt```

[2019-07-11 04:21] tommywei110 commented on #219
`python3 sherlock.py user123`
You would run a query like this. Gotta put in the username you're looking for

[2019-07-11 04:26] hoadlck commented on #219
Sherlock is a command line program. Since PyCharm is an IDE, you have to tell it what command line options you want to use. The message you are giving is because you are running Sherlock without giving it any users to search for.

Here is a [StackOverflow](https://stackoverflow.com/questions/31884252/how-to-run-python-programs-in-pycharm-with-passing-parameters) entry talking about how to add comm

[2019-07-11 07:52] LeeHarvey commented on #219
![Clipboard02](https://user-images.githubusercontent.com/51308286/61032340-99e11400-a404-11e9-89f2-3714112b734e.jpg)

[2019-07-11 15:01] cont3nted opened #224 "How to import requests_futures"
![sherlock](https://user-images.githubusercontent.com/50903697/61061878-ae86d180-a42f-11e9-983c-e77f3b28c58f.JPG)

Not sure why it does not have this module

[2019-07-11 18:13] bbaydar90 commented on #224
I had the same issue on my Raspberry Pi 3 running Raspbian. Solution: Check if requests-futures is installed under /usr/lib/python3/dist-packages. If no you need to manually install it. If yes it means that this folder is not on your path and that's why python can't find the module. Add it manually by entering the file (nano sherlock.py) and add: sys.path.append('/usr/lib/python3/dist-packages')

[2019-07-11 21:01] Artook10 commented on #212
I am having an issue stating Import csv has a syntax error.

File "sherlock.py", line 10
    Import csv
             ^
SyntaxError: invalid syntax

[2019-07-11 21:23] vuduclyunitn commented on #224
Can you try: pip install requests-futures?

[2019-07-11 21:30] Artook10 commented on #212
NM figured out the Import csv issue.

[2019-07-11 21:31] Artook10 commented on #212
But I now have this error.

Traceback (most recent call last):
  File "sherlock.py", line 22, in <module>
    from colorama import Fore, Style, init
ImportError: No module named 'colorama'

[2019-07-12 01:11] stewargm opened #229 "python3 sherlock.py invalid syntax"
pi@raspberrypi:~/sherlock $ python3 sherlock.py johb
  File "sherlock.py", line 78
    Fore.GREEN + f"] {title}" +
                            ^
SyntaxError: invalid syntax
pi@raspberrypi:~/sherlock $

How do I fix ... thanks G

[2019-07-12 04:56] AlberickRL commented on #212
I tried this, but now i get this error
`Traceback (most recent call last):
  File "sherlock.py", line 22, in <module>
    from colorama import Fore, Style, init
ModuleNotFoundError: No module named 'colorama'`

[2019-07-12 04:59] AlberickRL commented on #212
same error
` File "sherlock.py", line 78
    Fore.GREEN + f"] {title}" +
                            ^
SyntaxError: invalid syntax`

[2019-07-12 08:23] FaiqIftikhar commented on #212
@AlberickRL can you check the version that you have use `python3 -V`

[2019-07-12 12:58] #229 closed

[2019-07-12 19:56] haruhiko156 opened #230 "Can't connect to most websites"
Almost all the websites return "Error Connecting"
[-] ResearchGate: Illegal Username Format For This Site!
[+] Twitch: https://m.twitch.tv/s******s
[-] Error Connecting: DeviantART
[-] DeviantART: Error!
[-] Error Connecting: TripAdvisor
[-] TripAdvisor: Error!
[-] Error Connecting: LiveJournal
[-] LiveJournal: Error!
[-] Error Connecting: Patreon
[-] Patreon: Error!
[-] Error Connecting: BuzzFeed

[2019-07-12 21:44] Jamim commented on #230
Can you describe your environment?

[2019-07-12 23:51] us opened #231 "author button over the footer text on github.io"
![Screen Shot 2019-07-13 at 2 49 29 AM](https://user-images.githubusercontent.com/22618852/61163780-0e0cdc00-a519-11e9-8905-b7427e19f827.png)

[2019-07-13 00:36] monraPH commented on #229
I got the same problem too.

[2019-07-13 02:09] tdh8316 opened #232 "GitLab check method"
Currently, Sherlock supposes GitLab's error type is a message.
But I think there is a more efficient way. that's precisely response URL.

For example, user tdh8316 does not exist on GitLab and when I enter the address `https://gitlab.com/tdh8316`, it redirects to `https://gitlab.com/users/sign_in`

Therefore I'd like to recommend replacing message, which is GitLab's error type with response_url.

[2019-07-13 03:01] stewargm commented on #229
Previous threads have sand that he should only work on python 3.6 or above my default python is 3.5 but I’m having trouble making python 3.7 my default

[2019-07-13 10:16] cont3nted commented on #224
Thanks for your help guys, but it's still not working

[2019-07-13 10:30] cclauss opened #235 "Travis CI needs to be turned on"
The administrator of this repo would need to log into https://travis-ci.com/sherlock-project with their GitHub credentials and turn this free automated testing service back on like it used to work at https://travis-ci.com/TheYahya/sherlock/pull_requests

[2019-07-13 14:20] bialybudyn opened #236 "No module named 'torrequest'"
Hi,
similar problem to module "requests_futures"

Traceback (most recent call last):
  File "sherlock.py", line 25, in <module>
    from torrequest import TorRequest
ModuleNotFoundError: No module named 'torrequest'

[2019-07-13 14:32] monraPH commented on #219
I've try this kind of format but it doesn't work and then I got error message
![dddf](https://user-images.githubusercontent.com/44535940/61172900-0e12e780-a5be-11e9-8d10-860756cbe4d6.JPG)

[2019-07-13 15:06] hoadlck commented on #232
What you are talking about is the Response URL detection method.  It is documented in the [Adding Sites To Sherlock](https://github.com/sherlock-project/sherlock/wiki/Adding-Sites-To-Sherlock) guide.

As I get time, I do convert sites away from the error message detection method.

[2019-07-13 20:13] krufab opened #238 "Improve Dockerfile and docker example in README.md"
The Dockerfile can be improved to allow more caching of the intermediate layers.
The docker examples in the README.md files can be improved adding information on how to extract the result file and have the application generating coloured output.

[2019-07-13 22:20] hoadlck commented on #235
There are so many sites that are unreliable, it is pretty uncommon to be able to run the tests without one or the other failing to respond and causing the tests to fail.

Unfortunately, I do not have the bandwidth to think thru how to implement how I think the tests should work.  But, it seems that there are two broad areas:
1. Detection Algorithms
Ensure that the nuts and bolts of the detection l

[2019-07-14 04:40] cclauss commented on #235
Thanks for merging #234 because I believe that now unittest provides the Passed, Failed, Error Connecting report that you request above.  However, now it runs __unittest || true__ which means that __Travis remains green__ even if one or more unittests fail.  You have your report but the unittest command never fails the Travis job.  Best of Both Worlds (BoBW).

[2019-07-14 04:46] cclauss commented on #235
If we can figure out different tests for 1. and 2. above then we could create two parallel Travis CI runs.  One that tests sites for 1. but runs in __allow_failures__ mode and the second that tests sites for 2. that will fail the Travis job if any of its unittests fails.  I will give the test some thought...

[2019-07-14 06:16] sdushantha commented on #219
@monraPH
Before you run Sherlock, you have to install the all the modules that are required by running this:
[code]

[2019-07-14 06:18] sdushantha commented on #231
@us Since this issue is about the website, please make an issue on that repo.
https://github.com/sherlock-project/sherlock-project.github.io

[2019-07-14 06:25] sdushantha commented on #224
@cont3nted Have you tried installing all the packages from the `requirements.txt`?
Just run this:
[code]

[2019-07-14 06:26] sdushantha commented on #236
@bialybudyn
Did you install all the modules before running the Sherlock?
You can install all the modules by running this:
[code]

[2019-07-14 08:38] bialybudyn commented on #236
Thank You for reply,
yes I install all requirements.

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python2.7/dist-packages (from -r requirements.txt (line 1)) (4.6.0)
Requirement already satisfied: bs4 in /usr/local/lib/python2.7/dist-packages (from -r requirements.txt (line 2)) (0.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python2.7/dist-packages (from -r req

[2019-07-14 08:59] owlsoul0 opened #243 "ModuleNotFoundError"
Running on termux and I cannot find what is wrong... It just says:
[code]

[2019-07-14 09:09] jasonlin1222 commented on #243
Did you install the required module in requirements.txt?
[requirements.txt](https://github.com/sherlock-project/sherlock/files/3389658/requirements.txt)

[2019-07-14 11:51] satznova commented on #223
Hi @hoadlck , I fixed this issue and created a PR #244

[2019-07-14 13:13] nitroxnoob opened #246 "Modulenotfound"
Traceback (most recent call last):
  File "sherlock.py", line 24, in <module>
    from requests_futures.sessions import FuturesSession
ModuleNotFoundError: No module named 'requests_futures'

[2019-07-14 13:13] nitroxnoob commented on #246
Please help me out!

[2019-07-14 13:14] satznova commented on #232
Hi, I have raised a PR #245 for the enhancement of this issue.

I have preferred Gitlab API for this issue because I faced a problem while working on this.

My Gitlab username is: satznova

If I try https://gitlab.com/users/Satznova , I got below response:
**HTTP status code:** 302
**Response Text:**
<html><body>You are being <a href="https://gitlab.com/satznova">redirected</a>.</body></html>

The

[2019-07-14 13:52] cont3nted commented on #224
I tried that already, it worked on ubuntu but it does not work on Kali

[2019-07-14 15:40] #231 closed

[2019-07-14 15:56] sdushantha commented on #236
I am a little confused because in the log above, it says `python2.7` but for me, it says `python3.7`. You have to use `pip3` so that the modules get installed for python3.

Try this instead:
[code]

[2019-07-14 15:58] sdushantha commented on #224
@cont3nted Could you please show me the output of:
[code]

[2019-07-14 16:03] sdushantha commented on #243
@owlsoul0
You need to install all the modules needed for Sherlock.
Just run:
[code]

[2019-07-14 16:32] sdushantha commented on #246
@nitroxnoob What OS are you running?

[2019-07-14 16:37] satznova opened #247 "Adding urlProbe entry to the wiki"
In [Adding Sites To Sherlock](https://github.com/sherlock-project/sherlock/wiki/Adding-Sites-To-Sherlock), urlProbe entry is missing to the site description of the data.json file.

[2019-07-14 16:57] sdushantha commented on #247
Thank you, I have fixed that now :)

[2019-07-14 16:57] #247 closed

[2019-07-14 18:15] bialybudyn commented on #236
I tried
 `python3 -m pip3 install -r requirements.txt`
I got this:
`root@kali:~/sherlock# python3 -m pip3 install -r requirements.txt
/usr/bin/python3: No module named pip3` - so it refers to python 3.7
I also tried:
`root@kali:~/sherlock# pip3 install -r requirements.txt --isolated`
and I had:
`.../usr/local/lib/python2.7/dist-packages...` still in lib/python 2.7/.

[2019-07-14 18:20] Lionde002 commented on #246
parrot security os

[2019-07-14 18:21] Lionde002 commented on #246
Traceback (most recent call last):
File "sherlock.py", line 24, in
from requests_futures.sessions import FuturesSession
ModuleNotFoundError: No module named 'requests_futures'

[2019-07-14 18:47] sdushantha commented on #236
@bialybudyn Sorry, my bad.
This is the command:
[code]

[2019-07-14 18:48] sdushantha commented on #246
This is really strange because it works on Manjaro Linux

[2019-07-14 19:18] bialybudyn commented on #236
i think it work's :)
Thank You!

![Zrzut ekranu z 2019-07-14 21-14-42](https://user-images.githubusercontent.com/36791311/61188236-6b6d6e00-a67c-11e9-81f3-da0cdd443b4a.png)

[2019-07-14 19:18] #236 closed

[2019-07-14 19:21] sdushantha commented on #243
or try
[code]

because that worked for someone in [another issue](https://github.com/sherlock-project/sherlock/issues/236#issuecomment-511228238)

[2019-07-14 22:33] tdh8316 commented on #232
Closed according to (#245)

[2019-07-14 22:33] #232 closed

[2019-07-14 23:51] hoadlck commented on #235
Well, I actually do have the tests split out so that there are tests for the two different situations.

I made PR #248 which does Part 1.  I changed the CI to only do
[code]
If you wanted to do all of the coverage tests, then the command would be
[code]
I am not sure how you would run the tests in parallel.

What would really be ideal would be to have the last tested status for each site in the [s

[2019-07-14 23:53] hoadlck commented on #235
@TheYahya Are you able to turn the CI back on?  It was working at one time.  The comment at the beginning of this issue has the link to log into.

[2019-07-14 23:54] #223 closed

[2019-07-15 03:08] hoadlck commented on #235
The CI does seem to be turned on. I am not seeing e-mails from the process, but I do see the status updating.

[2019-07-15 03:11] hoadlck commented on #246
Can you see what version of the various modules you are running?  I am running 2.21.0 of "Python HTTP for Humans"

Perhaps you have an old enough version that Sherlock is not compatible with it.

[2019-07-15 03:16] hoadlck commented on #155
I am going to close this issue. It will still be available in the archive if we ever get above the 500 limit...

Thanks.

[2019-07-15 03:16] #155 closed

[2019-07-15 03:29] cclauss commented on #235
Not turned on at https://travis-ci.com/sherlock-project or https://travis-ci.org/sherlock-project

[2019-07-15 03:38] hoadlck commented on #235
The status in the readme.md is pointing at https://travis-ci.com/TheYahya/sherlock/.  So, it looks like @TheYahya has this pointed to the earlier place.  @TheYahya can you turn it on and update the readme to point to the new location?

[2019-07-15 03:43] AnkS4 opened #250 "[Errno 13] Permission denied"
[code]

[2019-07-15 04:19] AnkS4 commented on #250
Installed for `--user`.

[2019-07-15 04:19] #250 closed

[2019-07-15 05:45] sdushantha commented on #221
@TheYahya I think this something for you because it's your Docker Hub account.

[2019-07-15 06:36] Lionde002 commented on #246
Soo what can i do for it...?..(i'm working python 3.6.7) on parrot security
linux

On 08:41, Mon, Jul 15, 2019 Christopher Kent Hoadley <
notifications@github.com wrote:

[2019-07-15 06:44] sdushantha commented on #246
@Lionde002 Could you please tell us what version of requests you have installed?

[2019-07-15 11:50] pete7628 opened #252 "KeyError"
I got a KeyError :

Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\Programs\Python\Python37\sherlock-master\she
rlock.py", line 615, in <module>
    main()
  File "C:\Users\user\AppData\Local\Programs\Python\Python37\sherlock-master\she
rlock.py", line 606, in main
    **results[site]['url_user'],**
KeyError: 'url_user'

when executing

sherlock.py -fo MyResults --csv riyov

[2019-07-15 12:53] Lionde002 commented on #246
Ohh i use parrot linux..is it work great on kali linux..?

On 12:14, Mon, Jul 15, 2019 Siddharth Dushantha <notifications@github.com
wrote:

[2019-07-15 14:03] Vrikquek commented on #212
hi, I'm still having problems running this command. it's not recognising the clone command it's saying syntax error.

![Capture](https://user-images.githubusercontent.com/52760319/61222009-acfc2880-a711-11e9-96f1-0cdaaf0204c5.JPG)

[2019-07-15 14:37] hoadlck commented on #212
You are trying to clone the repository inside of the Python interpreter.  Git is not built into Python.  You need to open up a regular shell.

Do you have Git installed on your computer?

[2019-07-15 16:02] Vrikquek commented on #212
@hoadlck I have Git installed on my computer and that command ran through nicely on the Git shell. Thank you. I have another problem with the third command it's saying the command is not found.

![Capture1](https://user-images.githubusercontent.com/52760319/61230644-55b28400-a722-11e9-9614-18b4a330404c.JPG)

[2019-07-15 16:23] hoadlck commented on #212
I think that you are copying part of the prompt text from an example.  The text that you should type in is
```pip3 install -r requirements.txt```

[2019-07-15 16:51] Vrikquek commented on #212
@hoadlck It seems not to recognise the command it's saying the command is not found. What am I doing wrong?

![Capture2](https://user-images.githubusercontent.com/52760319/61233695-0b80d100-a729-11e9-8e9b-3736cb8c5b82.JPG)

[2019-07-15 18:21] hoadlck commented on #212
This has to do with your install of Python. It may be that your PATH is not setup properly.

It sounds like some people have had issues with pip not being installed by default.  Look at this
[Installing PIP](https://stackoverflow.com/questions/43304612/how-to-install-pip-on-python-3-6/47123768) entry on StackOverflow.

If this is just a PATH issue, look in the "Scripts" directory where you have Py

[2019-07-16 00:20] aarondavid545 opened #253 "syntax error on mac os mojave"
I Have tried multiple versions of python and every time i'm getting the same error message.
what do thing i'm doing wrong?
<img width="624" alt="Screen Shot 2019-07-15 at 3 15 47 PM" src="https://user-images.githubusercontent.com/52803315/61257180-e6e32400-a73d-11e9-8354-68c63d36c58e.png">
<img width="624" alt="Screen Shot 2019-07-15 at 3 15 47 PM" src="https://user-images.githubusercontent.com/52

[2019-07-16 00:40] hoadlck commented on #253
The Git command cannot be executed in the Python interpreter.  Do you have Git installed? Run the git commands in a command window.

[2019-07-16 00:41] hoadlck commented on #222
Looks like this was just a missing option on the command line. So, I am closing the issue.

[2019-07-16 00:41] #222 closed

[2019-07-16 06:44] sdushantha commented on #253
@aarondavid545
Please watch this video, this will help you :)
https://streamable.com/6jdm2

[2019-07-16 11:37] hoadlck commented on #252
This problem happens during the write to the CSV.  There are various results that are gathered during the query for the existence of a given site, and they are always expected to exist in the results dictionary.  However, if a given user name has an illegal format for a given site, then the query is not even attempted.  Which leaves some keys in the dictionary undefined.

The solution is to define

[2019-07-16 11:39] hoadlck commented on #252
Thanks for finding the bug!

We need to figure out how to test these other options on the command line.

[2019-07-16 11:40] #252 closed

[2019-07-16 12:51] luger19 commented on #243
I have exactly the same problem on a Raspberry Pi 3B+ with Python 3.7.0 installed.
`python3 -m pip install -r requirements.txt` did'nt work for me. `pip3 install -r requirements.txt` installed the requirements but the error `ModuleNotFoundError: No module named 'requests'` is still there. So what should we do? Is it possible to install the modules manually?

[2019-07-16 13:45] sdushantha commented on #243
@owlsoul0 @luger19
The problem might be that you have a version of `requests` which is not compatible with Sherlock.
We might need to specify the version in the `requirements.txt`.

For now, try this:
[code]

[2019-07-16 15:10] Cookizza commented on #253
I am having this too:

     ==> python sherlock.py testuser123
  File "sherlock.py", line 78
    Fore.GREEN + f"] {title}" +
                            ^
SyntaxError: invalid syntax

[2019-07-16 16:58] sdushantha commented on #253
@Cookizza,your syntax error is different from @aarondavid545.
The syntax error in this issue is because the user ran the `git` command in the interpreter and not in the command line.

[2019-07-16 21:30] luger19 commented on #243
I figured it out: `sudo pip install requests --upgrade` worked. I did this with some other modules too (colorama, requests_future and torrequest) and now everything works fine!

[2019-07-17 00:07] gmason96 opened #257 "trouble installing requirements"
stops at line 10 help? mac os

![Screen Shot 2019-07-17 at 1 06 26 AM](https://user-images.githubusercontent.com/51420548/61337924-39e8d400-a82f-11e9-9383-3dc8e99caebf.png)

[2019-07-17 02:12] hoadlck commented on #257
You need to be using Python 3.6 or later.  Your screenshot shows you are using 2.7.

[2019-07-17 02:49] tdh8316 opened #258 "Mixcloud always returns statusCode 200 and does not contain errorMsg."
Hi, I ran sherlock with this command and the result is:
[code]

Sherlock found the user `hey_sherlock_xyz` on Mixcloud but [mixcloud.com/hey_sherlock_xyz](https://www.mixcloud.com/hey_sherlock_xyz) does not exist.

And Mixcloud always returns code 200. Besides, does not contain errorMsg.
[code]

Therefore, Mixcloud is always showing false positive!

[2019-07-17 03:00] #253 closed

[2019-07-17 03:40] hoadlck commented on #258
Yeah, I am seeing the same thing.  It appears that they have changed their website.  Before, they rendered their "Page Not Found" error message in HTML.  Now, they must be creating that text with javascript.

I think that we are going to have to remove this site.

[2019-07-17 04:15] johnmillstead commented on #246
I am having the same problem. MacOS Mojave, Python 3.7.3

[2019-07-17 04:36] johnmillstead commented on #246
This fixed it...

python3 -m pip install -r requirements.txt
 instead of pip install -r requirements.txt

[2019-07-17 06:52] sdushantha commented on #243
@luger19 Just a tip, never install python modules with `sudo`.
Here is why, https://askubuntu.com/a/802594

Also, I have broken my python before because I used sudo.

[2019-07-17 06:52] #243 closed

[2019-07-17 07:05] sdushantha commented on #258
Agreed.

[2019-07-17 07:08] sdushantha commented on #238
closing this because it has been fixed

[2019-07-17 07:08] #238 closed

[2019-07-17 07:10] sdushantha commented on #257
@hoadlck We really need to add some code like you mentioned in #212, to check for the python version they are using to run Sherlock.

[2019-07-17 07:14] sdushantha commented on #200
Closing this because it is very unlikely that SnapChat can be implemented.

[2019-07-17 07:14] #200 closed

[2019-07-17 07:15] #2 closed

[2019-07-17 07:19] sdushantha commented on #56
Ebay and Dailymotion are working now :)

[2019-07-17 07:19] #56 closed

[2019-07-17 07:24] sdushantha commented on #141
This feature has been added :+1:

[2019-07-17 07:24] #141 closed

[2019-07-17 07:27] sdushantha commented on #175
Since this got fixed in #201, I am closing this :)

[2019-07-17 07:27] #175 closed

[2019-07-17 08:41] irazasyed commented on #97
How about merging the two? Just the databases.

[2019-07-17 08:55] irazasyed opened #262 "Facebook Illegal Username Issue"
Sherlock seems to be throwing this `Illegal Username Format For This Site!` error for a bunch of valid usernames that are already claimed.

Here are some usernames that are valid and owned yet it fails:
- [cnn](https://www.facebook.com/cnn/)
- [bbc](https://www.facebook.com/bbc/)
- [id.co](https://www.facebook.com/id.co/)
- [MINI.uk](https://www.facebook.com/MINI.uk/)
- [lifo.mag](https://www.face

[2019-07-17 11:48] hoadlck commented on #258
It turns out that they have an unauthenticated API available. So, I converted over  to that.

Thanks for finding the bug!

[2019-07-17 11:48] #258 closed

[2019-07-17 11:52] alessandrolio commented on #230
i have the same problem. im running a clean linux installation with the latest drivers and updates. Aprox 3/4 of those sites gave me back error connecting

[2019-07-17 12:04] hoadlck commented on #230
I wonder if you are at an IP address that has been banned?  I have had problems like this on my own server when sending e-mails: some e-mail providers have blocked a range of IP addresses because they have been used by spammers.

Could you try running Sherlock thru a VPN?  The ```--proxy``` option will let you do that from the command line.

[2019-07-17 14:39] TheYahya commented on #221
Updated

[2019-07-17 14:39] #221 closed

[2019-07-17 15:41] sdushantha opened #264 "New logo wanted!"
Hey guys!

We have decided to change the logo for Sherlock and we would like to see some
ideas from the community. So get creative and come up with something awesome!

## Where will the icon be used?

The icon will be used:

- in the README
- on the [website](http://sherlock-project.github.io)
- and profile picture for the Sherlock Project

## Where do you submit the icon?
You will submit your ico

[2019-07-17 20:02] irazasyed opened #267 "Handling Cloudflare based sites"
It looks like Sherlock is unable to handle Cloudflare based sites?

Ex: [Steemit](https://steemit.com/) - They use Cloudflare and CF has DDoS protection due to which it automatically does a brower check and sets a cookie which is then used with all subsequent requests.

I think maybe Sherlock should start supporting `headers` option which would let us set the mandatory HTTP Headers like `Cookie` o

[2019-07-18 09:02] duncanxxx commented on #222
Hi, I'm trying to install Sherlock on Android using termux but I get error when I install
pip3 install -r requirements.txt

" error: command 'arm-linux-androideabi-clang' failed with exit status 1
    ----------------------------------------
ERROR: Command "/data/data/com.termux/files/usr/bin/python -u -c 'import setuptools, tokenize;__file__='"'"'/data/data/com.termux/files/usr/tmp/pip-install-h6

[2019-07-18 11:55] DarkRaider29 opened #269 "python3 sherlock.py user123 doesnot output any result"
![Capture](https://user-images.githubusercontent.com/52749660/61455370-fc3d9580-a96b-11e9-8c68-42087ad5719f.PNG)

i have done the installation right but i cant get it working

[2019-07-18 16:47] owlsoul0 commented on #243
I tried all of this (thanks for replying), but nothing worked. I think there's something wrong with my termux. I installed sherlock on my Windows and it works properly. Although I wanted to have it on my phone, I am happy with it working.

[2019-07-18 16:57] sdushantha commented on #269
Hmm... that is very strange because I just tried it and it works. Might something to do with Windows.
@hoadlck, I think you use Windows, do you want to take a look at this?

[2019-07-18 23:56] tdh8316 commented on #269
I'm using Windows 10, but Sherlock works for me.
![2019-07-19-08-53-54](https://user-images.githubusercontent.com/20598077/61499584-c5668e80-aa02-11e9-8fae-ef08211e2044.png)

I ran Sherlock with this command:
[code]

[2019-07-19 09:57] mirzazulfan commented on #264
Hi @sdushantha what do you think about this?
![sherlock](https://user-images.githubusercontent.com/36124339/61527283-42ffbe00-aa46-11e9-9733-a6235330d152.png)

[2019-07-19 10:12] TheVGAMER commented on #224
pip 19.0.3

[2019-07-19 14:10] DanBrown47 commented on #230
@hoadlck I ran sherlock through a VPN still the problem persists

[2019-07-20 20:19] hoadlck commented on #269
The problem is with the Python install itself.  Using ```python3``` does not work on Windows (unless someone went thru the effort to specifically setup an alias like that).

You need to figure out your install first.  If you know where your Python is installed, you can type in the absolute path to it as well.  The ```where``` command will tell you where a program is installed (assuming that it is

[2019-07-20 21:03] hoadlck commented on #230
Perhaps you have old versions of the requirements, and they do not actually work with Sherlock.

First, run ```pip freeze``` to get a list of all the Python modules that you have installed.  Note that there may be Python modules in here that Sherlock does not need: this lists everything installed.  Next, isolate out the modules that Sherlock needs.  That gives you the list of versions you are usin

[2019-07-21 02:27] tdh8316 opened #273 "Sherlock binary release?"
Sherlock has no binary release. And you know, there are many issues related to Python version or requirements.

So I think it would be nice that Sherlock provides a binary release.
There are tools such as `Pyinstaller`, `py2exe` or `py2app`.

[2019-07-21 06:52] sdushantha commented on #273
That would be nice, but we first have to refactor the code so that it can be uploaded to the PyPi. Then we can of course make a binary release.

For people who uses Arch based distributions, we can also upload Sherlock to the AUR (Arch User Repository) so that people can install it easily. We can also create a homebrew formula for MacOS users.

But first, like I said, we have to refactor the code

[2019-07-21 21:51] jaredgoodman03 opened #274 "Wiki for contributing has broken example"
https://github.com/sherlock-project/sherlock/wiki/Adding-Sites-To-Sherlock shows a buzzfeed link to taken and not-taken usernames, but someone took the not-taken username so it should be updated.

[2019-07-21 22:20] hoadlck commented on #274
The link for Canva was taken as well. I fixed them both.

I don't really understand how this is happening. Is there some automated process that just scrapes usernames?  Or, some lurker at Sherlock that it just being a pain?

Ah, well.  Thanks for the notice.

[2019-07-21 22:20] #274 closed

[2019-07-23 10:17] sdushantha opened #283 "Have Sherlock fetch data.json from web"
Since we keep on updating `data.json`, I personally think it would be better if we make a separate repo with the data and then tell Sherlock to get the raw JSON from the that repo. This would let the user have the most updated version of the `data.json`.

One disadvantage of this is that Sherlock would be a little slower because it has to send a request to fetch the JSON data.

Also, this would al

[2019-07-23 11:35] irazasyed commented on #283
+1 and it'll help other implementations as well.

As far as fetching the file is concerned, you should consider caching it for a brief period of time (hourly?) with an option to clear cache/force refresh. This should resolve the additional request issue which isn't required as the data doesn't change so often. Even once a day is more than enough but hourly will be great. I'm already doing this wit

[2019-07-24 19:00] TheYahya commented on #283
It's great @sdushantha, we should have a separate repo and deploy it with github pages for now.

[2019-07-24 19:56] sdushantha commented on #283
@TheYahya I have created the repo and added the JSON data. Could you deploy it with GitHub pages?

[2019-07-25 09:36] TheYahya commented on #283
Now it's available on [https://sherlock-project.github.io/sherlock-data/data.json](https://sherlock-project.github.io/sherlock-data/data.json)

[2019-07-25 09:36] #283 closed

[2019-07-26 11:59] #125 closed

[2019-07-26 13:07] ArtMason opened #288 "Failed with Error Code 1"
Good Day

After I enter the required command I get the following error.
[code]

After which python3 sherlock.py -h gives me the following.
[code]
Any help is appreciated!
Thank you!

[2019-07-27 00:09] waghcwb opened #289 "Find username on Linkedin"
It will be nice if sherlock can find usernames on Linkedin.

[2019-07-28 16:59] joedouglas5305 opened #290 "An error"
My computer tells me 'pip3' is not recognized as an internal or external command,
operable program or batch file. if someone could help me out hat would be great

[2019-07-29 00:07] tdh8316 commented on #290
Use `python -m pip3`

[2019-07-29 17:00] F3lixD opened #291 "Install tor in the sistem path?"
[code]
-------------------------------------

someone can explain how fix that?

[2019-07-30 10:11] sdushantha commented on #289
You can make a PR if you want :)

[2019-07-30 19:01] iocohen commented on #291
i have it also!

[2019-07-30 19:05] iocohen commented on #291
I fiexed the issue by doing bash install_requirements.sh -->this fixed the issue. previously instaled it with python3 -r install requirements.txt Now is working

[2019-07-31 08:30] tdh8316 opened #292 "Variable `proxy` defined but not used."
https://github.com/sherlock-project/sherlock/blob/4f3f15cfd084c2a7dc026f206f9e4d20e1931307/sherlock.py#L565-L571

I think variable `proxy` is declared for use as an argument of function `sherlock`. But it is not used.
I'm not sure if this is the intended action.

And I'm making a PR to improve code quality and will include your suggestion to that PR.

[2019-07-31 13:39] TheYahya commented on #267
hi @irazasyed,
You have been so helpful in sherlock, would you like to be one of Sherlock maintainers?! I could give you the access and assign some issues/pull request s to you.
I would be appreciated :smiley:

[2019-07-31 16:32] irazasyed commented on #267
Hey @TheYahya,

I appreciate the offer to become one of Sherlock's maintainer but unfortunately, I don't think I could add much value as my expertise are mostly in PHP and other relevant languages and don't really have much experience with Python.

That said, I can be more than happy to take care of general issues/reviewing PRs and testing them when time permits. And should it interests you, I cou

[2019-08-03 05:30] TheYahya commented on #267
It's cool @irazasyed,
I'm looking forward to your the PHP implementation, I can create a repo for it under @sherlock-project, just tell me about it.
And for the maintainer part, It would be great if you let me assign you to some pull/issues some times to review and ... .
tanx :+1:

[2019-08-03 09:19] NeolithEra opened #295 "Potential dependency conflicts between sherlock and chardet, idna and urllib3"
Hi, _**sherlock**_ directly and transitively introduced multiple versions of chardet, idna and urllib3.

As shown in the following full dependency graph of  **_sherlock_**, sherlock directly requires _**chardet**_ (the latest version), _**idna**_ (the latest version) and _**urllib3**_ (the latest version), while the installed version of **_requests_**(2.22.0) requires  _**chardet>=3.0.2,<3.1.0**_,

[2019-08-03 09:20] NeolithEra commented on #295
### Solution
1.	Fix your direct dependencies to be **_chardet>=3.0.2,<3.1.0_**, **_idna>=2.5,<2.9_**,  **_urllib3>=1.21.1,<1.26_** and **_requests==2.22.0_**, to remove this conflict.

 I have checked this revision will not affect your downstream projects now.

2.	Remove your direct dependency _**chardet, urllib3 and idna **_, and use _**chardet**_ transitively introduced by request.

@   Please l

[2019-08-03 18:12] irazasyed commented on #267
@TheYahya Sounds good. I can join in that case :)

I'll let you know when I'm ready to make the PHP implementation public so you could create a new repo then.

[2019-08-03 19:52] TheYahya commented on #267
Awesome 👍

[2019-08-03 20:00] T2brozz opened #296 "Username with Space"
How I can search a Username with a Space

[2019-08-03 23:42] hoadlck commented on #296
You just need to quote the user name on the command line.  Here is an example using a Git Bash shell on Windows 10:
[code]

Keep in mind that there are probably many sites that do not allow spaces in the user name.  Sherlock does not have many of the validity checks configured, so a name that may claim to be available might actually  be illegal.

[2019-08-04 14:02] sdushantha commented on #295
@NeolithEra
A PR would be appreciated :)

[2019-08-05 01:54] tdh8316 commented on #292
[code]
@hoadlck @sdushantha
May I replace the `args.proxy` argument of the Sherlock function with `proxy`?

[2019-08-05 09:00] bruhhehe opened #297 "how are you meant to install this on windows?"
how do you install this programme onto windows 10? i tried to google it but it only comes up with lynux and khali and no windows. i dont know if im missing something in the instructions or the readme files but if i am please help thank

[2019-08-05 09:21] #297 closed

[2019-08-05 15:16] MariusMez commented on #230
I Had same problem on first use and solved it using these command : `pip3 install -U -r requirements.txt` (I recommend to use a conda environment before upgrading all required modules)

[2019-08-07 19:01] waghcwb commented on #289
@sdushantha,

Okay, I'll make a PR soon as I can. I'm little bit busy at work, and I need to understand how can I add a new site to sherlock.

[2019-08-07 20:51] DecryptingElectrons opened #299 "username_unclaimed can be used to confuse sherlock"
While some of the username_unclaimed entries aren't "noonewouldeverusethis7", most of them are.

It seems it would be possible for that username to exist intentionally or otherwise, causing the program to fail to find usernames for that site.

A simple solution could be a program argument that will replace all username_unclaimed entries with a high entropy string.

[2019-08-08 17:04] originalmrkoww commented on #262
I'm having similar issues with names I know are correct.

[2019-08-08 18:54] T2brozz commented on #296
Thanks

[2019-08-08 18:54] #296 closed

[2019-08-09 03:02] TechGirl007 opened #300 "File "sherlock.py", line21, in <module>"
Hi.  Having problems with the following feedback basic search paramater:

[code]
[code]

Can anyone help me to solve this?  Thanks.

[2019-08-09 06:20] sdushantha commented on #300
Hey @TechGirl007

Have you installed all the required modules by running this command?
[code]

[2019-08-09 09:59] #291 closed

[2019-08-09 10:04] sdushantha commented on #288
@ArtMason
You need to install `setuptools` and `colorama` like this:

[2019-08-09 10:05] sdushantha commented on #246
@nitroxnoob Were you able to fix the problem you were having?

[2019-08-09 10:10] Berghopper opened #301 "Error Connecting for most websites (Failed to establish a new connection: [Errno -2] Name or service not known' in urllib3"
I believe this might be a partial duplicate of #230, however, because of lack of information and error output I made my own issue just to be safe.

With the latest python3.7.3 and the correct requirements I constantly run into the issue of websites not connecting.
Specifically this happens after trying to connect to Bandcamp, subsequently, all other urls following bandcamp fail as well.

I printed

[2019-08-09 10:20] Berghopper commented on #301
Small update: adding and removing bandcamp or other urls from `data.json` does not work and urllib consistently fails after around 10-15 websites.
Also, adding a time.sleep does not work either (tried this because of possibly too many requests at once?)

[2019-08-09 16:32] irazasyed commented on #165
@hoadlck You don't have to generate multiple usernames for every site. You can generate one random string and reuse it for every site. It won't add up in terms of test times if you just reuse it just like you're already doing for all the sites. Hardly a few have different unclaimed usernames but otherwise, it's mostly the same.

Further, you can explore Faker package to generate a username + appen

[2019-08-10 06:11] trungdiep commented on #212
![image](https://user-images.githubusercontent.com/36076337/62818334-5ea34380-bb70-11e9-8b72-b3fb13251601.png)

[2019-08-10 13:06] FaiqIftikhar commented on #264
Hope you like these... One is transparent I like that more.

![logo](https://user-images.githubusercontent.com/33238910/62822194-8064f080-bb99-11e9-93bb-0a186423d708.png)
![logo_transparent](https://user-images.githubusercontent.com/33238910/62822195-80fd8700-bb99-11e9-9c3e-4382dd80a0e1.png)

[2019-08-11 01:06] hoadlck commented on #299
Unfortunately, several sites that did not have noonewouldeverusethis7 now do have it.  Which is ironic.

For the tests to work, we have to really have a name that we are positive that is not used.  A randomly generated name would not do that.

However, it does make me wonder if we were to use a bunch of randomly generated names. Statistically, it would be likely that many of them would be unknown.

[2019-08-11 01:25] hoadlck commented on #264
This is one of the best pictures that I have ever drew.  No seriously.  I did not say that it was any good...I just said that it was one of my best.

Hopefully my attempt will motivate people to submit their own logos. :)
![logo](https://user-images.githubusercontent.com/1666888/62828454-4d782800-bbac-11e9-8b87-25f62d87b8e0.png)

The picture shows Sherlock with his trademark magnifying glass in on

[2019-08-11 05:13] TheYahya commented on #264
Awesome @hoadlck :smile:

[2019-08-12 08:24] TechGirl007 commented on #300
Hi @sdushantha
Yes.  :(  Did it twice - so not sure if that is the problem!  Says all installed!

[2019-08-12 20:50] Beall619 commented on #299
So it seems like a solution is, an additional program that is specifically designed for testing & building a good user_unclaimed for each site.

*would require a definition for username symbols requirements per site*

The program appropriately would:

-hit each site with a random 'symbol valid' username until it doesn't match what would appear for username_claimed

-save a new data.json with each

[2019-08-13 06:14] VShaikh commented on #257
sudo apt-get install python3-distutils
sudo python3 get-pip.py
python3 -m pip install -r requirements.txt

[2019-08-14 12:08] Alexandros-Kordatzakis commented on #301
Same issue here. After the first ~15 sites, almost every other that follows has the message:
[-] **Error Connecting:** <source/website>
[-] **<source/website>:** Error!

[2019-08-14 12:11] Alexandros-Kordatzakis commented on #289
Hey @waghcwb !

I saw this issue and couldn't resist. Would you mind if I make that P.R. ? I have already a tested version ready for Linedin...

[2019-08-14 14:02] waghcwb commented on #289
@Alexandros-Kordatzakis

Of course you can do it. I'm still busy at work, I'll take a while to develop this. Feel free to open a PR :boom:

[2019-08-14 19:34] ghost opened #308 "Massive Issues"
Getting Errors Connecting to :
 Aptoide, Basecamp, Carbonmade, ColourLovers, Crevado, Itch.Io, Jimdo, Rajce.net, Webnode, Wix. As of today it is also crashing and causing complete system freezes on both systems I am utilizing it on, 1 is a Virtual Box Kali Linux 2.0 the other is a dedicated Kali Linux 2.0 system .

Another common problem is if you use say "First.Lastname" it will get results for s

[2019-08-18 21:21] allepicondor opened #310 "Error Line 628"
sherlock Username$ python3 sherlock.py user123
Traceback (most recent call last):
  File "sherlock.py", line 620, in <module>
    main()
  File "sherlock.py", line 374, in main
    f"{requests.__description__}:  {requests.__version__}\n" + \
AttributeError: module 'requests' has no attribute '__description__'
Computer:sherlock Username$

Im probably being an idiot and messed something up

[2019-08-21 08:40] dewjiguang opened #311 "question cant run sherlock"
![image](https://user-images.githubusercontent.com/41632105/63416612-541b6080-c432-11e9-96a0-8c32e0e3a13b.png)

[2019-08-21 08:42] dewjiguang commented on #311
when i run python3 sherklock.py username,i received this msg:
Traceback (most recent call last):
  File "sherlock.py", line 22, in <module>
    from colorama import Fore, Style, init
ModuleNotFoundError: No module named 'colorama'

[2019-08-21 08:46] dewjiguang commented on #300
i met the same problem with you, so,have you solve it ?

[2019-08-21 16:38] LameLemon commented on #311
Make sure you're using the latest version and have installed all the requirements before starting
[code]

[2019-08-21 16:54] LameLemon opened #312 "Alphabetise data.json"
Now I understand this it probably not critical but it would be nice if data.json were in alphabetical order. It makes finding the website you are looking for much easier in the output and just looks neater.

I could submit a PR with data.json in the correct order, it would be nice to include this as a requirement in the contributing guidelines for future PRs too.

Love the work done on this projec

[2019-08-23 03:32] Beall619 commented on #312
I could make a quick script for that. I'll post it here tomorrow.

[2019-08-23 03:33] Beall619 commented on #310
Compare your requests version to the current

[2019-08-23 18:36] TheophrastVH commented on #264
How about one of these two?
![Sherlocklogo](https://user-images.githubusercontent.com/40166408/63615432-5822bc00-c5b3-11e9-8628-4fc8795597b7.jpg)

or
![Sherlocklogo1](https://user-images.githubusercontent.com/40166408/63615446-5eb13380-c5b3-11e9-9e7c-78f09964fd0e.jpg)

[2019-08-24 17:24] pcshost commented on #264
Looks good.

[2019-08-24 18:04] sdushantha opened #313 "NEW MAINTAINERS WANTED!"
@TheYahya, @hoadlck, @irazasyed  and I are really busy and are not able to actively maintain this project by replying to issues and reviewing PRs frequently, so we would really appriciate it if we could get a few people to help us maintain this project 😃

The only thing we are asking is that you don't mess up the project 🙏

If you would like to become a maintainer, just contact @TheYahya via email

[2019-08-25 00:48] hoadlck commented on #312
After merging a new site, we are supposed to run the [site_list.py](https://github.com/sherlock-project/sherlock/blob/master/site_list.py) script.  This gets the ranking of the various sites, and also sorts the JSON.

So, the sorting is already covered.

[2019-08-25 00:48] #312 closed

[2019-08-25 01:00] hoadlck commented on #308
It does sounds like there is some issue with your environment.  Some sites do not respond if they don't like the IP address that you are coming from.

The error message with the "Illegal Username Format" is because some sites do not accept usernames with a "." in them.  If Sherlock said that there was no username like that (which would be true), it would still be misleading: no one could have a us

[2019-08-25 01:01] hoadlck commented on #310
@allepicondor are you still having problems?

[2019-08-25 03:40] TechGirl007 commented on #300
Hi @dewjiguang   Yup...still same problem. There is no module called requests.  I install the module into python but the installation seems to go to a file of python2.7 that came with Kali originally.  I have a few other ideas to install the module in python 3.7.  But at the moment...it I'm still getting the same reading even with the new request module that I installed.  Any help would be appreci

[2019-08-25 12:33] hoadlck commented on #300
You need to have the dependencies installed for Python 3.7.  If you are actually running the pip for Python 2.7, the dependencies will not change for Python 3.7.

Try typing the following:

[code]

Your results will be different, but it should show you the version of Python and where the main Python engine is installed.

[2019-08-25 12:37] hoadlck commented on #299
Yes, something like this would be nice, but it would never be able to be completely automatic.  There is just too much variation in site layout and usernames.

[2019-08-25 12:38] hoadlck commented on #290
Appears to be an installation issue, so I am closing this.

[2019-08-25 12:38] #290 closed

[2019-08-25 12:39] hoadlck commented on #288
This does appear to be a installation issue, so I am closing this now.

[2019-08-25 12:39] #288 closed

[2019-08-25 12:48] not-verified commented on #299
Wouldn't using random usernames of the format [a-z]{10} work on virtually all websites?

Even for websites with 100.000.000 users (all having a username [a-z]{10}), the chance of collision would be smaller than one to a million.

[2019-08-25 12:49] mpieters93 commented on #299
Wouldn't using random usernames of the format [a-z]{10} work on virtually all websites?

Even for websites with 100.000.000 users (all having a username [a-z]{10}), the chance of collision would be smaller than one to a million.

[2019-08-25 13:54] hoadlck commented on #299
The number of usernames available for a pure alphabetic username consisting of only the 26 letters of the alphabet, would be
[code]
One in 141 trillion.  So, yes, there would be plenty of usernames available.

The problem is that we would need to hit the site with quite a few of them to have some statistical confidence.  And that is not being a good internet citizen: throwing a bunch of hits at a

[2019-08-25 17:58] alexwennerberg opened #314 "Duolingo and Paypal seems to match every username"
Every username I've tried matches duolingo and PayPal, even ones that do not exist. Reproduce this by running Sherlock for any username and you'll always see Duolingo and Paypal accounts.

Using commit 6914c308a36df42929b31d0ee20cdb8dc53a1dfa

[2019-08-25 19:52] mpieters93 commented on #299
I might be mistaken, but I do not think we would need more than one request. The odds of accidentally hitting a username in use would be roughly  `1e14 / 1e8 = 1,000,000 `.

I think this is not worse than picking a random username to hardcode, as people will (unfortunately) inevitably register that one. The statistical confidence for the random method would be p <= 0.000001 for a false positive, w

[2019-08-25 23:14] hoadlck commented on #299
I am not sure if we are talking about the same thing.  Or, maybe I am not understanding what is being proposed.

The unclaimed username is only used for tests.  The test ensures that changes to the site response are detected, so that Sherlock will not issue a false positive.  It has no impact on the normal usage of Sherlock.

The current strategy is to curate a list of both used and unused usernam

[2019-08-25 23:30] hoadlck commented on #314
I fixed a problem on Paypal, but I do not see a problem on Duolingo.

Here is a check I ran:
[code]
What did you try?

[2019-08-25 23:33] alexwennerberg commented on #314
Looks like it only affects usernames with a length of 15 characters or less:
[code]

[2019-08-25 23:43] Rand66 commented on #314
On Aug 25, 2019 7:33 PM, "Alex Wennerberg" <notifications@github.com> wrote:

Looks like it only affects usernames with a length of 15 characters or less:

$ python -u sherlock.py --site Duolingo noonewouldever7

[*] Checking username noonewouldever7 on:
[+] Duolingo: https://www.duolingo.com/noonewouldever7

—
You are receiving this because you are subscribed to this thread.
Reply to this email d

[2019-08-26 07:08] LameLemon commented on #314
When checking only Paypal the it seems to work, but when checking all sites together it doesn't. The following username `wjewekjflkew` does not exist.

[code]

The username `blue` does exist and it detects that while checking for Paypal only
[code]

[2019-08-26 07:21] LameLemon commented on #262
It seems the regex validation was made with the Facebook guidelines in mind.

* Usernames can only contain alphanumeric characters (A–Z, 0–9) and periods ("."). They can't contain generic terms or extensions (.com, .net).
* Usernames must be at least 5 characters long.
* Periods (".") and capitalization can't be used to differentiate usernames. For example, johnsmith55, John.Smith55 and john.smith

[2019-08-27 06:39] Arsaamkhan commented on #300
Same problem here for me , I'm on UBUNTU 19.04 with python3.7
Error:
Traceback (most recent call last):
  File "sherlock.py", line 21, in <module>
    import requests
  File "/home/qphy/.local/lib/python3.7/site-packages/requests/__init__.py", line 43, in <module>
    import urllib3
ModuleNotFoundError: No module named 'urllib3'

[2019-08-27 18:12] Arsaamkhan commented on #300
@hoadlck the message in terminal is displayed as
Requirement already satisfied: urllib3 in /usr/lib/python3/dist-packages (1.24.1)

and i had installed all the packages that are mentioned in the requirements.txt
with the same command you mentioned above.
on which system have u tested sherlock  ?
after that i had tried sherlock in Termux (Android App) and it worked.

[2019-09-01 09:16] LameLemon commented on #262
Since the pull request has been merged, this issue is resolved.

[2019-09-01 23:28] shaddygarg opened #320 "Make an option for generation of Maltego Transform?"
This is a feature request. Maltego is a very powerful visualization tool and in my opinion, would be a very nice addition to this project which would make it more usable. I have developed Maltego transforms, for the project OWASP Nettacker and it gave us a very nice visualization for gathering information about servers. It would be so nice to have that kind of graph-like visualization for a person

[2019-09-05 11:59] hoadlck commented on #310
This looks like a case of not having the proper dependencies installed.  Since we have not heard anything back, I am closing the issue.

[2019-09-05 11:59] #310 closed

[2019-09-08 05:44] 7amod commented on #63
How can i use the virtualen environment?

[2019-09-08 15:06] hoadlck commented on #246
I am closing this out. It appears to be an installation issue.

[2019-09-08 15:06] #246 closed

[2019-09-09 17:48] photoemulator commented on #246
I know it's closed, but I had the same issue and the fix I found was to run the python script included in the download of the git, "install_packages.sh"

[2019-09-13 23:10] MinePro120 opened #323 "Program stucks after "Filmogs" check"
That's about it. After Filmogs is checked, the program halts.

[2019-09-14 09:48] MinePro120 commented on #323
Edit : sometimes it stops after Canva too.

[2019-09-14 21:43] #262 closed

[2019-09-15 12:10] hyunwoo8960 commented on #300
try running sherlock on Parrot os it worked for me

[2019-09-18 21:59] saadat99 commented on #246
Same issue on windows, python 3.7.3
[code]

[2019-09-19 06:25] mot09 commented on #320
[2019_08_17-18.zip](https://github.com/sherlock-project/sherlock/files/3629707/2019_08_17-18.zip)

[2019-09-19 06:26] mot09 commented on #320
![Screenshot_2019-08-17-07-48-57](https://user-images.githubusercontent.com/55524711/65218643-85f90480-da7c-11e9-8213-19e5e8e7e8cd.png)

[2019-09-19 12:41] AhmedSisy commented on #212
Also had the same issue i have python 3.7.2
using the format `python3 sherlock.py --help` instead of `python sherlock.py --help` fixed it for me

[2019-09-24 17:01] r4msolo opened #325 "False positive on Ebay, Duolingo, Tiktok and Trip Skyscanner"
The script shows false results on these sites: **Ebay**, **Duolingo**, **Tiktok** and **Trip Skyscanner**

[2019-09-25 14:51] rcaballerog commented on #325
Can you give us an example?

[2019-09-26 20:24] theLMGN opened #326 "Codepen False Negative/Trip False Positive"
![image](https://user-images.githubusercontent.com/12257112/65722187-a5f37e00-e0a3-11e9-9a69-676ab5c5da78.png)

![image](https://user-images.githubusercontent.com/12257112/65722337-fc60bc80-e0a3-11e9-95da-fc8ba98cbbeb.png)

[2019-09-29 16:06] hoadlck commented on #326
Sherlock is getting a HTTP 403 status returned from Codepen.  Yet, if I check from my own browser, I get a clean 200.  I tried changing Sherlock's user agent string, and that did not make any difference either.

Needs more research....

[2019-09-29 16:14] hoadlck commented on #325
What user names did you use?

Ebay, Duolingo, and Tiktok work fine with the test data.

Trip Skyscanner did have a problem.  It appears that the error response text changed.  I converted it to use the HTTP Status code method, and it looks to be working now. I will push a PR for that later on today....

[2019-09-29 16:27] hoadlck commented on #326
Just merged #328 to fix Trip.

[2019-09-29 20:38] hoadlck commented on #325
Trip was fixed with #328.

[2019-10-01 08:04] LameLemon commented on #326
Codepen does not seem to work without JavaScript, there's currently no way to emulate a browser through sherlock so it would not be possible to get usernames from here. I could not find any other way to get around it, maybe till be we find a solution Codepen should be taken off the list?

![codepen-js](https://user-images.githubusercontent.com/35942108/65944728-43dfa380-e42a-11e9-801f-1dbf4bd190c9

[2019-10-01 12:15] LameLemon commented on #325
Ebay, Duolingo and Tiktok worked for all the usernames I tried it against including my own accounts. There seems to be no issue there.

@r4msolo  can you provide some usernames that you tried out that failed?

[2019-10-01 12:40] LameLemon commented on #323
Are there any error messages, if so can you paste them here? Does it do this for other usernames?

[2019-10-01 12:41] MinePro120 commented on #323
No error messages. It just stops. No matter the username. I'm using kali 2019.3 with all the requirements installed and python is up to date.

[2019-10-02 07:34] theLMGN commented on #326
Even without JS, it responds with the correct status code

![image](https://user-images.githubusercontent.com/12257112/66025878-6daece00-e4ef-11e9-9ab5-be8381d583d7.png)

[2019-10-02 15:09] r4msolo commented on #325
it really works, but it's bringing false results, I tested it with my own nick `r4msolo` and the script show me a positive result, I don't have an ebay or duolingo account. But Trip and Tiktok were fixed in my new test!

[2019-10-02 16:50] LameLemon commented on #326
Interesting, just played around with it myself. It seems codepen.io returns status code 403 to Sherlock. I was able to get code 200 and code 404 for existing and non-existing usernames respectively in cURL. However any request with Sherlock, even with using the same headers, returns 403.

 Working cURL command, this only preforms a header request just like Sherlock.
[code]

[2019-10-02 17:19] LameLemon commented on #325
### Duolingo
For Duolingo, when checking in the browser `https://www.duolingo.com/r4msolo` initially loads and then immediately redirects to `https://www.duolingo.com/errors/404.html`. I have verified this with other usernames as well, It seems to do this for every non-existent username under 11 characters.

I have just checked their username requirements and it is only up to and including 10 char

[2019-10-05 22:44] FilippoDeAngelis commented on #326
I did some testing on my own, outside Sherlock. I tried making a pure get request, one with the same user agent Sherlock uses, and one using the exact same headers on the previous comment.
All returned a 403 response. I'm suspecting a problem in the requests library.

Posting my code for completeness:
[code]

[2019-10-06 15:38] hoadlck commented on #325
I added a check for valid Duolingo usernames.  And, updated the fail username in the tests.

But, they must have done some changes to their site.  For the "response_url" detection method, I would expect a 301 redirect.  But, the site now returns a 200 regardless of the existence of user.

[2019-10-08 05:39] legendaryvampire51 commented on #311
it worked man. thanks

[2019-10-10 12:24] #311 closed

[2019-10-19 02:31] IronVenom commented on #246
@saadat99 You can correct this error on windows by simply running this :
`pip install requests_futures`

[2019-10-19 04:37] saadat99 commented on #246
@IronVenom `request` and `request_features` are installed. When I type `py sherlock.py --help` program exits with error but when I type `python sherlock.py --help` it works fine. That's weird. I didn't know those are different

[2019-10-19 04:41] IronVenom commented on #246
Those are different. Does it work now after installing requests_futures?

[2019-10-19 05:14] saadat99 commented on #246
The packages were installed before through `requirements.txt`. It is working with `python` command.
The `py` command is causing the issue. It throws this error.
[code]
again the command is causing the issue. packages are installed

[2019-10-19 05:23] IronVenom commented on #246
Just install the packages that you don't have using pip. Don't run the package on a virtual environment and use the base of conda or python.

[2019-10-20 03:32] hoadlck commented on #314
I removed PayPal and Duolingo in #342.  If they are not working, then they should not be included.  I did add them in the list of bad sites, so we have them captured in the backlog.

[2019-10-20 16:08] hoadlck commented on #212
This issue appears to be an environmental issue rather than a problem with Sherlock itself.  It also has been hanging out for some time.  So, I am closing it out now to remove the clutter.

[2019-10-20 16:08] #212 closed

[2019-10-20 16:09] hoadlck commented on #300
This issue appears to be an environmental issue rather than a problem with Sherlock itself.  It also has been hanging out for some time.  So, I am closing it out now to remove the clutter.

[2019-10-20 16:09] #300 closed

[2019-10-20 16:10] hoadlck commented on #224
This issue appears to be an environmental issue rather than a problem with Sherlock itself.  It also has been hanging out for some time.  So, I am closing it out now to remove the clutter.

[2019-10-20 16:10] #224 closed

[2019-10-20 16:11] hoadlck commented on #269
This issue appears to be an environmental issue rather than a problem with Sherlock itself.  It also has been hanging out for some time.  So, I am closing it out now to remove the clutter.

[2019-10-20 16:11] #269 closed

[2019-10-20 16:11] hoadlck commented on #219
This issue appears to be an environmental issue rather than a problem with Sherlock itself.  It also has been hanging out for some time.  So, I am closing it out now to remove the clutter.

[2019-10-20 16:11] #219 closed

[2019-10-25 10:54] platonbjs opened #344 "KhanAcademy false positive"
![image](https://user-images.githubusercontent.com/48056193/67565775-84c79100-f726-11e9-94a2-c2d84d3a3474.png)
![image](https://user-images.githubusercontent.com/48056193/67565818-990b8e00-f726-11e9-863e-47bc7267633a.png)

Tested with several false usernames. Sherlock always found a user registered

I'm comparing the curl response and its seem identicals. I think the body of the response is builde

[2019-10-25 10:55] rcaballerog commented on #344
Tested with several false usernames. Sherlock always found a user registered

[2019-10-25 12:07] hoadlck commented on #344
They must have just changed their website.  It was working last weekend: I purged all of the sites with erroneous results.

It also looks like 500px has also changed.

It is going to take a deeper re-design of Sherlock to work with sites like this.  Until then, we will have to remove these sites from the list.

[2019-10-26 20:25] hoadlck commented on #344
I moved Kahn Academy to the removed sites list.  On closer look, 500px is working...it must have flaked out before.

Thanks for letting us know. :)

[2019-10-26 20:25] #344 closed

[2019-10-26 20:30] hoadlck commented on #326
The sites that are not working were removed in #342.

Yes, I think that in the end we will have to revamp Sherlock to behave more like a browser.  I have used Selenium with ChromeDriver to automate/test some things...Sherlock could do this too.  I am not sure how the support is on Linux. There is much to investigate before we go there.

[2019-10-26 20:30] #326 closed

[2019-10-26 20:31] hoadlck commented on #325
The sites that are not working were removed in #342.

[2019-10-26 20:31] #325 closed

[2019-10-26 20:32] hoadlck commented on #314
The sites that are not working were removed in #342.

[2019-10-26 20:32] #314 closed

[2019-10-26 20:39] hoadlck commented on #211
Looks like this issue can be closed now.  These intermittents are a pain.

[2019-10-26 20:39] #211 closed

[2019-10-26 20:42] hoadlck commented on #113
This has been removed from Sherlock for some time.  I have it recorded in data_bad_site.json, so we can revisit it in the future.

[2019-10-26 20:42] #113 closed

[2019-10-27 00:33] hoadlck commented on #257
Closing out this issue as it is a user environment problem...

[2019-10-27 00:33] #257 closed

[2019-10-28 07:16] platonbjs commented on #344
Thank you guys

[2019-11-07 05:18] YourManz opened #347 "Lxml"
Not sure if this is a script problem, but when I use the python3 command, it does it’s thing then says “can’t  roll back lxml, was not uninstalled.”

[2019-11-07 11:04] LameLemon commented on #347
Can you try to update lxml via pip?
[code]

[2019-11-07 12:28] hoadlck commented on #347
This is an issue with your environment, not with Sherlock itself.

I did not see many hits for this error message on Google, but it appears to be an issue with the install of lxml.  [One](https://github.com/netbox-community/netbox/issues/864) person that had this problem ended up upgrading pip and setuptools, and then updated the requirements again.

I would try uninstalling lxml and make sure tha

[2019-11-08 21:58] Krishnazy commented on #243
python3 sherlock.py
Traceback (most recent call last):                           File "sherlock.py", line 24, in <module>
    from requests_futures.sessions import FuturesSession   ModuleNotFoundError: No module named 'requests_futures'

[2019-11-08 21:58] Krishnazy opened #349 "python3 sherlock.py"
python3 sherlock.py
Traceback (most recent call last):                           File "sherlock.py", line 24, in <module>
    from requests_futures.sessions import FuturesSession   ModuleNotFoundError: No module named 'requests_futures'

_Originally posted by @Krishnazy in https://github.com/sherlock-project/sherlock/issues/243#issuecomment-552005002_

[2019-11-09 03:35] hoadlck commented on #349
This is an issue with your environment, not Sherlock itself.  Did you try any of the suggestions in the other thread?

[2019-11-11 16:00] MeowDieKatze opened #352 "Getting several syntax errors when trying to open sherlock.py"
kilian@R61i:~/sherlock$ python3 sherlock.py -h
  File "sherlock.py", line 66
    Fore.GREEN + f"] {title}" +
                            ^
SyntaxError: invalid syntax

[2019-11-11 16:03] MeowDieKatze commented on #352
[http://i.imgur.com/INRPO6Z.png](url)
Screenshot cause ^ not accurate.

[2019-11-11 16:21] sdushantha commented on #352
@MeowDieKatze Which python version are you using? You have to use Python3.6 or above for Sherlock to work.

[2019-11-11 16:48] MeowDieKatze commented on #352
kilian@R61i:~/sherlock$ python -V
Python 2.7.12
kilian@R61i:~/sherlock$ python2 -V
Python 2.7.12
kilian@R61i:~/sherlock$ python3 -V
Python 3.5.2
kilian@R61i:~/sherlock$ python3.6 -V
Python 3.6.8
kilian@R61i:~/sherlock$ python3.6 sherlock.py -h
Traceback (most recent call last):
  File "sherlock.py", line 22, in <module>
    from colorama import Fore, Style, init
ModuleNotFoundError: No module name

[2019-11-11 16:49] MeowDieKatze commented on #352
<a href="http://i.imgur.com/17fTyCq.png">
  <img src="http://imgur.com/17fTyCql.png" />
</a>

[2019-11-11 16:52] MeowDieKatze commented on #352
and this is my OS info:

<a href="http://i.imgur.com/2Urhcuq.png">
  <img src="http://imgur.com/2Urhcuql.png" />
</a>

[2019-11-11 17:00] sdushantha commented on #352
![Screenshot 2019-11-11 at 17 59 36](https://user-images.githubusercontent.com/27065646/68605631-0bad9500-04ad-11ea-82d4-c750c9c8677f.png)
@MeowDieKatze  You are missing `colorama`. Try this:
[code]

Or this:
[code]

[2019-11-12 20:10] ghost opened #353 "Make Sherlock Available On PyPi"
Hi,

Would be nice to use the awesome project Sherlock as a library and document it ...

Cheers,
X

[2019-11-12 22:01] Alar31000 opened #354 "False positive for MeetMe"
I checked with fake names and everytime it says that there is an existing profile. They have changed their website. It's meet.me not meetme.com !

[2019-11-13 03:36] hoadlck commented on #354
You are going to have to provide some details.

When I try to connect to meet.me, I get a warning about the certificate not matching.  The certificate does say meetme.com.  Even when I go thru to meet.me, I get a re-direct to meetme.com.  So, I don't think that their website has changed.

As far as detection goes, the site is working for the tests.  Username `blue` is found, while `noonewouldeveru

[2019-11-13 03:39] hoadlck commented on #353
Yes, it would.  There is work ongoing to update Sherlock so that it can be packaged like a normal Python module.  This will allow it to be placed on PyPi.  But, it is not done yet.

[2019-11-13 12:03] Alar31000 commented on #354
![20191113_065855](https://user-images.githubusercontent.com/46691211/68762082-73fe9280-05e3-11ea-94fb-d20b204b0d69.jpg)
![20191113_065322](https://user-images.githubusercontent.com/46691211/68762109-7fea5480-05e3-11ea-9013-06feb6b72f65.jpg)
![20191113_065728](https://user-images.githubusercontent.com/46691211/68762154-9db7b980-05e3-11ea-8ac7-1590761ca942.jpg)
![20191113_065128](https://user-image

[2019-11-13 12:07] Alar31000 commented on #354
Here are my tests ! Let me know what you think ? I checked the "oktsetset1241123" username twice with different results !! Without mentioning the other fake users that gave me a fake positive.

[2019-11-13 13:15] hoadlck commented on #354
I tried `oktsetset1241123` 4 times while looking scanning all of the sites.  Every time Sherlock reported that the username did not exist.  I also tried doing a query for just the MeetMe site like the following:
```python -u sherlock.py --site meetme oktsetset1241123```
I probably did that 20 times, and it was always good.

Try the following command:
```python3 -u sherlock.py --site meetme oktsets

[2019-11-13 13:33] x0rzkov commented on #353
Here is a good example of modularity https://github.com/iojw/socialscan

I started to do it https://github.com/x0rzkov/sherlock but it sounds that you are further in the task.

Do you need some help ?

Cheers,
X

[2019-11-13 13:34] 2leo2 opened #355 "errors when trying to use sherlock"
![image](https://user-images.githubusercontent.com/57715523/68768385-60900d80-065d-11ea-85b5-27ca40f149f9.png)

[2019-11-13 13:50] Alar31000 commented on #354
On first try it says the following "username,name,url_main,url_user,exists,http_status,response_time_ms
Oktsetset1241123,MeetMe,https://www.meetme.com/,https://www.meetme.com/Oktsetset1241123,yes,200,385"

[2019-11-13 13:55] Alar31000 commented on #354
On second try it says the following "username,name,url_main,url_user,exists,http_status,response_time_ms
oktsetset1241123,MeetMe,https://www.meetme.com/,https://www.meetme.com/oktsetset1241123,no,302,270" so http status is 302 and response time is 270. So why when i write the first character in uppercase it gives me a false positive ? Otherwise it says that it's not found !

[2019-11-14 13:29] hoadlck commented on #354
I think that there is something intermittent with your connection.  Something is getting in the way every once and a while.

Open up the sherlock.py file.  If you are using the latest version, insert a print statement as I show in the below screenshot (this is in the body of the main sherlock() function):

![image](https://user-images.githubusercontent.com/1666888/68860676-9d84f000-06af-11ea-9260-

[2019-11-15 17:16] Shashank-003 opened #356 "Execution error"
Hey,

while executing the sherlock, i get following error.
Please help me out as im new to linux

[code]

[2019-11-15 19:24] sdushantha commented on #356
@Shashank-003 It looks like you are missing the dependency `requests`.
Have you installed all the dependencies? If not, run this command:
[code]
This should install all the dependencies that is needed for Sherlock to work properly.

If that does not fix your problem, and you are using Kali Linux, Ubuntu, Debian or a Linux distribution that uses `apt` as it's package manager, you should try to rein

[2019-11-16 04:21] Shashank-003 commented on #356
Thanks a lot, Siddharth

I have tried your suggestion. it cleared the issue but new one has arised.

$ sudo python3 sherlock.py --help
  File "sherlock.py", line 66
    Fore.GREEN + f"] {title}" +
                            ^
SyntaxError: invalid syntax

Can you let me know why this one is occuring?
                                     Regards,
                                           Shashank

[2019-11-16 07:18] sdushantha commented on #356
@Shashank-003 You are most likely getting that error because you are not using Python3.6 or higher. You **must** use Python3.6 or higher in order for Sherlock to work properly.

I think you are using Ubuntu, Kali Linux or Debian, so I would advice you to read [this](https://www.tecmint.com/install-python-in-ubuntu/) article which shows you step by step instructions on how to install Python3.6 if y

[2019-11-16 12:29] hoadlck commented on #355
Please follow the [installation instructions](https://github.com/sherlock-project/sherlock/blob/master/README.md) in the readme.  You do not have the supplementary modules required for Sherlock to work.

[2019-11-16 12:39] hoadlck commented on #353
Umm... What is this technique that you are using with socialscan?  100% accurate?  Sherlock has always been fragile in its detection of usernames.  If you have a technique that is better, this could change everything!

[2019-11-17 07:34] Alar31000 commented on #354
When i added the code ! It gave an indentation error of some sort ! So what you can do is to try with a fake username with the first letter on uppercase !! Try "Oktsetset1241123" Instead of trying "oktsetset1241123" . Thank you 😊

[2019-11-17 08:41] Shashank-003 commented on #356
Dear Siddhartha

Thank you for your help. I was using python 3.5 and my pip3 was having some
issues. so updating python and reinstalling pip3 solve the problems. Thanks
a lot.
                                     Regards,
                                           Shashank Borude.
                                            +91-9420427079

On Sat, Nov 16, 2019 at 12:48 PM Siddharth Dushantha <
not

[2019-11-17 08:42] #356 closed

[2019-11-17 09:25] sdushantha commented on #356
No worries :)

[2019-11-17 12:29] hoadlck commented on #354
I thought that you were entering the same username and were getting different results?  But, you are actually changing the capitalization of the first letter?

Yes, their appears to be some issue with the MeetMe site where if the first character of the username is uppercase, it never finds the existing username.  You can make any other character upper case, and it finds it fine: it looks like it i

[2019-11-17 13:24] x0rzkov commented on #353
Yes, I agree with you, both are fragiles.... I worked on golang version of sherklock, https://github.com/tdh8316/Investigo, and false-positives are high. It was just to put you this repo to awareness... When do you think the refactoring gonna be ready ?

[2019-11-17 13:47] hoadlck commented on #353
I might have something by the end of the month.  Thanksgiving should give me some time to concentrate on this...it is hard to find time with work.

[2019-11-18 18:46] eanstandig41 opened #357 "Sherlock keeps freezing mid-program"
Everytime I run Sherlock it goes through about 10-15 websites and then just stops searching. I've reinstalled it twice and this keeps happening.

[2019-11-20 14:57] tautology0 opened #358 "Change/Disable Colours"
For those of us who don't use dark terminals (because white text on black leaves visual after images if you're astigmatic) the colours make the output impossible to see.

Can we have a switch to change the colours or disable them rather than them being hardwired?

[2019-11-20 20:33] sdushantha commented on #357
@eanstandig41 I just tried it, and it works perfectly fine. I am not really sure what the problem is.

Here are some ideas that came to my mind:
1. Your internet connection might a little slow or if you are using a proxy or a VPN, that could also cause the freezing.

2. If it is freezing when it is trying to connect to a site, then it might that it takes longer to connect to it due to your country

[2019-11-21 15:36] sdushantha commented on #358
@tautology0 This seems like a very good idea. @hoadlck also mentioned a while back that it would be nice to remove the colors

[2019-11-23 21:26] Niagara1000 opened #359 "demo link in readme.md"
In the readme.md file , when I click on the Demo link, a message pops up saying that it is not a secure connection and that criminals might steal information. Anyone else have this issue ?

[2019-11-24 00:07] hoadlck commented on #359
Their SSL certificate expired on 2019-11-23.  They are using Let's Encrypt, but they must not have set up the cron job that automatically renews it.

I am not sure what to do with this.  If they don't renew the certificate somewhat soon, we should probably remove the link.

@FlorianDietz You added the link to elody.com originally.  Do you know what is up with the site?

[2019-11-24 05:15] demonshead opened #360 "ERROR: Cannot uninstall 'stem'."
Found existing installation: stem 1.6.0
ERROR: Cannot uninstall 'stem'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

[2019-11-24 12:45] hoadlck commented on #360
What does this have to do with Sherlock?  It sounds like some issue with your environment.

I would try StackOverflow.  I found this question that may be similar: [PIP: “Cannot uninstall 'ipython'. It is a distutils installed project and thus we cannot accurately determine…”](https://stackoverflow.com/questions/50421287/pip-cannot-uninstall-ipython-it-is-a-distutils-installed-project-and-thus-w)

[2019-11-25 01:12] robert-7 opened #362 ""Illegal Username Format For This Site!" instances should not be shown when the `--print-found` parameter is given"
Currently, I can ignore results that are not found using the `--print-found` parameter. I'd like to use, say, `--print-legal` to only return hits from sites for which the username is of the legal format. For example, adding the intended parameter would change the results from something like so:
[code]
to something like so:
[code]
I'm happy to make the change since it's quite similar to what was do

[2019-11-25 01:20] hoadlck commented on #362
If a username is illegal, isn't that the same as not being available?  Isn't that the same as *not* being found?

It seems like `--print-found` should not print out illegal formats for sites.  If the user only wants to print out sites where a username has been found, then usernames with illegal formats are definitely not interesting.  So, I think this is a bug.

[2019-11-25 01:37] robert-7 commented on #362
@hoadlck , from a user's perspective, I'd say you're correct: an illegal username will never be found and, therefore, I just want to ignore it all the same.

As the creator of this ticket, should I rename this ticket, or close and recreate a new ticket with the better description?

[2019-11-25 01:41] hoadlck commented on #362
I would just rename it.

[2019-11-26 01:09] Niagara1000 commented on #264
![image](https://user-images.githubusercontent.com/46457863/69591058-57306a80-0fa6-11ea-8019-7700d63ca6dd.png)

[2019-11-26 01:14] Niagara1000 commented on #264
![image](https://user-images.githubusercontent.com/46457863/69591268-1422c700-0fa7-11ea-97d1-feefa6b40e22.png)

[2019-11-26 01:19] Niagara1000 commented on #264
![image](https://user-images.githubusercontent.com/46457863/69591479-bd69bd00-0fa7-11ea-9899-c87779ccb905.png)

[2019-11-26 01:22] Niagara1000 commented on #264
![image](https://user-images.githubusercontent.com/46457863/69591638-281af880-0fa8-11ea-8819-b40b1b59edcd.png)

[2019-11-26 01:27] Niagara1000 commented on #264
![image](https://user-images.githubusercontent.com/46457863/69591845-e2aafb00-0fa8-11ea-9201-d207327ec01d.png)

[2019-11-26 01:29] Niagara1000 commented on #264
![image](https://user-images.githubusercontent.com/46457863/69591922-27369680-0fa9-11ea-8c97-c3135526ab40.png)

[2019-11-26 01:34] Niagara1000 commented on #264
![image](https://user-images.githubusercontent.com/46457863/69592114-ce1b3280-0fa9-11ea-8faa-263394cabc64.png)

[2019-11-26 01:37] Niagara1000 commented on #264
![image](https://user-images.githubusercontent.com/46457863/69592270-4b46a780-0faa-11ea-8d84-f0727c34937d.png)

[2019-11-26 01:38] Niagara1000 commented on #264
I listed my ideas above. I hope you like them ! if you are looking for a specific type of design, let me know and I will try my best to make it look that way!

[2019-11-26 03:13] compSciKai opened #364 "Edits on documentation made for university student project"
For a university school project I will be making some edits to your documentation which will aim to make writing more technical.

Please disregard if you would like :)

[2019-11-26 07:46] TheYahya commented on #264
Thank you @Niagara1000 for your effort , These looks awesome, We will let you know.

[2019-11-26 11:53] sdushantha commented on #364
Thank you for doing this.
I will be closing this issue to clean the clutter.
Again, we really appreciate your contribution :)

[2019-11-26 11:53] #364 closed

[2019-11-28 08:58] Czechball opened #369 "Dreamstime.com returns http status 410 on existing profiles"
Dreamstime.com is a site dedicated for sharing stock photos and similar multimedia.
It has over 27 million user accounts, so I think it might be a valuable addition to Sherlock.

However, I ran into a small problem when trying to add it:
While [non existing usernames](https://www.dreamstime.com/noonewouldeverusethis_info) return http status code 404, which is good, [existing usernames](https://www

[2019-11-28 13:04] hoadlck commented on #369
Well, that is weird.  I think these usernames really have some kind of problem.  Yet, they actually are claimed...could this mean that they are in the process of being deleted?

The problem is not global.  If you look at the username [here](https://www.dreamstime.com/artistashmita_info), you do get a clean 200 status code.

But, there is still an issue.  Sherlock would indicate that a username wit

[2019-11-28 19:16] bzecirov opened #371 "Incorrect output if "."(dot) appears in username"
Whenever you try to search a username including a dot, certain websites are always marked as found. I first tried my personal username and then searched some random stuff with a dot and always these websites are marked as found:
- Academia.edu
- AskFM
- Chatujme.cz
- Coderwall
- Flightradar24
- House-Mixer.com
- IFTTT
- Trakt

[2019-11-29 13:26] hoadlck opened #373 "Tor Support On Windows & Linux"
What is up with the Tor support on Windows?  Or in Linux?  Does it actually work right for people?

While doing the restructuring, I am testing in more depth as I change the code.  And, I discovered that Tor requests were not working for me (I did have the Tor Browser installed).

When I tried to run a query with Tor, I got an uncaught exception that said the following:
`OSError: 'tor' isn't avail

[2019-11-29 14:10] hoadlck commented on #362
Addressed with #372.

[2019-11-29 14:10] #362 closed

[2019-11-29 14:43] LameLemon commented on #373
I tried this on Linux Mint 19

I had to first install tor
[code]
Enable `Control port` by uncommenting the line in`/etc/tor/torrc`.
Then stop tor from running
[code]

Sherlock gave the correct results using `--tor` but when I included the `--unique-tor` flag I wasn't able to get a single result despite leaving it to run for around 12 minutes. No changes were made to the source code, I'm using an u

[2019-11-29 22:05] hoadlck opened #374 "Proxy List Support"
While doing the restructuring, I am testing in more depth as I change the code. And, I am trying to grok how the proxy options work.  Specifically, how the proxy list works.  Or, does not work.

There is code in the main function that randomly selects proxies from a list, but it does not actually use the result.  This was noticed in #292.  It looks like the only place where the proxy list is used

[2019-11-30 01:53] hoadlck commented on #374
I entered the issue earlier based on analyzing the code, but I did some testing and confirmed that the proxy list is not working.

It took me a while to find a site that would give me proxy IP addresses that I could use.  But, I eventually found [this one](http://spys.one/free-proxy-list/US/), which seemed to work.

I also looked at the `check_proxy_list()` function, and gave some thought about ho

[2019-11-30 10:46] torerobo opened #376 "Add "Gpsies Search" Source"
Everything is simple in the popular Gpsies maps, you can find any nickname at
https://www.gpsies.com/mapUser.do?username=XXXXXXXXXXXXX

**XXXXXXXXXXXXX** - where xx is any nickname.

Please add this to Sherlock.

[2019-11-30 11:11] torerobo opened #377 "Add "Habr Search" Source"
**Habr.com** is one of the most popular resources in the CIS (similar to reddit).

https://habr.com/ru/users/Boomburum/
where "Boomburum" any nickname

Please add to Sherlock

[2019-11-30 13:16] torerobo opened #378 "add some popular resources"
1) Pikabu (analog reddit CIS)
https://pikabu.ru/@username
2) Openstreetmap
https://www.openstreetmap.org/user/username

**username** name any username.

Please add to Sherlock

[2019-11-30 16:43] #378 closed

[2019-11-30 16:46] sdushantha commented on #378
@torerobo Added those sites :)

Next time, could please you make a separate issue for each site just like you did with #376 and #377?
Thanks 😄

[2019-11-30 16:54] #377 closed

[2019-11-30 16:54] sdushantha commented on #377
@torerobo Thank you for the request!
We have added it to Sherlock now 👍

[2019-11-30 18:28] #376 closed

[2019-11-30 21:30] alt-romes opened #380 "macOS invalid JSON loaded from file?"
<img width="735" alt="Screenshot 2019-11-30 at 21 30 25" src="https://user-images.githubusercontent.com/21295306/69906259-a61c3c80-13b8-11ea-9ab3-f5fc86aafe0a.png">

[2019-11-30 21:42] krionical opened #382 "Bad Json? No len?"
Fails on arch linux derivative with the following:

sudo python3 sherlock.py user123
Traceback (most recent call last):
  File "sherlock.py", line 612, in <module>
    main()
  File "sherlock.py", line 575, in main
    results = sherlock(username, site_data, verbose=args.verbose,
  File "sherlock.py", line 168, in sherlock
    executor = ThreadPoolExecutor(max_workers=len(site_data))
TypeError: ob

[2019-11-30 21:55] hoadlck commented on #380
There were some regular expression checks for Twitter and Instagram that were added on master which had a bad format.  They made the JSON invalid.

I just remove the entries for now and pushed that onto master.  The change that was added needs to be tested before it is merged in.

[2019-11-30 21:55] hoadlck commented on #382
There were some regular expression checks for Twitter and Instagram that were added on master which had a bad format.  They made the JSON invalid.

I just remove the entries for now and pushed that onto master.  The change that was added needs to be tested before it is merged in.

[2019-11-30 21:55] #382 closed

[2019-11-30 22:04] #380 closed

[2019-12-01 08:16] torerobo opened #385 "Add search on sports social network "Sports tracker""
**Sports tracker** - a world-famous social network for athletes

https://www.sports-tracker.com/view_profile/username

**username** - any nickname.

[2019-12-01 09:01] torerobo opened #387 "Can I try porting Sherlock> Termux?"
Android 6. Terminal Termux compilation error.

[LOG](https://pastebin.com/LLJpXJAM)

[2019-12-01 09:39] sdushantha commented on #387
It works in Termux for me.
I saw that you got errors when you did:
[code]
I also got that, so I had to install some of the requirements manually.
I think this problem has to do with Termux and `pip`, not Sherlock.
Let the dev of Termux know by creating an issue on one of their repos

----
Here is proof that Sherlock works on Termux :)
![Screenshot_20191201-103334](https://user-images.githubusercon

[2019-12-01 15:40] torerobo commented on #387
Sherlock runs on Termux.  Before porting install libcrypt.

[2019-12-01 15:41] #387 closed

[2019-12-02 13:57] LameLemon opened #388 "Username checks on Flightradar24 returns false positves"
Usernames that result in a false positive:
* with a dot (.) - e.g. "jeb.brooks" (#371 )
* longer than 20 characters ending with a number e.g. "abcdefghijklmsnopqrt7"

I am unable to find a way to register a specific username on their website nor can find a source on what username limitations they check for. If I do I'll update this issue and work on a regex check.

[2019-12-04 10:53] torerobo opened #391 "Add search "chess.com""
[code]

[2019-12-04 11:01] torerobo opened #392 "Sites with false positives when searching for a nickname."
Bad.

https://www.producthunt.com/

https://www.gumroad.com/

https://virgool.io/

https://www.wattpad.com/

https://basecamphq.com

https://buymeacoff.ee/

https://repl.it/

https://vsco.co/

UPD: Perhaps the main reason, my user agent is Termux / RU.  Check for a short time.

[2019-12-04 11:12] torerobo opened #393 "Add search "yandex_market""
[code]

[2019-12-04 11:17] torerobo opened #394 "Add search "irecommend.ru""
[code]

[2019-12-04 11:19] torerobo opened #395 "Add search "otzovik""
[code]

[2019-12-04 11:26] torerobo opened #396 "Add search "freelance""
[code]

[2019-12-04 11:31] torerobo opened #397 "Add search "linux.org.ru""
[code]

[2019-12-04 11:34] torerobo opened #398 "Add search "geocaching.com""
[code]

[2019-12-04 11:48] torerobo opened #399 "Add search "football""
[code]

[2019-12-04 11:50] sdushantha commented on #391
@torerobo Since you have already put together the JSON data, could you make a PR instead of creating an issue?

Also, make sure you have tested that they your error checking returns the correct results.

Thanks :)

[2019-12-04 12:07] torerobo commented on #391
1. Yes, I checked the results, everything is fine.
2. I'm new to Github, alas, I won’t figure out (I have a Termux smartphone) how to create a "PR".

[2019-12-04 13:34] torerobo opened #400 "Add search "livelib""
[code]

[2019-12-04 13:56] sdushantha commented on #391
@torerobo No problem I can do it my self and thank you for adding putting together the JSON data 👍

[2019-12-04 13:58] torerobo opened #401 "Add search "couchsurfing""
[code]

[2019-12-04 14:13] #401 closed

[2019-12-04 14:13] #400 closed

[2019-12-04 14:14] #399 closed

[2019-12-04 14:14] #398 closed

[2019-12-04 14:14] #397 closed

[2019-12-04 14:14] #396 closed

[2019-12-04 14:14] #395 closed

[2019-12-04 14:14] #394 closed

[2019-12-04 14:39] #391 closed

[2019-12-04 14:39] #393 closed

[2019-12-04 18:07] paulodiovani commented on #235
Please, turn travis-ci on for https://travis-ci.com/sherlock-project/sherlock/

I can update the readme after that.

[2019-12-05 05:25] torerobo opened #406 "Add search "shoolteacher""
[code]

[2019-12-05 07:02] torerobo opened #407 "Add search "opennet""
[code]

[2019-12-05 07:16] torerobo opened #408 "Add search "toster""
[code]

[2019-12-05 08:39] torerobo opened #410 "Add search "moikrug""
[code]

[2019-12-05 09:38] torerobo opened #411 "Add search "my_mail.ru""
https://my.mail.ru/list/nick/
*nick - any nickname

Alexa Rank 55.

[2019-12-05 10:14] LameLemon commented on #406
Granted they work, why not submit these are pull requests?

[2019-12-05 10:52] torerobo opened #412 "Add search "TamTam_messenger"
[code]

[2019-12-05 10:58] torerobo commented on #406
https://github.com/sherlock-project/sherlock/issues/391#issuecomment-561615664

[2019-12-05 10:58] sdushantha commented on #406
@LameLemon He/she does not know how create PRs and they are using a phone, so its some work

[2019-12-05 10:59] #385 closed

[2019-12-05 11:07] #406 closed

[2019-12-05 11:08] #407 closed

[2019-12-05 11:08] #408 closed

[2019-12-05 11:09] #410 closed

[2019-12-05 11:09] #412 closed

[2019-12-05 15:38] Thomas-Smyth opened #413 "Adding Strava and StravaClub"
I have been looking into adding [Strava](https://www.strava.com/), a social media site for runners, cyclists, rowers, etc., to the site lists, however, the current detection methods seem to be insufficient and therefore if the addition is to be made then a further discussion on how it can be implemented is required.

Strava has vanity URLs that can be used to find users, for example, mine is `http

[2019-12-05 16:40] torerobo opened #414 "Add search "Periscope""
[code]

[2019-12-05 16:46] torerobo opened #415 "Add search "Smule""
[code]

[2019-12-05 17:14] torerobo opened #416 "Add search "F3 cool""
[code]

[2019-12-05 17:34] torerobo opened #417 "Add search "Insanejournal""
[code]

[2019-12-05 17:57] #417 closed

[2019-12-05 17:58] #416 closed

[2019-12-05 17:58] #414 closed

[2019-12-05 18:02] #415 closed

[2019-12-05 18:20] Czechball commented on #411
I noticed that you can check the usernames also under /mail, such as:

https://my.mail.ru/mail/nick/

However, these are different than from /list:

https://my.mail.ru/list/nick/

How does this work? Are there multiple "areas" of users?

[2019-12-05 19:09] torerobo commented on #411
Yes, these are "several areas" that belong to the same portal "mail.ru".  For example, mail, games, news - one nickname.  Work, hobbies, etc. - is another nickname (usually this is one person).

[2019-12-05 19:12] torerobo opened #418 "Add search "pokerclub""
[code]

[2019-12-05 19:30] torerobo opened #419 "Add search "Audiojungle""
[code]

[2019-12-05 19:40] torerobo opened #420 "Add search "drive2". Motor-car CIS"
[code]

[2019-12-05 20:28] torerobo commented on #419
I noticed that through **Tor** (Orbot / Android) this site returned the real nickname “**Not Found**”, and not “error”.  Perhaps some added Internet resources skip real nicknames due to the use of Tor.  Usually, if the site is not friends with Tor, a "connection error".  Maybe such information should be added to the **wiki**?

[2019-12-05 20:46] Czechball commented on #419
I just tested the username checking through regular Tor browser on Windows as well as the -t option in Sherlock. Both are working fine.

[2019-12-05 21:08] torerobo commented on #419
What does it mean that it’s working fine?  If there is no access to the site, usually returns "error".  In a specific example: Termux / Orbot / output node Spain / "Not Found!"

[2019-12-06 06:13] #418 closed

[2019-12-06 06:13] #419 closed

[2019-12-06 06:13] #420 closed

[2019-12-06 08:55] torerobo opened #422 "Add search "ramblerdating""
[code]

[2019-12-06 09:14] torerobo opened #423 "Add search "YandexCollection""
[code]

[2019-12-06 09:50] torerobo opened #424 "Add search "SportsRU""
[code]

[2019-12-06 10:19] torerobo opened #425 "Add search "Pinkbike""
[code]

[2019-12-06 11:07] torerobo opened #426 "Add search "interpals_dating""
[code]

[2019-12-06 11:29] torerobo opened #427 "Add search "Sporcle""
"Sporcle": {
    "errorType": "status_code",
    "rank": 2677,
    "url": "https://www.sporcle.com/user/{}/people",
    "urlMain": "https://www.sporcle.com/",
    "username_claimed": "blue",
    "username_unclaimed": "noonewouldeverusethis7"
  },

[2019-12-06 14:39] torerobo opened #428 "Add search "championat""
[code]

[2019-12-06 15:20] torerobo opened #429 "Add search "metacritic""
[code]

[2019-12-06 18:45] #422 closed

[2019-12-06 18:45] #423 closed

[2019-12-06 18:45] #424 closed

[2019-12-06 18:45] #425 closed

[2019-12-06 18:45] #426 closed

[2019-12-06 18:45] #427 closed

[2019-12-06 18:45] #428 closed

[2019-12-06 18:45] #429 closed

[2019-12-06 18:52] sdushantha commented on #313
Its been a while now, I think I'll just close it

[2019-12-06 18:52] #313 closed

[2019-12-07 07:22] torerobo opened #430 "Sherlock long work when the site is inaccessible"
My ISP is blocking access to the "pling" site (I think this is the case for the entire location ru).

Because of this, Sherlock is slow: the delay due to stumbling on the pling site is 5-7 minutes - unacceptable.
Also in ru location, the Internet provider blocks "telegram", however, sherlock quickly gives an "error" and run further.

The simplest solution is to remove the site from "data.json", sh

[2019-12-07 13:22] hoadlck commented on #430
Pull request #403 has added a timeout to avoid the long delay.  But, I have not examined it.

In the end, I do not think that we should include sites that have such horrible performance.  It does no one any good to have sites that no one is interested in slowing down interesting results.

There is a point where it is just not valuable to have results from every site.  Some users are not going to c

[2019-12-07 15:14] torerobo commented on #430
Yes, the patch works successfully.  I confirm.

[2019-12-07 17:21] #430 closed

[2019-12-07 20:38] Jan200101 opened #431 "wikidot always responds as found"
I've tested sherlock with various names and found that wikidot is always shown to have an account with those names even if they do not exist

[2019-12-08 08:03] torerobo opened #432 "Recent updates broke sherlock"
Apparently an error somewhere in data.json.

[code]

[2019-12-08 08:12] torerobo commented on #432
Sorry, false alarm: wrong copy-paste passed from chrome android

[2019-12-08 08:12] #432 closed

[2019-12-08 08:40] torerobo commented on #431
I also drew attention to this, for example, YandexMarket almost always gives out "found" on a nonexistent nickname.  However, if you do not change anything, then YandexMarket on the same nonexistent nickname will give out "not found".  Perhaps the site always behaves differently.

[2019-12-08 09:21] Abhimanyu8 opened #433 "website cash.me always reports as found"
I have tried 17 usernames, till date and in all of them sherlock finds an account in 'cash.me', all of which are false positives and cash.me does not contain the username found by sherlock on their site .

[2019-12-08 10:43] torerobo opened #434 "Add search "Spletnik""
[code]

[2019-12-08 11:34] #434 closed

[2019-12-08 12:00] hoadlck commented on #432
Whew! I was going thru my e-mails after waking up in the morning, and saw this.  Glad everything is OK. :)

[2019-12-08 13:07] torerobo opened #435 "Add search "baby""
[code]

[2019-12-08 13:21] hoadlck commented on #433
I always get a connection error.  I think the site needs to be removed.

[2019-12-08 13:34] hoadlck commented on #433
Looks like CashMe changed their site so that a username looks like https://cash.me/$Jenny instead of https://cash.me/jenny.  The 301 redirect was getting interpreted as a success status code, so it is reported as found.

I updated the URL and pushed the change to master.

However, I still get errors connecting more times than not.  Does this work any better?

[2019-12-08 13:51] torerobo opened #436 "Add search "trashbox""
[code]

[2019-12-08 19:54] torerobo opened #437 "Add search "HackTheBox""
[code]

[2019-12-08 20:13] torerobo opened #438 "Add search "leasehackr""
[code]

[2019-12-08 20:25] torerobo opened #439 "Add search "akniga""
[code]

[2019-12-08 21:11] torerobo opened #440 "Add search "GunsAndAmmo""
[code]

[2019-12-09 14:37] LameLemon commented on #433
I've tried multiple usernames, it looks like the new commit fixed the issue, no errors on my end.

[2019-12-09 14:58] LameLemon commented on #431
Wikidot works as expected for me, below is a list of usernames I tried both found and not found.
[code]

Which usernames did you find give false positives so I can test them out. Thanks : )

[2019-12-09 16:47] Jan200101 commented on #431
testing was done on 35e8dd97e630740243661fd83a22da23f9376428
Originally when making this Issue it happened like stated before
`
[+] Wikidot: http://www.wikidot.com/user:info/radiden
`
a account is stated to exit when it doesn't
now that behavior seems to have reverted to how its intended without a change, perhaps
`
[-] Wikidot: Not Found!
`
I do not know what changed but I piped 7 other attempts i

[2019-12-09 16:47] #431 closed

[2019-12-10 05:01] Abhimanyu8 commented on #433
In my end, i found that the latest commit is still giving this issue, but now the cash.me output looks
like https://cash.me/$username instead of https://cash.me/username like it did before.

[2019-12-10 14:49] Czechball commented on #435
Note: babyRU actually returns 404 when visiting a non-existent username, "status_code" use is suggested

[2019-12-12 02:52] AL3INO opened #443 "RuntimeError: can't start new thread"
Everything was working fine on the previous build, now that I have upgraded I am receiving this error - `
Traceback (most recent call last):
  File "sherlock.py", line 649, in <module>
    main()
  File "sherlock.py", line 613, in main
    timeout=args.timeout)
  File "sherlock.py", line 255, in sherlock
    timeout=timeout
  File "/usr/local/lib/python3.7/dist-packages/requests_futures/sessions.p

[2019-12-12 04:01] hoadlck commented on #443
I am thinking that the naive way that Sherlock spawns a thread for all sites at the beginning of the query is overwhelming some people's computers. We now have enough sites that we are hitting this limit for a larger set of users.  This is probably the same problem noticed in #323.

This is something I am working on in the restructuring.

Could you try removing many of the entries in the data.json

[2019-12-12 04:09] AL3INO commented on #443
Ahh okay, that makes sense. I added a couple of my own sites, which is probably causing my Rasperry Pi to wig out. I will remove them for now, how long do you think it will take to solve this issue?

cheers

[2019-12-12 12:32] hoadlck commented on #443
Well...it won't take long, but I am tied up with my regular job.  I should have enough time over Christmas Holiday.

[2019-12-12 18:36] #435 closed

[2019-12-12 18:36] #436 closed

[2019-12-12 18:36] #437 closed

[2019-12-12 18:36] #438 closed

[2019-12-12 18:36] #439 closed

[2019-12-12 18:36] #440 closed

[2019-12-13 06:46] aoxhwjfoavdlhsvfpzha opened #445 "Does not find Facebook accounts"
Sherlock, through termux atleast, fails to find existing Facebook accounts under their usernames.
Haven't tried through a desktop environment as of yet.

[2019-12-13 07:51] phoenix467 opened #446 "Error when start sherlock"
![20191213_144708_HDR](https://user-images.githubusercontent.com/57005294/70780832-ff706c80-1db7-11ea-8ec8-18642bd894a1.jpg)

Can anyone help me? I dont know why this keep appearing.. :(

[2019-12-13 08:01] YOCE19 opened #447 "Help"
![Screen Shot 2019-12-12 at 9 44 31 PM](https://user-images.githubusercontent.com/58838309/70781992-621b2700-1d2a-11ea-92b1-421b4d0dc435.png)

Sorry ahead of time if this post doesn't belong here. Sherlock worked perfect for me last night but today I got this error at the end. Im guessing its environmental but can anyone tell what I might be doing wrong? I've been searching non stop all day trying

[2019-12-13 08:12] YOCE19 commented on #446
I didn't see this before I posted my thread but I'm having the same issue. Was working fine yesterday.

[2019-12-13 09:35] Czechball commented on #446
Please post a proper log, pasted from your terminal. Also try running the same command with the -vv options, so we can see what's going on.

[2019-12-13 10:31] Vincentimetr commented on #447
Hello, I got the same error:

`vince@DESKTOP-VJRUP2I:~/sherlock$ python3 sherlock.py Vincentimetr

[*] Checking username Vincentimetr on:
[-] ResearchGate: Illegal Username Format For This Site!
Traceback (most recent call last):
  File "sherlock.py", line 649, in <module>
    main()
  File "sherlock.py", line 613, in main
    timeout=args.timeout)
  File "sherlock.py", line 229, in sherlock
    i

[2019-12-13 10:31] boschhd commented on #447
There is an error in the data.json. Search for an additional space `" errorType"` and remove the space

[2019-12-13 10:35] Vincentimetr commented on #447
Thank you, line 2125 @YOCE19

[2019-12-13 10:38] boschhd commented on #446
Duplicate of #447

[2019-12-13 11:52] #447 closed

[2019-12-13 11:53] sdushantha commented on #446
Thanks to @boschhd, this issue as been fixed :)

[2019-12-13 11:53] #446 closed

[2019-12-13 12:28] LameLemon commented on #433
@Abhimanyu8  Can you give example that produce a false positive please.

[2019-12-13 18:35] #323 closed

[2019-12-13 18:40] MinePro120 commented on #443
#323 was resolved and closed.

[2019-12-15 06:02] anshumanv opened #450 "Running into exceptions midway"
Running into these exceptions midway of the execution, also verified that I own `anshumanv` on about.me but it still shows Not Found, did I miss anything?

![image](https://user-images.githubusercontent.com/21009455/70858770-6021b580-1f2e-11ea-8566-d6bf7c4b84b6.png)

[2019-12-16 00:48] AL3INO opened #451 "Add search "Redbubble""
"Redbubble": {
    "errorType": "status_code",
    "rank": 1469,
    "url": "https://www.redbubble.com/people/{}",
    "urlMain": "https://www.redbubble.com/",
    "username_claimed": "blue",
    "username_unclaimed": "noonewouldeverusethis77777"
  },

[2019-12-16 00:49] AL3INO opened #452 "Add search "WarriorForum""
"warriorforum": {
    "errorType": "status_code",
    "rank": 4678,
    "url": "https://www.warriorforum.com/members/{}.html",
    "urlMain": "https://www.warriorforum.com/",
    "username_claimed": "blue",
    "username_unclaimed": "noonewouldeverusethis77777"
  },

[2019-12-16 00:52] AL3INO opened #453 "Add search "AdobeForums""
"AdobeForums": {
    "errorType": "status_code",
    "rank": 53,
    "url": "https://forums.adobe.com/people/{}",
    "urlMain": "https://forums.adobe.com/",
    "username_claimed": "jack",
    "username_unclaimed": "noonewouldeverusethis77777"
  },

[2019-12-16 18:43] sdushantha commented on #451
Since you have provided the data, could you please make a PR?

[2019-12-18 15:32] torerobo opened #455 "Add search "radio_echo_msk""
[code]

[2019-12-18 16:07] torerobo opened #456 "Add search "seatracker""
[code]

[2019-12-18 16:29] torerobo opened #457 "Add search "dailykos""
[code]

[2019-12-18 16:39] torerobo opened #458 "Add search "travellerspoint""
[code]

[2019-12-18 16:52] torerobo opened #459 "Add search "sparkpeople""
[code]

[2019-12-18 17:04] torerobo opened #460 "Add search "fixya""
[code]

[2019-12-18 20:35] sdushantha commented on #456
@toddrob99 This site has a problem. When I visit the site, I get this page:
![image](https://user-images.githubusercontent.com/27065646/71121125-1f4fc800-21de-11ea-9069-e7c7ee349e39.png)
I tried with a VPN, and got the same page. Therefore I will not be adding this site to Sherlock.

If you find a fix for this please let me know so that I can add it later :)

[2019-12-18 20:35] #456 closed

[2019-12-18 20:39] #451 closed

[2019-12-18 20:39] #452 closed

[2019-12-18 20:39] #453 closed

[2019-12-18 20:39] #455 closed

[2019-12-18 20:39] #457 closed

[2019-12-18 20:39] #458 closed

[2019-12-18 20:39] #459 closed

[2019-12-18 20:39] #460 closed

[2019-12-18 20:50] sdushantha commented on #450
@anshumanv Hmmm...strange, I just ran Sherlock with `anshumanv` and had no errors. I am pretty sure it has to be something with your environment.

Also, could you please create a seperate issue about the false positive on about.me?

[2019-12-19 06:00] torerobo commented on #456
Sorry, maybe it was a temporary malfunction or maintenance. Zayt is available and I see no problems, you can see.

![1](https://user-images.githubusercontent.com/35532898/71148892-fced9700-223d-11ea-94d6-f157c74287f4.png)

[2019-12-19 07:21] sdushantha commented on #456
@torerobo I am still getting the same error. Could it be that this site only works in Russia?

[2019-12-19 10:52] torerobo commented on #456
The site crashes, I also got an error now. In fact, I checked it through vpn Europe was available.

[2019-12-19 16:29] jzr54732 opened #461 "Error"
:~/sherlock$ python3 -m pip install -r requirements.tx
/usr/bin/python3: No module named pip

[2019-12-19 16:50] jzr54732 opened #462 "File "sherlock.py", line 24, in <module> from requests_futures.sessions import FuturesSession ModuleNotFoundError: No module named 'requests_futures'"
File "sherlock.py", line 24, in <module>
    from requests_futures.sessions import FuturesSession
ModuleNotFoundError: No module named 'requests_futures'

[2019-12-19 18:10] sdushantha commented on #461
@jzr54732 Make sure you have `pip` installed.
Are you using Ubuntu, Debian, Kali Linux, or something similar? If you are, run this command to install `pip`
[code]

[2019-12-19 18:11] sdushantha commented on #462
@jzr54732 Have you made sure that you have installed all the needed dependencies?
Run the command below to install all the needed dependencies:
[code]

[2019-12-19 21:18] dpieski commented on #359
@hoadlck You can close now. They have a new cert as of 2019-11-24.

[2019-12-19 22:32] Scoder12 commented on #358
I can work on this

[2019-12-19 23:44] Scoder12 commented on #358
Added this in #463

[2019-12-20 07:58] torerobo opened #464 "Add search "hackster""
[code]

[2019-12-20 09:02] sdushantha commented on #358
Closing this issue as it has been fixed in #463 by @Scoder12 :)

[2019-12-20 09:02] #358 closed

[2019-12-20 12:27] torerobo opened #465 "Add search "datingRU""
[code]

[2019-12-20 13:00] luger19 commented on #462
I had the same problem and `sudo python3 -m pip install -r requirements.txt` worked for me. You can try `sudo pip3 install requests_futures` as well.

[2019-12-20 13:05] sdushantha commented on #462
@luger19 I advice you not to install python packages with `sudo`.
Source: https://askubuntu.com/a/802594

[2019-12-20 16:25] torerobo commented on #411
![1](https://user-images.githubusercontent.com/35532898/71268208-77f99f00-235d-11ea-9281-616d0ede86fe.png)

![2](https://user-images.githubusercontent.com/35532898/71268594-5cdb5f00-235e-11ea-9051-e27d65f1fb59.png)

[code]
Please add to Sherlock

[2019-12-20 17:09] #464 closed

[2019-12-20 17:10] #465 closed

[2019-12-20 19:16] torerobo opened #467 "Add search "pentestlaba""
[code]
![IMG_20191220_221417_117](https://user-images.githubusercontent.com/35532898/71285448-3fb28a80-2376-11ea-80ec-79b7450f4f14.jpg)

[2019-12-20 19:59] #467 closed

[2019-12-21 12:22] ArbitCode opened #468 "File "sherlock.py", line 22, in <module> from colorama import Fore, Style, init ModuleNotFoundError: No module named 'colorama'"
while executing by "python3 sherlock.py --help" there shows an error.
![Screenshot from 2019-12-21 17-46-32](https://user-images.githubusercontent.com/35590355/71307873-95407300-241a-11ea-8075-242c4312224c.png)

[2019-12-21 17:52] sdushantha commented on #468
@ArbitCode Are you sure you have installed all the needed dependencies? Because it looks like you have not installed `colorama`.
Run this command:
[code]

If the command above did not fix the issue, try running:
[code]

[2019-12-23 03:56] ArbitCode commented on #462
@sdushantha
it works perfectly after installing needed dependencies.
python3 -m pip install -r requirements.txt

[2019-12-23 03:57] ArbitCode commented on #468
thank you,sir

[2019-12-23 03:57] #468 closed

[2019-12-23 14:39] torerobo opened #470 "Add search "d3""
[code]

[2019-12-24 09:12] #470 closed

[2019-12-24 15:22] AL3INO commented on #443
Hey man, do you have any update on this?

Merry Christmas :’)

[2019-12-24 23:07] hoadlck commented on #443
Can you try it now with the latest content on master (version 0.10.0)?  In #471, I placed a limit on the number of threads that can be allocated.  And, it did not seem to make any difference on performance.

[2019-12-24 23:07] hoadlck commented on #357
Can you try it now with the latest content on master (version 0.10.0)? In #471, I placed a limit on the number of threads that can be allocated. And, it did not seem to make any difference on performance.

[2019-12-24 23:10] hoadlck commented on #308
Can you try it now with the latest content on master (version 0.10.0)? In #471, I placed a limit on the number of threads that can be allocated. And, it did not seem to make any difference on performance.

Other people have been having other symptoms, but I wonder if this bug may have been what you have been seeing.

[2019-12-24 23:10] hoadlck commented on #301
Can you try it now with the latest content on master (version 0.10.0)? In #471, I placed a limit on the number of threads that can be allocated. And, it did not seem to make any difference on performance.

Other people have been having other symptoms, but I wonder if this bug may have been what you have been seeing.

[2019-12-25 06:34] AL3INO commented on #443
It works great, thanks!
I'm surprised it has no effect on performance - my pi can run a full scan in 45 seconds now, though I hadn't timed it previously.

[2019-12-25 12:32] hoadlck commented on #443
It is a Christmas miracle! :-)

Well...actually, I guess it is not that surprising.  Trying to spawn so many threads ends up using too many resources.  Which can end up causing a given thread to be even slower than normal.  On my Windows 10 PC, there were some sites that did not detect usernames under the old version: Sherlock found more sites with a harder limit of threads.

Unfortunately, the te

[2019-12-25 12:32] #443 closed

[2019-12-25 12:59] Berghopper commented on #301
It seems to work fine, albeit very slow because of the insane amount of DNS requests (I don't think our home router likes me).

[2019-12-25 14:11] hoadlck commented on #301
Yay! Glad that it is working.

[2019-12-25 14:11] #301 closed

[2019-12-26 16:07] hoadlck commented on #374
I am removing the Proxy List support from the restructuring development.  Just keeping the code in its current (non-functional) state is complicating the restructuring.  The print() statement warning about the try of a new proxy would have to be moved to the logging area.

I also noticed that the recursive `get_response()` call does not pass its return tuples back up the call chain.  The existing

[2019-12-26 16:24] BlucyBlue commented on #374
Hi,

Thanks for letting me know. I’ve been busy with work for the last few months. I’ll take a look after the holidays and see if I can make it work.

Happy holidays

Sent from ProtonMail Mobile

On Thu, Dec 26, 2019 at 5:07 PM, Christopher Kent Hoadley <notifications@github.com> wrote:

[2019-12-28 10:38] 0xAL3INO opened #474 "Excessive CPU Usage"
Hey mate.

Is there any way I can limit the CPU power used by the script?

I am running on a raspberry pi 3 B+, and running 3 scans simultaneously maxes out my CPU to 100%. I need to reduce this, even if it means the scans will take a longer time.

Cheers

[2019-12-28 12:29] hoadlck commented on #474
When doing the change to limit the number of threads, I was thinking that it would be better to adjust the maximum number based on the computer's capabilities.  But, I am not quite sure how to do that calculation.  The `requests-futures` module allocates 8 workers by default.  And, in any case, I have been concentrating on the restructuring.

Could you try changing the number of workers in Sherloc

[2019-12-28 23:12] Cvar1984 opened #475 "Phone number & Emails"
Hello, this is very amazing application, but Is there any way to hunt social media account by email or phone number? Because some people have a lot of username. Thanks you.

[2019-12-28 23:29] hoadlck commented on #475
Sherlock just looks at public information.  Most sites hide e-mail addresses and phone numbers...because if they did not, then spammers would have yet another source of data.

If you have such personnel information (like a phone number or e-mail address), why not just ask the person about other social media sites they might belong to?

[2019-12-29 06:31] AL3INO commented on #474
I have knocked the max workers down to 5. This reduces the CPU usage to about 20% per scan, and takes about 20 seconds longer.

I am wondering if there is any ways we can improve the efficiency of the script.

[2019-12-29 11:36] torerobo opened #476 "Add search "Windy""
[code]

[2019-12-29 12:11] torerobo opened #477 "Add search "thingiverse""
[code]

[2019-12-29 12:19] torerobo opened #478 "Add search "opensource""
"opensource": {
    "errorType": "status_code",
    "rank": 12446,
    "url": "https://opensource.com/users/{}",
    "urlMain": "https://opensource.com/",
    "username_claimed": "red",
    "username_unclaimed": "noonewouldeverusethis7"
  },

[2019-12-29 13:28] torerobo opened #479 "Add search "nn""
[code]

[2019-12-29 14:01] torerobo opened #480 "Add search "ingvarr""
[code]

[2019-12-29 14:08] torerobo opened #481 "Add search "uid""
[code]
Please pay attention to "http" - this is not a mistake

[2019-12-29 14:22] torerobo opened #482 "Add search "satsisRU""
[code]

[2019-12-29 14:32] torerobo opened #483 "Add search "eintracht""
[code]

[2019-12-29 14:54] torerobo opened #484 "Add search "jeuxvideo""
[code]

[2019-12-29 15:50] torerobo opened #485 "Fix data.json"
The site has changed its meaning
https://github.com/sherlock-project/sherlock/issues/426

Now it works like this

[code]

[2019-12-29 17:35] hoadlck commented on #477
This site works, but it was took 28250 ms to find a known username, and 53653 ms for an unknown one.  That is incredibly slow.

[2019-12-29 17:41] hoadlck commented on #479
The urlMain attribute does not work.

[2019-12-29 17:42] hoadlck commented on #480
The "urlMain" attribute is not correct.

[2019-12-29 17:53] hoadlck commented on #485
Thanks for the fix!

[2019-12-29 17:53] #485 closed

[2019-12-29 17:53] #476 closed

[2019-12-29 17:54] #478 closed

[2019-12-29 17:54] #481 closed

[2019-12-29 18:00] torerobo opened #487 "Fix data.json (self-test revealed violations)"
Update:
Correction of a self-test error.
====

Bad
[code]
Fix
[code]

====

"**KiwiFarms**" Website - Permanent False positives
On a nonexistent profile, it displays many different messages in the browser.

====

Bad
[code]
Fix
[code]

====

 **"Gitee"**
[code]
Remove site. Nickname "blue" and the like in Latin do not exist.

====

"LOR"
Bad
[code]
Fix
[code]
====

http://fr.viadeo.com/en - Is the

[2019-12-29 21:30] torerobo opened #488 "Add search "fedoraproject""
[code]